.aboutus-page{
	.intro{
		padding-right: 10rem;
		&__title{
			color: #000;
			font-family: "Neo Sans Pro";
			font-size: 2.5rem;
			font-weight: 700;
			line-height: 1.2;
			margin-bottom: 2rem;
			margin-top: 3rem;
			padding-left: 160px;
			position: relative;
			&:before{
				@extend .before;
				height: 6px;
				width: 103px;
				background-color: $color44;
				border-radius: 6px;
				left: 0;
				top: 15px;
			}
		}
		&__text{
			color: $color43;
			font-size: 1.7rem;
			line-height: 1.76;
			margin: 2rem 0;
			padding-left: 160px;
		}
	}
	.about{
		grid-column-gap: 0;
		grid-row-gap: 0;
		&__cell{
			align-items: center;
			border: 2px solid #e4e6ea;
			display: flex;
			flex-direction: column;
			height: 277px;
			margin-bottom: -2px;
			margin-right: -2px;
			padding-top: 40px;
			text-align: center;
		}
		&__subtitle{
			font-size: 1.7rem;
			margin: 3rem 0 .6rem;
		}
		&__title{
			color: #000;
			font-family: "Neo Sans Pro";
			font-size: 2.2rem;
			font-weight: 500;
			line-height: 1.36;
		}

		&__pic{
			height: 70px;
		}
	}

	.intro-command-bg{
		background-color: #e1e7eb;
		padding-bottom: 15rem;
	}

	.intro-command{
		padding-top: 3.5rem;
	}

	.quote{
		$color: $color10;
		border-bottom: 5px solid $color;
		border-top: 5px solid $color;
		color: $color;
		font-family: "Neo Sans Pro";
		font-size: 4rem;
		font-weight: 700;
		line-height: 1.25;
		margin-top: 1.2rem;
		padding: 5.7rem 0 4.8rem;
		text-align: center;
		.pin{
			line-height: .4;
			font-weight: 500;
			height: 2.5rem;
			font-size: 10rem;
		}
	}

	.advantages{
		background-color: #27282c; 
		color: $color2;
		font-family: "Neo Sans Pro";
		padding: 9.6rem 0 12rem;

		&__text{
			font-size: 3rem;
			font-weight: 700;
			line-height: 1.36;
			position: relative;
			padding-top: 2rem;
			padding-bottom: 5rem;
			&:after{
				@extend .before;
				background-color: $color44;
				bottom: 0;
				height: 6px;
				left: 0;
				border-radius: 6px;
				width: 103px;
			}
		}
	}

	.advantage{
		&__item{
			font-size: 1.8rem;
			margin-top: 3rem;
			width: 50%;
		}
	}
}