.aboutus-page{
	background-color: #fff !important;
	padding-bottom: 0 !important;
	.intro{
		padding-right: 10rem;
		&__title{
			color: #000;
			@extend .neosans;
			font-size: 2.5rem;
			font-weight: 700;
			line-height: 1.2;
			margin-bottom: 2rem;
			margin-top: 3rem;
			padding-left: 160px;
			position: relative;
			&:before{
				@extend .before;
				height: 6px;
				width: 103px;
				background-color: $color44;
				border-radius: 6px;
				left: 0;
				top: 15px;
			}
		}
		&__text{
			color: $color43;
			font-size: 1.7rem;
			line-height: 1.76;
			margin: 2rem 0;
			padding-left: 160px;
		}
	}
	.about{
		grid-column-gap: 0;
		grid-row-gap: 0;
		&__cell{
			align-items: center;
			border: 2px solid #e4e6ea;
			display: flex;
			flex-direction: column;
			height: 277px;
			margin-bottom: -2px;
			margin-right: -2px;
			padding-top: 40px;
			text-align: center;
		}
		&__subtitle{
			font-size: 1.7rem;
			margin: 3rem 0 .6rem;
		}
		&__title{
			@extend .neosans;
			color: #000;
			font-size: 2.2rem;
			font-weight: 500;
			line-height: 1.36;
		}

		&__pic{
			height: 70px;
		}
	}

	.intro-command-bg{
		background-color: #e1e7eb;
		padding-bottom: 15rem;
	}

	.intro-command{
		padding-top: 3.5rem;
	}

	.quote{
		$color: $color10;
		border-bottom: 5px solid $color;
		border-top: 5px solid $color;
		color: $color;
		@extend .neosans;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1.25;
		margin-top: 1.2rem;
		padding: 5.7rem 0 4.8rem;
		text-align: center;
		.pin{
			line-height: .4;
			font-weight: 500;
			height: 2.5rem;
			font-size: 10rem;
		}
	}

	.advantages{
		background-color: #27282c; 
		color: $color2;
		@extend .neosans;
		padding: 9.6rem 0 12rem;

		&__text{
			font-size: 3rem;
			font-weight: 700;
			line-height: 1.36;
			position: relative;
			padding-top: 2rem;
			padding-bottom: 5rem;
			&:after{
				@extend .before;
				background-color: $color44;
				bottom: 0;
				height: 6px;
				left: 0;
				border-radius: 6px;
				width: 103px;
			}
		}
	}

	.advantage{
		&__item{
			font-size: 1.8rem;
			margin-top: 3rem;
			width: 50%;
		}
	}

	.ouroffice{
		color: $color43;
		font-size: 1.7rem;
		line-height: 1.76;
		padding: 11.5rem 0 10rem;

		&__text{
			padding-left: 10rem;
			padding-right: 6rem;
		}

		&__pic{
			margin-right: 1rem;
			padding-right: 20px;
			position: relative;
			img{
				box-shadow: 10px 17px 40px rgba(0, 51, 95, 0.15);
				display: block;
				max-width: 100%;
			}
			&:after{
				@extend .before;
				border-right: 11px solid $color44;
				right: 0;
				top: 0;
				height: 100%;
			}
		}
	}

	// products
	.products{
		.title-md{
			padding-bottom: 3.4rem;
		}
		&__list{
			grid-column-gap: 0;
			grid-row-gap: 0;
			margin-top: 4.5rem;
			.item-products{
				width: 100%;

				&:nth-child(-n+4){
					border-top-width: 2px;
				}
				&:nth-child(n+5){
					border-bottom-width: 2px;
				}

				&:first-child(),
				&:nth-child(5)
				{
					border-left-width: 2px;
				}

				&:last-child(),
				&:nth-child(4)
				{
					border-right-width: 2px;
				}

				@media (max-width: 991px){
					margin-left: 0;
					margin-right: 0;
				}
				@media (max-width: 768px){
					border-width: 0;
					border-left-width: 0;
					border-right-width: 0;
					border-bottom-width: 0;
					border-top-width: 0;

					width: 33%;

					border: 2px solid #e4e6ea !important;
					margin-bottom: -2px;
					margin-right: -2px;
				}
			}

			@media (max-width: 576px){
				.products__list{
					margin-left: 0;
					margin-right: 0;
				}
				.item-products{
					width: 50%;
				}
			}
			@media (max-width: 350px){
				display: block !important;
				.item-products{
					margin-bottom: 5px;
					margin-left: auto;
					margin-right: auto;
					padding-left: 15px;
					padding-right: 15px;
					width: 100%;
					&__pic{
						height: auto;
						padding-top: 10px;
						padding-bottom: 15px;
					}
				}
			}
		}

		&__item{
			height: 26.5rem;
			&-middle{
				.item-products{
					&__pic{
						margin-top: 5rem;
					}
					&__title{
						padding-top: 2.7rem;
					}
				}
			}
		}
	}

	.item-products{
		border: 1px solid  #e4e6ea;
		text-align: center;
		&__pic{
			min-height: 100px;
			margin-top: 3.8rem;
		}

		&__title{
			font-size: 1.8rem;
			font-weight: 500;
			@extend .neosans;
			line-height: 1.67;	
			padding-top: 1rem;	
		}
	}
	//  =/products


	.brands{
		&__list{
			grid-row-gap: 10px;
			grid-column-gap: 10px;
		}
		&__item{
			@extend .flex-center;
			background-color: #f5f6f8;
			height: 123px;
		}

		&__text{
			color: $color43;
			@extend .neosans;
			font-size: 2.5rem;
			line-height: 1.4;
			margin-top: 10.6rem;
			padding-bottom: 3.7rem;
		}
		.subtitle{
			color: #353535;
			font-size: 1.7rem;
			margin-bottom: 2.8rem;
		}
		#brands-carousel2{
			margin-top: 6rem;
			margin-bottom: 5rem;
			a{
				display: flex;
				height: 100%;
				min-height: 65px;
				img{
					margin: auto;
				}
			}
		}

		.main-brands{
			margin-bottom: 11rem;
		}
	}

	.ourservice{
		font-size: 2rem;
		margin-top: 17rem;
		padding-bottom: 12rem;
		&__item{
			display: flex;
			flex-wrap: wrap;
			margin: 1.25rem 0;
		}

		&__pic{
			min-width: 45px;
			margin-right: 1.5rem;
			text-align: center;
		}

		.text{
			padding-left: 10rem;
			padding-top: 1rem;
		}
	}

	.warranty{
		background-color: #f5f6f8; 
		padding: 7.5rem 0 10rem;
		h3{
			font-size: 2rem;
		}
		.text{
			font-size: 1.7rem;
			line-height: 1.76;
			padding-right: 80px;
			h3{
				margin-bottom: 1rem;
			}
			strong{
				color: #000;
			}

			ol{
				line-height: 1.47;
				margin: 2rem 0;
				li{
					margin: 2rem 0 3.2rem;
					padding-left: 53px;
					position: relative;

					&:before{
						background-color: $color44;
						color: #fff;
						font-size: 1.7rem;
						$s: 4rem;
						width: $s;
						height: $s;
						border-radius: $s;
						content: counter(li); /* В качестве данных используем счетчик */
						counter-increment:li; /* Увеличиваем значение счетчика на 1 */
						/* Позиционируем и стилизируем цифры */
						position:absolute;
						text-align: center;
						display: flex;
						align-items: center;
						justify-content: center;
						top:0px;
						left:0;
						flex-shrink: 0;
						font-weight: 700;
					}

				}
			}
		}
	}

	.fitinpart{
		margin-bottom: 2.5rem;
	}


}

#fitinpart-carousel{

	a{
		display: block;
		margin-right: 2px;
		position: relative;
		&:after,
		&:before
		{
			@extend .before;
			opacity: 0;
			transition: opacity .3s;
		}
		&:hover{
			&:after,
			&:before{
				opacity: 1;
			}			
		}

		&:before{
			background-color: rgba(0, 153, 255, .5);
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
		}
		&:after{
			background: url(../images/bigzoom.png) no-repeat;
			height: 136px;
			left: 50%;
			margin-left: -72px;
			margin-top: -72px;
			top: 50%;
			width: 135px;
		}
	}
	img{
		display: block;
	}

}

.fitinpart-manage{
	margin-top: 2.5rem;
	position: relative;
	padding-left: 160px;
	.arrows{
		display: flex;
		margin-left: 20px;
	}
	.text{
		color: #242830;
		font-size: 1.7rem;
		font-weight: 700;
	}
	#current{
		color: $color45;
	}
	.slick{
		&-arrow{
			left: 0;
			top: 2.5rem;
			margin-top: 0;
			position: static;
		}
		&-next{
			margin-left: 1.1rem;
			.icon{
				transform: rotate(180deg)				
			}
		}
	}
	@media (max-width: 1199px){
		padding-left: 0;
	}

}

.title-md{
	color: #000;
	@extend .neosans;
	font-size: 3rem;
	font-weight: 500;
	@media (max-width: 1399px){
		font-size: 2.6rem;
	}
	@media (max-width: 1199px){
		font-size: 2.4rem;
	}
	@media (max-width: 767px){
		font-size: 20px;
	}
}

.bl-line,
.bc-line
{
	position: relative;
	padding-bottom: 2.5rem;
	margin-bottom: 3rem;
	&:after{
		@extend .before;
		background-color: $color44;
		border-radius: 6px;
		bottom: 0;
		height: 6px;
		width: 103px;
	}
	@media (max-width: 767px){
		padding-bottom: 15px;
		&:after{
			width: 70px;
			height: 4px;

		}
	}
}

.bc-line{
	&:after{
		left: 50%;
		margin-left: -50px;
		@media (max-width: 767px){
			margin-left: -35px;	
		}
	}
}


.aboutus-page{
	@media (max-width: 1650px){
		.intro-command-bg{
			padding-bottom: 12rem;
		}
		.quote{
			font-size: 3.6rem;
		}

		.advantages__text{
			font-size: 2.4rem;
		}

		.brands__text{
			font-size: 2.2rem;
		}
	}

	@media (max-width: 1399px){
		.intro{
			&__title,
			&__text
			{
				padding-left: 110px;
			}
			&__title{
				&:before{
					width: 70px;
				}
			}
		}

		.quote{
			font-size: 3.2rem;
		}

		.intro-command-bg{
			padding-bottom: 8rem;
		}

		.advantages{
			padding: 6rem 0;
			&__text{
				font-size: 2.1rem;
				line-height: 1.5;
			}
		}

		.ouroffice__text{
			padding-left: 0;
			padding-right: 0;
		}

		.about{
			&__cell{
				height: 250px;
				padding-top: 30px;
			}
			&__title{
				font-size: 2rem;
			}
		}

		.warranty{
			padding-bottom: 5rem;
			padding-top: 3rem;
			.text{
				padding-right: 0;
			}
		}

		.products__list{
			margin-left: 0;
			margin-right: 0;
		}
	}

	@media (max-width: 1199px){
		.about__cell{
			background-color: #eef3f6
		}

		.advantages__text{
			font-size: 2rem;
		}

		.quote{
			font-size: 2.6rem;
			padding: 3.5rem 0;
			.pin{
				font-size: 6rem;
			}
		}

		.intro-command-bg{
			padding-bottom: 5rem;
		}

		.ouroffice{
			padding: 5rem 0;
		}

		.brands__text{
			margin-top: 5rem;
		}

		.ourservice{
			margin-top: 7rem;
			font-size: 1.8rem;
			padding-bottom: 8rem;
			.text{
				padding-left: 5rem;
			}
		}
	}

	@media (max-width: 991px){
		.intro{
			padding-right: 0;
		}

		.about{
			&__cell{
				width: 33%;
			}
		}

		.quote{
			font-size: 24px;
			border-bottom-width: 3px;
			border-top-width: 3px;
			padding: 30px 0;
		}

		.advantage__item{
			margin: 30px 10px 0;
			width: calc(33% - 20px);
		}

		.ouroffice{
			header{
				text-align: center;
			}
			.title-md{
				text-align: center;
				&:after{
					left: 50%;
					margin-left: -50px;
				}
			}
			&__pic{
				margin-top: 20px;
				margin-right: 0;
				padding-right: 0;
				text-align: center;
				img{
					margin-left: auto;
					margin-right: auto;
				}
				&:after{
					display: none;
				}
			}
		}


		.products__item{
			width: 25%;
			height: 250px;
		}

		.item-products{
			&__title{
				font-size: 16px;
				line-height: 1.5;
			}
		}

		.brands{
			&__item{
				width: calc(25% - 4px); 
				margin: 2px;
			}
		}

		.ourservice{
			padding-bottom: 40px;
			.text{
				padding-left: 2.4rem;
			}
		}

		.warranty{
			padding-bottom: 0;
			.text{
				margin-bottom: 30px;
			}
		}
	}


	@media (max-width: 767px){
		.intro-command{
			padding-top: 0;
		}
		.intro{
			&__title,
			&__text{
				padding-left: 0;
				&:before{
					display: none;
				}
			}
		}
		.quote{
			font-size: 20px;
		}

		.advantages{
			padding: 40px 0;
			&__text{
				font-size: 16px;
			}
		}

		.advantage__item{
			width: calc(50% - 40px);
		}

		.products{
			.title-md{
				padding-bottom: 18px;
			}
			&__item{
				width: 33%;
			}
		}

		.brands{
			&__item{
				width: calc(33% - 4px);
			}
			&__text{
				font-size: 18px;
			}
		}

		.ourservice{
			margin-top: 4rem;
		}
	}

	@media (max-width: 576px){
		.intro{
			&__title{
				font-size: 22px;
			}
			&__text{
				font-size: 15px;
			}
		}

		.about{
			&__cell{
				width: 50%;
			}
		}

		.quote{
			font-size: 18px;
			padding: 20px 0;
			.pin{
				font-size: 45px;
			}
		}

		.advantages{
			padding: 20px 0;
			&__text{
				font-size: 15px;
			}
		}

		.advantage{
			&__item{
				font-size: 15px;
				margin-top: 20px;			
			}
		}

		.ouroffice{
			padding: 3rem 0;
		}

		.products__item{
			width: 50%;
		}

		.brands__item{
			width: calc(50% - 4px)
		}
	}


	@media (max-width: 480px){
		.intro{
			&__title{
				font-size: 20px;
			}
		}

		.about{
			&__subtitle{
				font-size: 15px;
				margin-top: 20px;
			}
			&__title{
				font-size: 1.6rem;
			}

			&__cell{
				height: 220px;
			}
		}

		.item-products__title{
			font-size: 15px;
		}


		.brands,
		.products__list{
			margin-left: 0;
			margin-right: 0;
		}

		.products__item{
			height: auto;
			padding-bottom: 40px;			
		}
		.ourservice{
			font-size: 16px;
			.text{
				padding-left: 0;
			}
		}

		.warranty{
			h3{
				font-size: 18px;
			}
			.text{
				font-size: 15px;
			}
		}
	}


	@media (max-width: 400px){
		.advantage__item{
			width: 100%;
		}

		.products{
			&__list{
				margin-left: 0;
				margin-right: 0;
			}
			&__item{
				margin-left: 0;
				margin-right: 0;
			}
		}

		.brands{
			padding-top: 0;
			&__text{
				margin-top: 20px;
				font-size: 16px;
				line-height: 1.5;
			}

			&__list{
				display: block !important;
			}

			&__item{
				width: 280px;
				margin: 4px auto;
			}
		}

		.ourservice{
			margin-top: 0;
			.title-md{
				text-align: center;
				&:after{
					left: 50%;
					margin-left: -50px;
				}
			}
			&__item{
				display: block;
				text-align: center;
			}
			&__pic{
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 8px;
			}
		}
	}


	@media (max-width: 350px){
		.about{
			display: block;
			&__cell{
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 2px;
				width: 280px;
			}
		}

		.ouroffice{
			font-size: 16px;
		}

		.brands{
			margin-left: 0;
			margin-right: 0;
			.main-brands{
				margin-bottom: 5rem;
			}
		}

		#brands-carousel2{
			margin-left: -15px;
			margin-right: -15px;
		}

		.ourservice,
		.warranty{
			.title-md{
				text-align: center;
				&:after{
					left: 50%;
					margin-left: -35px;
				}
			}
		}
	}
}