.icon{
	&-myaccount{@include sprite($icon-a-myaccount);	}
	&-garage{@include sprite($icon-a-garage);	}
	&-vehicle{@include sprite($icon-a-vehicle);	}
	&-stock{@include sprite($icon-a-stock);	}
	&-addressbook{@include sprite($icon-a-addressbook);	}
	&-wishlist{@include sprite($icon-a-wishlist);	}
	&-orders{@include sprite($icon-a-orders);	}
	&-itemorders{@include sprite($icon-a-itemorders);	}
	&-reward{@include sprite($icon-a-reward);	}
	&-transactions{@include sprite($icon-a-transactions);	}
	&-notifications{@include sprite($icon-a-notifications);	}
	&-logout{@include sprite($icon-logout);	}
	&-key{@include sprite($icon-key);	}
	&-pencil{@include sprite($icon-pencil);	}
	&-3line{@include sprite($icon-3line);}
	&-3lineblue{@include sprite($icon-3lineblue);}
	&-qtime{@include sprite($icon-qtime);}
	&-arrow-middle-right{@include sprite($icon-arrow-middle-right);}
	&-arrow-middle-down{@include sprite($icon-arrow-middle-down);}
} 

.logout{
	@extend .neosans;
	color: $color10;
	font-size: 1.6rem;
	font-weight: 700;
	.icon{
		margin-right: 8px;
	}
	&:hover{
		color: #ff0030;
		text-decoration: none;
		.icon{
			filter: brightness(1.3);
		}
	}
}

.myaccount{
 	h1{
		margin-bottom: 2rem;
	}

	// =aside
	aside{
		width: 23rem;
		ul{
			@extend .neosans;
			font-weight: 700;
			font-size: 1.6rem;
			a{
				color: #778d9b;
				&:hover{
					color: $color9;
					text-decoration: none;
					.icon{
						filter: none;
					}
				}
			}
			li{
				padding: 1.3rem 0;
				a, span{
					position: relative;
				}
				a{
					padding-left: 46px;
				}
				span{
					margin-left: 46px;
					.icon-wrapper{
						left: -46px;
					}
				}

				&.current{
					position: relative;
					color: #000;
					span,
					a{
						border-bottom: 5px solid $color3;
						padding-bottom: 2px;
					}
					.icon{
						filter: grayscale(1) invert(1) brightness(0) ;
					}
				}
				.icon{
					line-height: 1;
					filter: grayscale(1);
					margin-top: -10px;
					&-wrapper{
						@extend .flex-center;
						height: 30px;
						left: 0;
						position: absolute;
						top: 0;
						width: 45px;
					}
				}
			}
		}

		.contacts{
			border-top: 2px solid #d6dde1;
			font-size: 1.7rem;
			margin-top: 6.5rem;
			padding-top: 2rem;
		}

		.tel{
			@extend .neosans;
			color: #000;
			font-weight: 700;
			font-size: 2.5rem;
			&:hover{
				text-decoration: none;
			}
		}
	}
	// =/aside

	.content{
		margin-left: 5rem;
		flex-grow: 1
	}

	.grid-information{
		grid-row-gap: 20px;
		grid-column-gap: 20px;
		grid-template-columns: auto auto 630px
	}
	.plate{
		color: #fff;
		padding: 3rem 4rem;
		transition: .3s;
		&:hover{
			box-shadow: 0 5px 20px rgba(0, 113, 189, 0.5);
		}
		a,
		strong{
			color: currentColor;
		}
		a{
			text-decoration: none;
		}
		&__title{
			@extend .neosans;
			font-size: 2.4rem;
			font-weight: 700;
			line-height: 1.4;
		}
		&-user{
			background: url(../images/bg/user.png) no-repeat right bottom #0672ba;
		    grid-column: 1 / 3;
		    grid-row: 1 / 2;
		    padding-bottom: 3.5rem;
		    .panel__title{
		    	margin-bottom: 1.2rem;
		    }

		}
		&-cars,
		&-items{
			padding: 0;
			a{
				@extend .flex-center;
				flex-direction: column;
				height: 100%;
				padding: 3rem 4rem;
			}
			&:hover{
				background-color: #c91537;
			}
		}
		&-cars{
			background: url(../images/bg/car.png) no-repeat right bottom #119af7;
		    grid-column: 1 / 2;
		    grid-row: 2 / 3;
		    min-height: 125px;
		}
		&-items{
			background: url(../images/bg/heart.png) no-repeat right bottom #50caf1;
		    grid-column: 2 / 3;
		    grid-row: 2 / 3;
		}
		&-balance{
			background: url(../images/bg/card.png) no-repeat right bottom #28292d;
		    grid-column: 3 / 4;
		    grid-row: 1 / 3;
		    font-size: 1.5rem;
		}
		&-address{
			background: url(../images/bg/address.png) no-repeat left bottom #778d9b;
			margin-top: 2rem;
			font-size: 1.5rem;
			.plate__title{
				margin-bottom: .8rem;
			}
			.btn{
				border: 2px solid #fff;
				margin-left: 2rem;
				.icon{
					margin-right: 6px;
				}
				&:hover{
					background-color: $color10;
					border-color: $color10;
				}
			}
		}

		.customer{
			background-color: #c91537;
			font-size: 1.5rem;
			margin-right: 2.2rem;
			padding: 1rem 1.8rem;
			.num{
				font-weight: 700;
				font-size: 3rem;
				line-height: 1.2;
			}
		}
		.status{
			flex-grow: 1;
		}

		.right{
			a{
				display: flex;
				margin-top: .8rem;
				&:hover{
					color: #36ff00;
					.icon{
						filter: none;
					}
				}
			}
			.icon{
				margin-right: 10px;
				filter: grayscale(1) brightness(5);
			}
		}

		h3{
			color: currentColor;
			font-size: 1.8rem;
			font-weight: 700;
			margin-top: 1.8rem;
			margin-bottom: .5rem;
		}
		// statistic
		.statistic{
			margin-top: 1rem;
			&__title{
				font-size: 1.5rem;
			}
			&__field{
				text-transform: uppercase;
				font-weight: 700;
				@extend .neosans;
				font-size: 2rem;
			}
			.cell:first-child{
				padding-right: 2rem;
				margin-right: 2rem;
				border-right: 1px solid #fff
			}
		}


		.tooltip{
			&-label{
				background-color: #0672ba;
				border-radius: 50%;
				color: #fff;
				font-size: 1.5rem;
				height: 2rem;
				margin-left: 8px;
				width: 2rem;
				&:hover{
					background-color: #0099ff;
					.tooltip-body{
						transform: translateY(-5px);
					}
				}
			}
			&-body{
				font-size: 1.4rem;
				transform: translateY(-8px);
			}
		}


		.balance{
			margin-bottom: .5rem;
			&__rail{
				background: #fff;
				border-radius: 3rem;
				height: 3rem;
				position: relative;
				width: 100%;
			}
			&__active{
				background: #09bb5d;
				border-radius: 3rem;
				height: 4rem;
				left: 0;
				position: absolute;
				top: -.5rem;
			}
			&__text{
				color: #fff;
				font-size: 1.5rem;
				font-weight: 700;
				left: 1.2rem;
				position: absolute;
				top: .5rem;
				z-index: 10;
			}
		}
	}
	// ordersstat
	.ordersstat{
		background-color: #fff;
		margin-top: 2rem;
		padding-left: 2.5rem;
		a{
			align-items: center;
			display: flex;
			flex-direction: column;
			border-bottom: 5px solid rgba(255,255,255,0);
			height: 100%;
			padding: 2rem 2.5rem 1.8rem 2.5rem;
			text-decoration: none;
			&:hover{
				background-color: #eaecf0;
				border-bottom-color: #0672ba;
				.num,
				.sign{
					color: #000;
				}
			}
		}

		.num{
			@extend .neosans;
			color: $color3;
			font-size: 3rem;
			font-weight: 700;
			line-height: 1.2;
			margin-bottom: .5rem;
		}
		.sign{
			color: #333;
			font-size: 1.5rem;
			text-align: center;
		}

		&__cell{
			&-red{
				.num,
				.sign{
					color: $color10;
				}
			}
			&-gray{
				.num,
				.sign{
					color: #778d9b;
				}
			}

			&.active{
				a{
					background-color: $color9;
					.num,
					.sign{
						color: #fff;
					}
				}
			}			
		}

		.btn{
			border-radius: 5rem;
			font-size: 1.7rem;
			font-weight: 700;
			height: 5rem;
			line-height: 1;
			margin: auto;
			padding-left: 3.4rem;
			padding-right: 4rem;
			.icon{
				margin-right: 10px;
			}
			&:hover{
				box-shadow: 0 5px 15px rgba(0, 153, 255, 0.5);
			}
		}

	}
}


.latest-orders{
	margin-top: 4rem;
	background-color: #eaecf0;
	padding: 4rem 4rem 0;
	header{
		color: #778d9b;
		font-weight: 700;
		@extend .neosans;
		font-size: 2.4rem;
		line-height: 1.2;
		.title{
			font-size: 2.4rem;
		}
		a{
			color: currentColor;
			text-decoration: none;
			&:hover{
				text-decoration: none;
				color: $color9;
			}
		}
		li{
			padding: 0;
			margin: 0;
			&:before{
				display: none;
			}

			&.separator{
				height: 23px;
				width: 2px;
				background-color: currentColor;
				margin: 0 2rem;
				margin-top: 2px;
			}
		}
	}

	.btn-more{
		margin-top: 0;
		.icon{
			margin-right: 5px;
			margin-top: -2px;
			filter: grayscale(1) brightness(.5);
		}
		&:hover{
			background-color: transparent;
			color: $color9;
			.icon{
				filter: none;
			}
		}
	}
}

.orders__list{
	background-color: #fff;
	color: #2b2b2b;
	.tr{
		display: flex;
		align-items: center;
		height: 8rem;
		font-size: 1.5rem;
		&-head{
			border-bottom: 5px solid $color3;
			font-weight: 700;
			font-size: 1.4rem;
		}

		.td{
			padding-left: 3rem;
			padding-right: 1rem;
			flex-shrink: 0;
			&-1{
				width: 11.5rem;
				width: 9.4%;
			}
			&-2{
				width: 12.5rem;
				width: 10.2%;
			}
			&-3{
				width: 12.5rem;
				width: 10.2%;
			}
			&-4{
				width: 14rem;
				width: 11.5%;
			}
			&-5{
				width: 19.5rem;
				width: 15.2%;
			}
			&-6{
				width: 21rem;
				width: 17.2%;
			}
			&-7{
				width: 15rem;
				width: 12.3%;
			}
		}

		&-item{
			border-bottom: 2px solid #eaecf0;
			transition: box-shadow .3s;
			&:last-child{
				border-bottom: none;
			}
			&:hover{
				box-shadow: 0 5px 15px rgba(0, 153, 255, 0.5);
				position: relative;
				z-index: 10;
			}
			.td{
				&-1,
				&-2,
				&-3{
					font-size: 1.5rem;
				}
				&-1,
				&-2,
				&-7
				{
					font-weight: 700;
				}
			}

			button{
				text-align: left;
			}
			.tracknum{
				color: $color3;
				font-size: 1.5rem;
				text-decoration: underline;
				&:hover{
					color: $color9;
					text-decoration: none;
				}
			}

			.print,
			.view{
				transition: filter .3s;
				&:hover{
					filter: none;
				}				
			}
			.print{
				filter: grayscale(1);
			}
			.view{
				filter: brightness(.7);				
				margin-left: 2rem;
			}
		}
	}
}



#quickorderModal{
	.modal{
		&-header{
			padding-bottom: 1rem;
		}
		&-dialog{
			max-width: 71rem;
		}
		&-content{
			background-image: url(../images/bg/clock.png);
			background-repeat: no-repeat;
			background-position: right bottom;
		}
		&-body{
			color: #393939;
			font-size: 1.5rem;
			h2{
				@extend .neosans;
				color: #000;
				font-size: 2.5rem;
				margin-top: 2rem;
			}
			.btn-groups{
				margin: 2rem 0 3rem;
			}
			.btn{
				align-items: center;
				display: flex;
				margin-right: 2.3rem;
				padding-right: 3rem;
				padding-left: 2rem;
				.icon{
					margin-right: 12px;
				}

			}

			ol{
				color: #393939;
				list-style: none;
				counter-reset:li;
				li{
					line-height: 1.8;
					margin: 2rem 0;
					position: relative;
					padding-left: 42px;
					&:last-child{
						margin-bottom: 0;
					}
					&:before{
						// background: $color_1;
						@extend .neosans;
						color: #fff;
						background-color: $color3;
						font-size: 1.4rem;
						border-radius: 50%;
						flex-shrink: 0;
						$s: 3.1rem;
						height: $s;
						width: $s;
						border-radius: $s;
						content: counter(li); /* В качестве данных используем счетчик */
						counter-increment:li; /* Увеличиваем значение счетчика на 1 */
						/* Позиционируем и стилизируем цифры */
						position:absolute;
						text-align: center;
						display: flex;
						align-items: center;
						justify-content: center;
						top: 5px;
						left:0;
						font-weight: 700;
						line-height: 1;
					}
				}
			}

			.right{
				margin-left: 5rem;
				margin-top: 2rem;
			}
		}
	}

	@media (max-width: 767px){
		.modal{
			&-dialog{
				max-width: 95%
			}
			&-content{
				.right{
					margin-left: 0;
				}
			}
			&-body{
				.btn{
					margin-bottom: 1.5rem;
					padding-right: 1.5rem;
					width: 255px;
				}
			}
		}
	}
}