.icon{
	&-myaccount{@include sprite($icon-a-myaccount);	}
	&-garage{@include sprite($icon-a-garage);	}
	&-vehicle{@include sprite($icon-a-vehicle);	}
	&-stock{@include sprite($icon-a-stock);	}
	&-addressbook{@include sprite($icon-a-addressbook);	}
	&-wishlist{@include sprite($icon-a-wishlist);	}
	&-orders{@include sprite($icon-a-orders);	}
	&-itemorders{@include sprite($icon-a-itemorders);	}
	&-reward{@include sprite($icon-a-reward);	}
	&-transactions{@include sprite($icon-a-transactions);	}
	&-notifications{@include sprite($icon-a-notifications);	}
	&-logout{@include sprite($icon-logout);	}
	&-key{@include sprite($icon-key);	}
	&-pencil{@include sprite($icon-pencil);	}
	&-3line{@include sprite($icon-3line);}
}

.logout{
	@extend .neosans;
	color: $color10;
	font-size: 1.6rem;
	font-weight: 700;
	.icon{
		margin-right: 8px;
	}
	&:hover{
		color: #ff0030;
		text-decoration: none;
		.icon{
			filter: brightness(1.3);
		}
	}
}

.myaccount{
 	h1{
		margin-bottom: 2rem;
	}

	// =aside
	aside{
		width: 23rem;
		ul{
			@extend .neosans;
			font-weight: 700;
			font-size: 1.6rem;
			a{
				color: #778d9b;
				&:hover{
					color: $color9;
					text-decoration: none;
					.icon{
						filter: none;
					}
				}
			}
			li{
				padding: 1.3rem 0;
				a, span{
					position: relative;
				}
				a{
					padding-left: 46px;
				}
				span{
					margin-left: 46px;
					.icon-wrapper{
						left: -46px;
					}
				}

				&.current{
					position: relative;
					color: #000;
					span,
					a{
						border-bottom: 5px solid $color3;
						padding-bottom: 2px;
					}
					.icon{
						filter: grayscale(1) invert(1) brightness(0) ;
					}
				}
				.icon{
					line-height: 1;
					filter: grayscale(1);
					margin-top: -10px;
					&-wrapper{
						@extend .flex-center;
						position: absolute;
						width: 45px;
						left: 0;
						height: 30px;
						top: 0;
					}
				}
			}
		}

		.contacts{
			border-top: 2px solid #d6dde1;
			font-size: 1.7rem;
			margin-top: 6.5rem;
			padding-top: 2rem;
		}

		.tel{
			@extend .neosans;
			color: #000;
			font-weight: 700;
			font-size: 2.5rem;
			&:hover{
				text-decoration: none;
			}
		}
	}
	// =/aside

	.content{
		flex-grow: 1
	}

	.grid-information{
		grid-row-gap: 20px;
		grid-column-gap: 20px;
		grid-template-columns: auto auto 630px
	}
	.plate{
		color: #fff;
		padding: 3rem 4rem;
		transition: .3s;
		&:hover{
			box-shadow: 0 5px 20px rgba(0, 113, 189, 0.5);
		}
		a,
		strong{
			color: currentColor;
		}
		a{
			text-decoration: none;
		}
		&__title{
			@extend .neosans;
			font-size: 2.4rem;
			font-weight: 700;
			line-height: 1.4;
		}
		&-user{
			background: url(../images/bg/user.png) no-repeat right bottom #0672ba;
		    grid-column: 1 / 3;
		    grid-row: 1 / 2;
		    padding-bottom: 3.5rem;
		    .panel__title{
		    	margin-bottom: 1.2rem;
		    }

		}
		&-cars,
		&-items{
			padding: 0;
			a{
				@extend .flex-center;
				flex-direction: column;
				height: 100%;
				padding: 3rem 4rem;
			}
			&:hover{
				background-color: #c91537;
			}
		}
		&-cars{
			background: url(../images/bg/car.png) no-repeat right bottom #119af7;
		    grid-column: 1 / 2;
		    grid-row: 2 / 3;
		    min-height: 125px;
		}
		&-items{
			background: url(../images/bg/heart.png) no-repeat right bottom #50caf1;
		    grid-column: 2 / 3;
		    grid-row: 2 / 3;
		}
		&-balance{
			background: url(../images/bg/card.png) no-repeat right bottom #28292d;
		    grid-column: 3 / 4;
		    grid-row: 1 / 3;
		    font-size: 1.5rem;
		}
		&-address{
			background: url(../images/bg/address.png) no-repeat left bottom #778d9b;
			margin-top: 2rem;
			font-size: 1.5rem;
			.plate__title{
				margin-bottom: .8rem;
			}
			.btn{
				border: 2px solid #fff;
				margin-left: 2rem;
				.icon{
					margin-right: 6px;
				}
				&:hover{
					background-color: $color10;
					border-color: $color10;
				}
			}
		}

		.customer{
			background-color: #c91537;
			font-size: 1.5rem;
			margin-right: 2.2rem;
			padding: 1rem 1.8rem;
			.num{
				font-weight: 700;
				font-size: 3rem;
				line-height: 1.2;
			}
		}
		.status{
			flex-grow: 1;
		}

		.right{
			a{
				display: flex;
				margin-top: .8rem;
				&:hover{
					color: #36ff00;
					.icon{
						filter: none;
					}
				}
			}
			.icon{
				margin-right: 10px;
				filter: grayscale(1) brightness(5);
			}
		}

		h3{
			color: currentColor;
			font-size: 1.8rem;
			font-weight: 700;
			margin-top: 1.8rem;
			margin-bottom: .5rem;
		}
		// statistic
		.statistic{
			margin-top: 1rem;
			&__title{
				font-size: 1.5rem;
			}
			&__field{
				text-transform: uppercase;
				font-weight: 700;
				@extend .neosans;
				font-size: 2rem;
			}
			.cell:first-child{
				padding-right: 2rem;
				margin-right: 2rem;
				border-right: 1px solid #fff
			}
		}


		.tooltip{
			&-label{
				background-color: #0672ba;
				border-radius: 50%;
				color: #fff;
				font-size: 1.5rem;
				height: 2rem;
				margin-left: 8px;
				width: 2rem;
				&:hover{
					background-color: #0099ff;
					.tooltip-body{
						transform: translateY(-5px);
					}
				}
			}
			&-body{
				font-size: 1.4rem;
				transform: translateY(-8px);
			}
		}


		.balance{
			margin-bottom: .5rem;
			&__rail{
				background: #fff;
				border-radius: 3rem;
				height: 3rem;
				position: relative;
				width: 100%;
			}
			&__active{
				background: #09bb5d;
				border-radius: 3rem;
				height: 4rem;
				left: 0;
				position: absolute;
				top: -.5rem;
			}
			&__text{
				color: #fff;
				font-size: 1.5rem;
				font-weight: 700;
				left: 1.2rem;
				position: absolute;
				top: .5rem;
				z-index: 10;
			}
		}
	}
}

