.webp{
	.advantages{
		background-image: url(../images/bg/advantage-bg.webp);
	}
	.reviews{
		background-image: url(../images/bg/reviews-bg.webp);
	}
	.about{
		background-image: url(../images/bg/about-bg.png);
	}
}





.advantages
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.advantages{
	background-image: url(../images/bg/advantage-bg.jpg);
}

.reviews{
	background-image: url(../images/bg/reviews-bg.jpg);
}


.reviews,
.about
{
	background-repeat: no-repeat;
	background-position: right bottom
}

.about{
	background-image: url(../images/bg/about-bg.jpg);
}