.webp{
	.advantages{
		background-image: url(../images/bg/advantage-bg.webp);
	}
	.reviews{
		background-image: url(../images/bg/reviews-bg.webp);
	}
	.about{
		background-image: url(../images/bg/about-bg.webp);
	}

	.searchbox__panel{
		&-vehicle{
			background-image: url(../images/bg/vehicle-bg.webp);
		}
		&-partnum{
			background-image: url(../images/bg/part-num-bg.webp);
		}
		&-vin{
			background-image: url(../images/bg/vin-bg.webp);
		}
	}
}





.advantages
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.advantages{
	background-image: url(../images/bg/advantage-bg.jpg);
}

.reviews{
	background-image: url(../images/bg/reviews-bg.jpg);
}


.reviews,
.about,
.searchbox__panel
{
	background-repeat: no-repeat;
	background-position: right bottom
}

.about{
	background-image: url(../images/bg/about-bg.jpg);
}


.searchbox__panel{
	&-vehicle{
		background-image: url(../images/bg/vehicle-bg.jpg);
	}
	&-partnum{
		background-image: url(../images/bg/part-num-bg.jpg);
	}
	&-vin{
		background-image: url(../images/bg/vin-bg.jpg);
	}
}