/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	@include font-size(1.4);
	font-family: 'proxima-nova', sans-serif;
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.d-grid{
	display: flex;
}

.main-grid{
	height: 100%;
	display: flex;
	flex-direction: column;
	.main{
		flex-grow: 1;
	}		
}

@supports (display:grid) {
	.d-grid{
		display: grid;
	}
	.main-grid{
		height: auto;
		min-height: 100vh;
		display: grid;
		grid-template-areas: "top"
							 "header"
							 "main"
							 "footer";
		grid-template-rows: auto auto 1fr auto;
	}


	@media (min-width: 992px){
		.grid-lg-2{
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 30px;
		}	
		.grid-lg-3{
			grid-template-columns: repeat(3, 1fr);
			grid-row-gap: 30px;
		}		
		.d-lg-grid{
			display: grid !important;
		}
	}
	@media (min-width: 1250px){
		.grid-xl-6{
			grid-template-columns: repeat(6, 1fr)
		}		
	}
}



.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{}
a{color:#020000; transition: .3s}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

.regular{
	font-family: "SegoeUIRegular";	
}



strong,
.bold{
}
em, i, 
.italic{
}

strong em,
em strong
{
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {

}


.submit{
	cursor: pointer;
}


.icon{
	position: relative; 
	&:before{
		@extend .before;
		left: 0;
		top: 0;
	}
	&-tel{
		padding-left: 27px;
		&:before{
			@include sprite($icon-tel);
			top: -3px;
		}		
	}
	&-user{
		transition: color .3s;
		padding-left: 35px;
		&:before{
			@include sprite($icon-user);
			filter: brightness(5);
			transition: filter .3s;
			will-change: filter;
		}
		&:hover{
			&:before{
				filter: none;
			}
		}
	}

	&-9dotted{
		padding-left: 64px;
		&:before{
			@include sprite($icon-9dotted);
		}		
	}

	&-littlecart{
		&:before{
			@include sprite($icon-littlecart);
			left: 30px;
			margin-top: -12px;
			top: 50%;
		}		
	}	
}


.a-rotate90{
	svg{
		transition: transform .3s;
	}
	&:hover{
		svg{
			transform: rotate(90deg)
		}
	}
}


button{
	cursor: pointer;
	border: none;
	background: transparent;
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* =top
---------------------------*/
.top{
	background-color: $color3;
	color: $color2;
	&-height{
		min-height: 5rem;		
	}
	a{
		color: $color2;
		&:hover{
			color: $color6;
			text-decoration: none;
		}
	}


	// left
	&__left{
		position: relative;
		padding-right: 45px;
		&:before{
			@extend .before;
			background: url(../images/top-l-bg.png) no-repeat right top;
			height: 50px;
			right: 0;
			top: 0;
			width: 1000px;
		}
		& > div{
			position: relative;
		}
	}

	&__menu{
		flex-grow: 1;
		li{
			margin-right: 3.1rem;
			&:last-childe{
				margin-right: 0;
			}
		}
	}


	.lang{
		margin-left: 3.4rem;
		.btn{
			img{
				vertical-align: top;
			}
		}
	}
	.country{
		.title{
			font-size: 2.2rem;
			padding-left: 2rem;
			padding-top: 1.4rem;
		}
		.dropdown-menu{
			border-radius: 10px;
			max-height: 30rem;
			padding-top: 0;
			padding-bottom: 0;
			// padding-bottom: 1.2rem;
			width: 32rem;
			.dropdown{
				&-item{
					color: $color1;
					margin: 0 0 0 0;
					padding: .5rem 0 .5rem 2.4rem;
					// width: calc(100% - 32px);
					&.current{
						font-weight: 700;
					}
				}
			}
		}

		.dropdown-wrapper{
			overflow: hidden;
		}

		.form-control{
			background: url(../images/icons/search-icon.png) no-repeat right 12px center $color8;
			border-radius: 4rem;
			border: none;
			font-size: 1.5rem;
			height: 4rem;
			margin-left: 2rem;
			padding: 0 35px 0 15px;
			width: 25.8rem;
		}

		.countries-wrapper{
			height: 225px;
			margin-bottom: 1.2rem;
			margin-top: 1.2rem;
			overflow: hidden;
			position: relative;
			width: 320px;
		}
		
		.countries-list{
			margin-top: .3rem;
			overflow: hidden;
			width: calc(100% - 32px);
		}

		.close{
			background: none;
			border: none;
			cursor: pointer;
			display: block;
			padding: 0;
			position: absolute;
			right: 9px;
			top: 13px;
			line{
				stroke: #8f8f8f;
				stroke-width: 3px;
			}
			svg{
				display: block;
			}
		}

	}
	.valute{
		margin-right: 2.5rem;
	}


select {
  width: 500px;
}


	// right
	&__tel{
		font-size: 1.5rem;
		font-weight: 700;
		font-family: 'Neo Sans Pro';
		.tel{		
			&:hover{
				color: $color2;
				text-decoration: none;
			}
		}
	}

	.login{
		align-items: center;
		display: flex;
		height: 50px;
		justify-content: center;
		margin-left: 3.5rem;
		position: relative;
		text-align: center;
		width: 165px;
		&:before{
			@extend .before;
			background-color: $color5;
			bottom: 0;
			left: 0;
			top: 0;
			transform: skewX(-45deg);
			width: 165px;
			z-index: 2;
		}
		&:after{
			@extend .before;
			background-color: rgba(1,152,255,.5);
			bottom: 0;
			height: 40px;
			left: -12px;
			transform: skewX(-45deg);
			width: 165px;
		}
		&__link{
			position: relative;
			z-index: 10;
			&:hover{
				color: $color6;
				text-decoration: none;
			}
		}
	}

	.dropdown{
		&-menu{
			transform: translate3d(0px, 20px, 0px) !important;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
			border-radius: .5rem;
			font-size: 1.4rem;
			padding: .7rem 0;
			margin-top: .9rem;
			.dropdown-item{
				align-items: center;
				color: $color7;
				display: block;
				display: flex;
				margin: .8rem 0;
				padding: 0.6rem 2rem;
				&:hover{
					background-color: $color3;
					color: $color2;
				}
			}
			img{
				margin-right: .8rem;
				vertical-align: top;
			}
		}
	}
}

.dropdown{
	&-toggle{
		&:after{
			@include sprite($icon-caret);
			border: none;
			vertical-align: top;
			position: relative;
			top: 8px;
			transition: transform .3s;
		}
	}
	&.show &-toggle{
		&:after{
			transform: rotate(180deg);
		}	
	}
}

/* =/top
---------------------------*/


/* =header
---------------------------*/
.header{
	padding: 2.1rem 0 1.8rem;

	.logo{
		margin-right: 3.4rem;
	}
	.catalog-btn{
		font-family: 'Neo Sans Pro';
		$h: 5rem;
		align-items: center;
		border-radius: $h;
		color: $color2;
		display: flex;
		font-size: 1.8rem;
		height: $h;
		position: relative;
		text-transform: uppercase;
		width: 185px;
		&.icon{
			&:before{
				left: 35px;
				top: 50%;
				margin-top: -9px;
			}
		}
	}

	.shop-cart{
		$h: 5rem;
		border-radius: $h;
		box-shadow: 0 1px 5px rgba(24, 35, 60, 0.2);
		height: $h;
		margin-left: 2.1rem;
		position: relative;
		width: 11.5rem;
		.count{
			@extend .flex-center;
			background-color: $color10;
			border-radius: 50%;
			color: $color2;
			font-size: 1.1rem;
			font-style: normal;
			line-height: 1;
			padding-top: 1px;
			height: 2rem;
			width: 2rem;
			margin-left: 6rem;
		}
	}
}

.search{
	flex-grow: 1;
	padding-left: 2.8rem;
	&__wrapper{
		background-color: $color8;
		border-radius: 5rem;
		height: 5rem;
	}

	.form-control{
		background: none;
		border: none;
		flex-grow: 1;
		font-size: 1.3rem;
		font-style: italic;
		height: 5rem;
		margin-left: 1.2rem;
		outline: none;
	}

	.submit{
		background: url(../images/icons/search-icon2.png) no-repeat center left 45%;
		border: none;
		width: 5rem;
		height: 5rem;
		padding: 0;
	}
}

/* =/header
---------------------------*/



/* =navigation
---------------------------*/
/* =/navigation
---------------------------*/


/* =main
---------------------------*/

.main{
	aside{
	}
}


.tab-content {
	> .tab-pane {
		display: none;
	}
	> .active {
		display: block;
	}
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
