::-ms-clear {
        display: none;
}


// safari
_::-webkit-:host:not(:root:root), .header{
}


// edge
// @supports (-ms-ime-align:auto) {
// }
_::-webkit-full-page-media, _:future, :root .selector {
}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.main-grid{
		display: block !important;
	}	

	.searchbox__layout{
		flex-wrap: wrap;
	}
	.searchbox__panel{
		&-vehicle{
			width: 100%;
		}
		&-partnum,
		&-vin
		{
			width: 50%;
		}
	}

	.homepage .advantages-layout{
		height: 140px;
	}

	.d-md-grid{
		display: flex !important;
	}

	.news__list{
		.news-grid{
			margin-left: -15px;
			margin-right: -15px;
		}
		.news__item{
			margin-bottom: 30px;
			margin-left: 15px;
			margin-right: 15px;
			width: 373px;
		}
	}

	.wiper-search .intro__body{
		height: 240px;
	}
}