.cart-page{
	overflow: initial;
	.content{
		padding-top: 2rem;
	}

	.inner{
		padding-right: 3.5rem;
	}

	.cart-table{
		margin-bottom: 4rem;
		.item-products{
			padding-top: 0;
			padding-bottom: 0;

			&__pic{
				flex-shrink: 0;
				width: 10rem;
			}
			&__layout{
				align-items: center;
				position: relative;
				padding-right: 3rem;
				padding-top: 1.8rem;
				padding-bottom: 1.8rem;
			}
			&__right{
				align-items: center;
				margin-left: 3rem;
			}
			&__body{
				margin-right: 6rem; 
				width: 12rem;
			}
			&__note{
				padding-right: 1.5rem;
				width: 24rem;
			}

			.cost{
				padding-right: 5rem;
			}

			&__title,
			.countmodule,
			.price,
			.cost{
				// margin-top: 1.8rem;
				margin-top: 0;
			}
			.btn-del{
				margin-top: 0;
				// margin-top: 1.8rem;
			}
			.txta{
				width: 13rem; 
			}
		}


		.cost{
			@extend .neosans;
			color: #000;
			font-size: 1.5rem;
			font-weight: 700;
		}
	}
	.summary{
		background-color: #28292d;
		box-shadow: 0 5px 20px rgba(0, 153, 255, 0.5);
		color: #fff;
		font-weight: 700;

		&__body{
			padding: 2.5rem 2rem 1.5rem;
		}
		.option{
			&-item{
				display: flex;
				justify-content: space-between;
				font-size: 1.6rem;
				margin-bottom: 2rem;
				position: relative;
				&:after{
					@extend .before;
					border-top: 1px solid #4d4d4d;
					width: 100%;
					left: 0;
					top: 12px;
				}
			}
			&-title,
			&-value
			{
				background-color: #28292d;
				line-height: 1.3;
				position: relative;
				z-index: 10;
			}
			&-title{
				max-width: 10.5rem;
				padding-right: 1rem;
			}
			&-value{
				padding-left: 1rem;
			}
		}
		.total{
			color: #ff0030;
			font-size: 2.2rem;
			margin-top: 2rem;
			&-sum{
			}
		}

		.btn{
			@extend .flex-center;
			font-size: 1.8rem;
			font-weight: 700;
			height: 6rem;
			width: 100%;
			.icon{
				margin-left: -10px;
			}
		}
	}

	.calculate{
		background-color: #fff;
		padding: 2rem 4rem 5rem 2.5rem;
		font-size: 1.5rem;
		min-height: 33rem;

		.head{
			margin-bottom: 2.5rem;
		}
		.title{
			font-size: 2rem;
			position: relative;
			padding-left: 72px;
			&:before{
				@extend .before;
				@include sprite($icon-car);
				left: 0;
				top: 0;
			}			
		}

		.propdata{
			color: $color19;
			.icon{
				margin-right: 10px;
			}
			&__item{
				display: flex;
				margin-left: 1.4rem;
				b{
					margin-right: .3rem;
				}
			}
		}

		.row{
			margin-top: .7rem;
			margin-bottom: .7rem;
		}

		ul li{
			margin: 0;
			padding-left: 0;
			label{
				margin-top: 0;
			}
		}

		.placeholder{
			color: #000;
		}

		.postcode{
			width: 19rem;
			@include placeholder(#000)
		}

		.region{
			background-color: transparent;
			margin-bottom: 0;
		}

		.btn{
			&-calc{
				margin-top: 1.3rem;
			}
		}
	}

	// =sales card
	.salescard{
		font-size: 1.5rem;
		width: 32rem;
		&__item{
			color: #fff;
			padding: 2rem 2.2rem 2.5rem;
			min-height: 166px;
			.title{
				@extend .neosans;
				display: flex;
				align-items: center;
				color: #fff;
				font-size: 2rem;
				font-weight: 700;
				margin-bottom: 1rem;
				img{
					margin-right: 1.5rem;
				}
			}
			.form{
				margin-top: .8rem;
			}
			.form-control{
				border-radius: 3rem;
				height: 3rem;
				width: 16rem;
			}
			.btn{
				&-apply{
					border-radius: 3rem;
					font-size: 1.5rem;
					text-align: center;				
					width: 10.5rem;
					font-weight: 700;
					@extend .flex-center;
				}
			}
			&-coupon{
				background: url(../images/bg/coupon-bg.png) no-repeat #aa122f;
				background-size: cover;
			}
			&-voucher{
				background: url(../images/bg/voucher-bg.png) no-repeat #1263aa;
				background-size: cover;
			}
		}
	}

	@media (max-width: 1650px){
		.cart-table{
			.item-products{
				&__layout{
					padding-right: 2rem;
				}
				&__body{
					margin-right: 2rem;
				}

				&__right{
					justify-content: space-between;
				}

				.instock{
					padding-right: 2rem;
					width: 19rem;
				}

				.countmodule{
					padding-right: 2rem;
					width: 13rem;
				}
				.price{
					padding-right: 2rem;
				}

				.cost{
					padding-right: 2rem;
				}
			}
		}
	}

	@media (max-width: 1500px){
		.cart-table{
			.item-products{
				&__note{
					// width: 19rem;
				}
			}
		}
	}

	@media (min-width: 1199px) and (max-width: 1399px){
		
			.col-xl-8{
				max-width: 70%;
				flex-basis: 70%
			}

			.col-xl-2{
				max-width: 30%;
				flex-basis: 30%
			}		

			.calculate-wrapper{
				.col-xl-7{
					max-width: 60%;
					flex-basis: 60%
				}

				.col-xl-3{
					max-width: 40%;
					flex-basis: 40%;
				}
				

				.col-xl-4{
					max-width: 300px;
				}
			}
	}

	@media (max-width: 1399px){
		.cart-table{
			.item-products{
				&__layout{
					padding-right: 150px;
				}
				&__pic{
					align-self: flex-start;
					margin-top: 1rem;
				}
				&__body{
					margin-bottom: 0;
					padding-right: 0;
					width: calc(100% - 270px);
				}

				&__note{
					align-items: center;
					display: flex;
					padding-right: 0;
					.form-control{
						margin-left: .7rem;
					}
					&-filled{
						display: block;
						.form-control{
							margin-left: 0;
						}
					}
				}

				.instock{
					justify-content: flex-start;
					flex-direction: row;
					margin-top: 2rem;
					padding-right: 0;
					width: 100%;
					.preorder-text{
						margin-left: 17px;
					}
				}

				.manage{
					position: absolute;
					right: 19px;
					top: 21px;
				}
			}
		}

		.calculate{
			.head{
				.propdata{
					display: none !important;
				}
				.propdata{
				}
			}

			.toggle{
				.propdata{
					display: block !important;
					margin-top: 0;
					margin-bottom: 1rem;
					&__item{
						margin: .5rem 1rem 0 0;
					} 
				}
			}
			.row{
				flex-direction: column;
			}
		}

		.calculate-wrapper{
			.row{
				display: block;
			}

			.postcode,
			.cities{
				margin-top: 10px;
			}

			.salescard{
				width: 100%;
				&__item{
					padding-left: 1.5rem;
					padding-right: 1.5rem;
				}
				.btn-apply{
					width: 80px;
				}
				.form-control{
					width: calc(100% - 90px)
				}
			}
		}
	}


	@media (max-width: 1199px){
		.cart-table{
			.item-products{
				&__layout{
					padding-right: 60px;
				}
				&__note{
					padding-right: 0;
					width: 23rem;
				}
				&__body{
					width: 35%;
				}
			}
		}

		.calculate-wrapper{

			.salescard__item .title{
				img{
					display: none;
				}
			}
		}


	}


	@media (min-width: 992px){
		.toggle{
			display: block !important;
		}
	}

	@media (max-width: 991px){ // for 468
		.inner{
			padding-right: 0;
		}
		.cart-table{
			.item-products{
				&__pic{
					align-self: flex-start
				}
				&__right{
					justify-content: flex-start;
				}

				&__layout{
					padding-right: 60px;
				}
				&__note{
					margin-bottom: 0;
					margin-top: 1.2rem;
				}
				&__body,
				.countmodule{
					padding-right: 0;
					width: 100%;
				}

				.countmodule{
					margin-bottom: 1rem;
				}

				.instock{
					display: block;
					.preorder-text{
						margin-left: 0;
					}
				}
			}
		}

		.calculate-wrapper{
			.salescard{
				margin-top: 10px;
			}
			.salescard__item .title{
				img{
					display: block;
				}
			}
		}


		.calculate{
			.title{
				padding: 20px 25px 15px 135px;
				&:after{
					background-color: #0a74bb;
					background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAHCAYAAAA4R3wZAAAAcElEQVQoU2P8//+/EwMDwxwg7mBkZJwFpHECoNo0oGQFEKcwQjXuhapOx6UZqmkmVJ0zI4gBFMwEUtNwaUbTlAU0fDpYIz7N2DSB1MM1YtGcBTUT5hKwTTCLUDRi0QxTh6IJw0YkZ4NCrxHKr8cWYADdcjaGjxct/gAAAABJRU5ErkJggg==);
					background-position: center;
					background-repeat: no-repeat;
					border-radius: 50%;
					content: "";
					display: block;
					height: 30px;
					left: 10px;
					position: absolute;
					top: 20px;
					transition: transform .3s;
					width: 30px;
				}
				&.open{
					&:after{
						transform: rotate(180deg);
					}
				}
			}
		}

		.calculate{
			background-color: #eaecf0;
			min-height: 0;
			padding: 0;
			.head{
				margin-bottom: 0;				
			}
			.title{
				width: 100%;
				&:before{
					left: 61px;
					top: 19px;
				}


			}
			.toggle{
				display: none;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 20px;
			}
		}
	}

	@media (max-width: 767px){
		.cart-table{
			.item-products{
				&__right{
					display: flex;
				}
				&__layout{
					padding-right: 120px;
				}
				&__body{
					margin-bottom: 0;
					padding-right: 0;
					width: calc(100% - 270px);
				}

				&__note{
					align-items: center;
					display: flex;
					margin-top: 0;
					.form-control{
						margin-left: .7rem;
					}

					&-filled{
						display: block;
						.form-control{
							margin-left: 0;
						}
					}
				}

				.instock{
					display: flex;
					justify-content: flex-start;
					flex-direction: row;
					margin-top: 2rem;
					padding-right: 0;
					width: 100%;
					.preorder-text{
						margin-left: 17px;
					}
				}

				.countmodule{
					margin-bottom: 0;
					width: 150px; 
				}
			}
		}

		.summary{
			margin-top: 22px;
		}
	}


	@media (max-width: 700px){
		.cart-table{
			.item-products{
				&__layout{
					padding-right: 60px;
				}
				&__body{
					width: 100%;
				}
				&__note{
					margin-top: 10px;
				}
				.countmodule{
					margin-bottom: 10px;
					width: 100%;
				}

				.instock{
					display: block;
					.preorder-text{
						margin-left: 0;
					}
				}
				.txta{
					width: 100%;
				}
			}
		}
	}


	@media (max-width: 550px){
		.cart-table{
			.item-products{
				.manage{
					margin-top: 0;
				}
			}
		}		
	}

	@media (max-width: 480px){
		.cart-table{
			.item-products{
				&__right{
					margin-left: 2rem;
				}
				&__title{
					font-size: 1.4rem;
				}
			}
		}
	}

	@media (max-width: 430px){
		.cart-table{
			.item-products{
				.manage{
					right: 13px;
					top: 15px;
					transform: scale(.8)
				}
				.txta{
					height: 25px;
					width: 110px;
				}

				&__layout{
					display: flex;
				}

				&__pic{
					width: 70px;
				}

				&__note{
					.btn{
						transform: scale(.8);
						transform-origin: left top;
					}
				}

				.instock{
					font-size: 14px;
					.preorder-text{
						font-size: 12px;
					}
				}

				.current-price,
				.cost{
					font-size: 13px;
				}

				.count-control{
					font-size: 12px;
				}

			}
		}
	}

	@media (max-width: 380px){
		.cart-table{
			.item-products{
				&__layout{
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}
}
 
.alert{
	color: #fff;
	display: flex;
	padding: 1.4rem 50px 1.7rem 1.6rem;
	min-height: 5rem;
	position: relative;
	margin-top: 1rem;
	&-primary{background-color: #c91537}
	&-secondary{background-color: #bea416}
	&-info{background-color: #0672ba}
	&-success{background-color: #199922}

	.icon{
		margin-right: 1.4rem;
		flex-shrink: 0;
	}

	.btn-close{
		margin-top: -6px;
		padding: 0;
		position: absolute;
		right: 20px;
		top: 50%;
		line{
			stroke: #fff;
			stroke-width: 3px;
		}
	}

	@media (max-width: 550px){
		font-size: 14px;
	}
}