.inner .card-page{
	background-color: #fff;
	padding-bottom: 0;
	overflow: auto;
	// slider nav
	#slider-nav{
		& > div{
			margin-top: 10px;
			margin-bottom: 10px;
		}
		&.slick-initialized{
			& > div{
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		.slick-slide{
			border: 3px solid rgba(255,255,255,0);
			cursor: pointer;
			margin-bottom: 10px;
			margin-top: 10px;
			padding: 3px;
			img{
				margin-left: auto;
				margin-right: auto;
			}
		}

		.slick{
			&-current{
				border-color: #0672ba;
				border-radius: 5px;
			}

			&-arrow{
				background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAYAAAAiJnXPAAAAvklEQVQoU2NkwAZCVzHzyfDxf3ry6SPD6rC/6EoY0QW4S/dLsDD+283A+F+L4T/jtT//mVy/dju+QFaHogmsgenvAaACdSD+CcTsQHzzzz9mB2SNcE1oGm4y/WUI+8fMsApqAIpGsCZ0DTCTcYmDNQmU77n6n4FBC5tTkDUCFV/70OmizcjQsIqN/7vwEwaG/y+ANrihexrJJbsYGBglPnK+lQHbJFN4jPPJkye/sAUvPNSA0SAjI8P2pN/qOwAtR2Q5rY+sSQAAAABJRU5ErkJggg==");
				background-repeat: no-repeat;
				height: 8px;
				margin-left: 28px;
				padding: 0;
				position: relative;
				width: 13px;
			}
			&-prev{
				top: 5px;
			}
			&-next{
				transform: rotate(180deg);
				bottom: 5px;
			}
		}
	}


	// =trustpilot
	.trustpilot{
		background-color: #f5f7f8;
		margin-top: 3rem;
		padding: 3rem 4rem;
		.stars{
			margin-left: 1.8rem;
		}
		img{
			vertical-align: top;
		}
		.rated{
			font-size: 1.7rem;
			line-height: 1.2;
			margin-top: 1rem;
		}
		a{
			&:hover{
				text-decoration: none;
				u{
					text-decoration: none;
				}
			}
		}
	}
	// =/trustpilot

	.partnum-brand{
		margin: 1rem 0;
		.part-num{
			align-items: center;
			background-color: #eceff1;
			border-radius: 3.5rem;
			color: $color50;
			display: flex;
			font-size: 1.7rem;
			height: 3.5rem;
			padding: 0 1.8rem 0 1.5rem;
			.num{
				margin-left: .5rem;
			}
		}
		.brand{
			color: $color50;
			display: flex;
			align-items: center;
			font-size: 1.7rem;
			margin-left: 1.6rem;
			img{
				margin-right: 1rem;
			}
			.name{
				margin-left: .8rem;
			}
		}
	}

	// to compare
	.compare{
		.btn{
			color: $color3;
			font-weight: 900;

			&:hover{
				color: $color9;
				&:before{
					filter: brightness(1.3);
				}
			}
			&.to-compare,
			&-compare-in{
				padding-left: 30px;
				position: relative;
				&:before{
					@extend .before;	
					transition: filter .3s;					
				}			
			}

			&.to-compare{
				&:before{
					@include sprite($icon-compare2);
					left: 0;
					top: 1px;
				}
			}
			&-compare-in{
				&:before{
					@include sprite($icon-delete);
					left: 5px;
					top: 5px;
				}
			}
		}
	}


	.details{
		background-color: #f5f7f8;
		padding: 2rem 1.8rem 1.5rem;
		margin-top: 1rem;

		&__title{
			@extend .neosans;
			color: #000;
			font-size: 2rem;
			font-weight: 700;
		}
		.car{
			color: #3d454b;
			font-size: 1.5rem;
			font-weight: 700;
			margin-top: .8rem;
		}

		.fit,
		.nofit
		{
			display: flex;
			align-items: center;
			font-weight: 700;
			font-size: 1.5rem;
			margin: .5rem 0;
		}

		.fit{
			color: #199922;
		}
		.nofit{
			color: $color10;
		}

		.actions{
			display: flex;
			flex-wrap: wrap;
			margin-top: .7rem;
			.btn{
				color: $color3;
				font-weight: 700;
				font-size: 1.5rem;
				margin-right: 3rem;
				margin-top: .6rem;
				&:hover{
					color: $color9;
					.icon{
						filter: brightness(1.3);
					}			
				}

				&-choose{
					.icon{
						filter: brightness(.7);
						transition: filter .3s;
					}
					&:hover{
						color: $color9;
						.icon{
							filter: brightness(1);
						}			
					}
				}
			}
		}
	}

	.left-center{
		display: flex;
		flex-grow: 1;
	}

	.card__body-layout{
		display: flex;
	}


	// stock
	.stock{
		margin-top: 2.5rem;
		&__title{
			color: #199922;
			font-size: 2rem;
			font-weight: 700;
		}
		&-text{
			font-size: 1.6rem;
			font-weight: 700;
			margin-top: .3rem;
		}
	}
	.stock__list{
		margin-top: .5rem;
	}

	.item-stock{
		background-color: #f5f7f8;
		display: flex;
		margin-top: 2px;
		padding: 1.2rem 2rem 1.2rem 1.5rem;
		&__left{
			flex-grow: 1
		}
		&__right{
			flex-shrink: 0;
			width: 55px;
		}
		&__title{
			@extend .neosans;
			font-size: 1.5rem;
			font-weight: 700;
		}
		&__text{
			color: $color38;
			line-height: 1.54;
			margin-top: .5rem;
			font-size: 1.3rem;
			padding-right: 4.5rem;
		}

		.instock{
			display: block;
			margin-top: .5rem;
			text-align: center;
			.indicator{
				margin-left: 0;
			}
		}
	}
	

	// =delivery
	.delivery{
		border-top: 1px solid #f0f0f0;
		line-height: 1.7;
		margin-top: 1.4rem;
		

		padding-top: 1.6rem;
		padding-left: 72px;
		position: relative;
		min-height: 55px;
		&:before{
			@extend .before;
			@include sprite($icon-car);
			left: 0;
			top: 2.5rem;
		}
		strong{
			color: $color3;
		}
	}


	// content
	.content{
		background-color: #f5f6f8;
		padding-bottom: 8rem;
	}


	.description{
		border-top: 10px solid #e4e7e9;
		font-size: 1.5rem;
		padding: 3rem 0 2rem;
		h2{
			font-family: 'Proxima Nova', sans-serif;
			font-size: 3rem;
			margin-top: 0;
		}
		h3{
			font-family: 'Proxima Nova', sans-serif;
			font-size: 2.5rem;
			margin-top: 1rem;
		}
		li{
			margin: 1.7rem 0;
		}
	}


	.assembly-brands{
		.nav-title{
			@extend .neosans;
			font-weight: 700;
			font-size: 2.5rem;
			a{
				color: #8f9fa7;
				text-decoration: none;
				&.active{
					color: #000;
				}
				&:not(.active):hover{
					color: $color9;
				}
			}
			li{
				padding-left: 0;
				margin: 1rem 0 0;
				&:before{
					display: none;
				}
				&.separator{
					border-left: 2px solid #abb8c0;
					padding: 0;
					margin-left: 2rem;
					margin-right: 2rem;
				}
			}
		}

		.products__list {
			margin-left: 0;
			margin-right: 0;
			margin-top: 0;
		}
		.item-products{
			width: 305px;
			&__title{
				a{
					color: #000;
					text-decoration: none;
				}
			}
		}

		.item-products{
			height: 455px;
		}

		#other-brands,
		#alternative-product{
			position: relative;
		}

		.slick-slide{
			padding: 15px 0;
		}

		.arrows{
			position: absolute;
			top: -15px;
			right: 35px;
		}
		.slick{
			&-prev{
				left: -40px;
			}
			&-next{
				transform: rotate(180deg)
			}
		}
	}

	// assemblies
	.assemblies{
		padding-bottom: 4rem;
		padding-right: 3rem;
	}

	.assembly__list{
		margin-top: .8rem;
		.tr{
			.td{
				padding-left: 1.5rem;
				padding-right: 1rem;
				flex-shrink: 0;
				&-1{
					width: 25%;
				}
				&-2{
					width: 25%;
				}
				&-3{
					width: 50%;
				}

			}
			&-head{
				color: #000;
				display: flex !important;
				font-size: 1.6rem;
				min-height: 5.5rem;
			}

			&-item{
				background-color: transparent;
				font-size: 1.5rem;
				margin-bottom: 0;
				transition: background-color .3s;
				&:hover{
					background-color: #fff;
					box-shadow: none;
				}
				a{
					text-decoration: none;
					&:hover{
						color: $color9;
					}
				}
				.inner{
					min-height: 5rem;
					padding-right: 0;
				}
				.td{
					&-1,
					&-2,
					&-3{
						font-size: 1.5rem;
					}
				}
			}
		}
	}


	// cars list
	.cars__list{
		border-top: 10px solid #e4e7e9;
		font-size: 1.5rem;
		padding: 5.7rem 0 0;
		.title{
			font-family: 'Proxima Nova', sans-serif;
			font-size: 3rem;
		}
		.vehicle{
			padding-right: 5.5rem;
			.title{
				margin-bottom: 1.3rem;
			}
		}
	}



	.item-vehicle{
		background-color: #fff;
		cursor: pointer;
		font-size: 1.6rem;
		font-weight: 700;
		margin-top: .5rem;
		transition: box-shadow .3s;
		&:hover{
			box-shadow: 0 5px 10px rgba(0, 113, 189, 0.15);
		}

		&__row{
			display: flex;
			align-items: center;
			width: 100%;
			padding: 1.5rem;
			.arrow{
				background-color: $color51;
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAHCAYAAAA4R3wZAAAAcElEQVQoU2P8//+/EwMDwxwg7mBkZJwFpHECoNo0oGQFEKcwQjXuhapOx6UZqmkmVJ0zI4gBFMwEUtNwaUbTlAU0fDpYIz7N2DSB1MM1YtGcBTUT5hKwTTCLUDRi0QxTh6IJw0YkZ4NCrxHKr8cWYADdcjaGjxct/gAAAABJRU5ErkJggg==');
				background-repeat: no-repeat;
				background-position: center;
				border-radius: 50%;
				height: 30px;
				width: 30px;
				transition: transform .3s;
			}

			.td{
				margin-right: 2rem;
				&:last-child(){
					margin-right: 0;
				}

				&-1{
					width: 32px;
				}
				&-2{
					width: 30%
				}
				&-3{
					flex-grow: 1;
				}
				&-4{
					width: 40px
				}
			}

			&.open{
				.arrow{
					transform: rotate(180deg);
					background-color: $color52;
				}
			}
		}
	}

	// =orders list

	.orders__list{
		background-color: #eaecf0;
		display: none;
		font-size: 1.4rem;
		margin-top: 0;
		padding: 2rem;
		.tr{
			color: #535353;
			&-head{
				min-height: 52px;
			}
			&-item{
				margin-top: .9rem;
				margin-bottom: 0;
				.inner{
					min-height: 51px;
					padding-right: 0;
				}
				.td{
					font-size: 1.4rem;
					font-weight: normal !important;
				}
			}

			.td{
				padding-left: 2.3rem;
				&-1{width: 22%}
				&-2{width: 17%}
				&-3{width: 12%}
				&-4{width: 12%}
				&-5{width: 13%}
				&-6{width: 24%}
			}
		}
	}
	// =orders list


	// =oenumbers__list
	.oenumbers{
		.title{
			margin-bottom: 1.3rem;
		}		
	}
	.oenumbers__list{
		margin-top: 0;

		font-size: 1.5rem;

		.tr{
			&-head{
				font-size: 1.6rem;
				min-height: 51px;
			}
			&-item{
				background-color: transparent;
				margin-bottom: 0;
				transition: background-color .3s;
				.inner{
					min-height: 51px;
					padding-right: 0;
				}
				&:hover{
					background-color: #fff;
					box-shadow: none;
				}
			}
		}

		.td{
			padding-left: 2rem;
			width: 50%;
		}
	}


	@media (max-width: 1600px){
		.assembly-brands .item-products{
			width: 270px;
		}
	}

	@media (max-width: 1500px){
		.card__left{
			max-width: 50%;
			flex-basis: 50%;
			.slick-slider{
				max-width: 400px
			}
		}
	}
	@media (max-width: 1450px){
		.card__center{
			h1{
				font-size: 3rem;
			}
		}
	}

	@media (max-width: 1399px){
		.card{
			&__left{
				.slick-slider{
					max-width: 300px
				}
			}
			&__center{
				padding-left: 3rem;
				padding-right: 3rem;
			}
		}

		.partnum-brand{
			.part-num,
			.brand
			{
				font-size: 1.5rem;
			}
		}



		// =cars__list
		.cars__list{
			
		}
		.orders__list .tr .td{
			padding-left: 1.3rem;
		}
		// =/cars__list


		.oenumbers__list{
			.td{
				padding-left: 1.5rem;
			}
		}


		.assemblies {
			padding-right: 1.5rem;
		}
		.assembly-brands{
			.nav-title{
				font-size: 2.2rem;
			}
			.item-products{
				width: 210px;
			}
		}
		.products__list{
			.item-products__pic img{
				max-width: 92%;
				margin-left: auto;
				margin-right: auto;
			}
			.btn-cart{
				height: 38px;
				width: 38px;
				.icon{
					transform: scale(.8);
				}
			}

			.item-products{
				&__body{
					padding-left: 1.5rem;
					padding-right: 1.5rem;
				}
				&__bottom
				{
					margin-left: 1.5rem;
					margin-right: 1.5rem;
				}

				.current-price{
					font-size: 1.7rem;
				}
			}

			.btn-fav{
				margin-right: 1rem;
			}
		}
	}



	@media (max-width: 1199px){
		h1{
			font-size: 3rem;
		}
		.msg-searched{
			font-size: 2.2rem;
			margin-bottom: 2rem;
		}
		.left-center{
			flex-direction: column;
			padding-right: 20px;
			width: calc(100% - 320px);
			.card__left{
				flex-basis: auto;
			}
		}
		.card{
			&__left{
				max-width: 100%;
				flex-basis: 100%;
				.slick-slider{
					max-width: 100%
				}
			}
			&__center{
				padding-left: 0;
				padding-right: 0;
				h1{
					font-size: 2.6rem;
				}
			}

			&__body{
				margin-bottom: 2.8rem;
				position: relative;
				padding-bottom: 120px;
				.media{
					&__right{
						width: 100%;
					}
				}

				.partnum-brand .brand{
					margin-left: 0;
					margin-top: 1rem;
					width: 100%;
				}
			}
		}
		#slider-nav{
			position: relative;
			padding-left: 18px;
			padding-right: 18px;
			.slick{
				&-arrow{
					background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAYAAACUwi84AAAAjklEQVQoU2NkwAUaVrExNIT9YkSX5y7dL8HK9HfvfwZGUd5fnPIoCkCSLEx/DwA1qQPx5Y/33hnCFaBJ3vzzj9nha7fjC7ACXJIgOUaG0FXM/IrCFxgY/+sA+XCdMLcx8hXuEGJkY3kNFPjN9JfB7H2PyyVkhxM2gbAboObh9QXMTrzhgKwIZ0iiBDs0LgCFXVvKbLdiMAAAAABJRU5ErkJggg==');
					height: 13px;
					margin-top: -6px;
					position: absolute;
					top: 50%;
					width: 8px;
					z-index: 10;
					margin-left: 0;

				}
				&-prev{
					left: 0;
				}
				&-next{
					right: 0;
					transform: rotate(180deg);
				}
			}
		}

		.compare{
			margin-left: 2rem;
		}


		.trustpilot{
			align-items: center;
			display: flex;
			padding: 2rem;
			.rated{
				font-size: 1.6rem;
				margin-left: 3.5rem;
				margin-top: 0;
			}
		}

		.trustpilot{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		}


		// =cars__list
		.cars__list{
			padding-top: 2rem;
			.vehicle{
				padding-right: 0;
			}

			.oenumbers {
				margin-top: 4rem;
			}

			.tr-head{
				display: flex;
			}

			.title{
				font-size: 2.8rem;
			}
		}
		// =/cars__list

		.content{
			padding-top: 2rem;
		}

		.products{
			.nav{
				margin-bottom: 1rem;
			}
		}

		.assembly-brands{
			.item-products{
				width: 280px;
			}
		}
	}

	@media (max-width: 991px){
		.trustpilot{
			.trustpilotlogo{
				width: 150px;	
			}
			.rated{
				font-size: 1.5rem;
			}
			.stars{
				width: 160px;
			}
		}
	}
	
	@media (max-width: 900px){
		.assembly-brands{
			.item-products{
				width: 260px;
			}
		}
	}


	@media (max-width: 820px){
		.assembly-brands{
			.item-products{
				width: 245px;
			}
		}
	}


	@media (max-width: 768px){
		.content{
			padding-bottom: 2rem;
		}
		h1{
			font-size: 2.6rem;
		}
		.msg-searched{
			font-size: 2rem;
		}
		.assembly-brands{
			.item-products{
				width: 230px;
			}
		}

		.details{
			&__title{
				font-size: 1.8rem;
			}
			.car{
				font-size: 1.4rem;
			}
		}

		.specifications{
			font-size: 1.4rem;
			.specification__title{
				font-size: 1.8rem;
			}
			.btn-show{
				font-size: 1.4rem;
			}
		}

		.stock__title{
			font-size: 1.8rem;
		}

		.delivery{
			font-size: 1.4rem;
		}

		.card__body{
			padding-bottom: 100px;
		}

		.assembly-brands .nav-title{
			font-size: 2rem;
		}


		.description{
			font-size: 1.4rem;
			h2{
				font-size: 2.5rem;
			}
			h3{
				font-size: 2rem;
			}
		}

		.cars__list .title{
			font-size: 2.5rem;
		}

		.products .nav{
			padding-left: 8px;
		}
	}


	@media (max-width: 730px){
		.card__body-layout{
			display: block;
		}

		.left-center{
			padding-right: 0;
			width: 100%;
			.card{
				&__left{
					margin-left: auto;
					margin-right: auto;
					width: 340px;
				}
			}
		}

		.card{
			&__body{
				.media__left{
					width: 100%;
				}
			}

			&__right{
				width: 100%;
			}
		}

		.specifications{
			.specification{
				&__title{
					text-align: center;
				}
			}
			.item-specification{
				&__title{
					flex-grow: 1;
				}
				&__value{
					text-align: right;
					flex-grow: 0;
				}
			}

			.btn-show{
				align-items: center;
				display: flex;
				margin: 1rem auto 3rem;
			}
		}

		.buy{
			width: 100%;
			.price{
				justify-content: center;
			}
			.wholesale__title{
				text-align: center;
			}
		}

		.count-wish{
			justify-content: center;
		}

		.delivery{
		}

		.assemblies{
			padding-right: 0;
		}



		.others{
			padding-left: 0;
			padding-right: 0;
		}

		.assembly-brands{
			margin-left: -15px;
			margin-right: -15px;

			.pr
			.nav-title{
				justify-content: center;
			}
			.arrows{
				display: flex;
				justify-content: center;
				position: static;
				margin: 0 0 17px;
				.slick-arrow{
					margin: 0 5px;
					position: static;
				}
			}

			.item-products{
				margin-left: auto;
				margin-right: auto;
			}
		}

		.description{
			h2, h3{
				text-align: center;
			}
		}

		.vehicle,
		.oenumbers{
			.title{
				text-align: center;
			}
		}

		.orders__list .tr-item .td{
			font-size: 1.3rem;
		}
	}

	
	@media (max-width: 700px){
		.orders__list{
			width: 100%;
			overflow-x: auto;
			.tr{
				width: 680px;				
			}
		}

		.card{
			&__body{
				padding-bottom: 130px;
			}
		}

		.trustpilot{
			flex-direction: column;
			.rated{
				margin-top: 10px;
			}
		}
	}


	@media (max-width: 576px){
		.msg-searched{
			font-size: 17px;
		}
		h1{
			font-size: 24px;
			text-align: center;
		}

		.assembly__list .tr-item{
			.td{
				font-size: 14px;
			}
		}

		.media__left{
			margin-left: 0;
		}

		.buy{
			min-width: 0;
		}

		.partnum-brand{
			justify-content: center;
			.compare{
				margin-top: 7px;
			}
		}

		.item-products{
			&__title,
			.current-price
			{
				font-size: 15px;
			}
			.old-price{
				font-size: 13px;
			}
			&__desc{
				font-size: 13px;
			}

			.instock{
				font-size: 14px;
			}
		}
		.preorder-text{
			font-size: 12px;
		}
	}




	@media (max-width: 380px){
		.msg-searched{
			font-size: 15px;
		}
		h1{
			font-size: 22px;
		}

		.left-center .card__left{
			width: 100%;
		}

		.partnum-brand .compare{
			margin-left: 0;
		}

		.partnum-brand{
			& > div{
				margin-bottom: 10px;
			}
		}


		.item-specification__title{
			width: 120px;
		}

		.buy{
			.current-price
			{
				font-size: 20px;
			}
			.old-price{
				font-size: 15px;
			}
			.wholesale{
				font-size: 14px;
				&__title{
					font-size: 15px;
				}
			}

			.btn-fav{
				font-size: 14px;
			}
			.btn-addtocart{
				font-size: 16px;
			}
		}

		.delivery{
			line-height: 1.3;
		}

		.trustpilot{
			padding-left: 15px;
			padding-right: 15px;
			.rated{
				font-size: 14px;
				margin-left: 0;
			}
		}


		#other-brands-tab{
			white-space: nowrap;
		}

		.assembly-brands .item-products{
			width: 210px;
		}
		
		.assembly__list{
			width: 100%;
			overflow-x: auto;
			.tr{
				width: 500px;
				.td{
					&-1{
						width: 20%;
					}
				}
			}
		}

		.assembly-brands{
			.nav-title{
				font-size: 18px;
			}
			.nav-title li.separator{
				margin-left: 8px;
				margin-right: 8px;
			}
		}
		.assembly__list .td{
			font-size: 14px !important;
		}

		.description{
			h2{
				font-size: 22px;
				margin-bottom: 8px;
			}
			h3{
				font-size: 18px;
				margin-top: 0;
			}
		}

		.item-vehicle{
			font-size: 14px;
			&__row{
				.td{
					&-2{
						flex-grow: 1;
					}
					&-3{
						display: none;
					}
				}
			}
		}

		.cars__list{
			.title{
				font-size: 22px;
			}
		}
		.oenumbers__list{
			.td{
				font-size: 14px;
			}
			.tr-item{
				.inner{
					min-height: 40px;
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}

		.orders__list{
			padding-left: 12px;
			padding-right: 12px;
			.inner{
				min-height: 40px;
				padding-bottom: 10px;
				padding-top: 7px;				
			}
		}
	}


	@media (max-width: 350px){

		.products__list .item-products{
			.current-price{
				font-size: 15px;
			}
			.old-price{
				font-size: 13px;
			}
		}
	}

}

.msg-searched{
	@extend .neosans;
	background-color: #ece2d0;
	color: #000;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.2;
	padding: 1.7rem 0;
}


.card{
	&__body{
		margin-top: 2.7rem;
		padding-bottom: 3rem; 

		// =media
		.media{
			position: relative;
			.label{
				@extend .flex-center;
				border-radius: 50%;
				box-shadow: 2px 3px 5px rgba(237, 1, 3, 0.4);
				color: #fff;
				font-size: 1.5rem;
				font-weight: 700;
				height: 50px;
				position: absolute;
				right: 0;
				top: 0;
				width: 50px;
				&-sale{
					background-color: #ed0103;
				}
			}

			&__right{
				align-self: center;
				flex-shrink: 0;
				width: 66px;
			}

			&__left{
				margin-left: 15px;
				width: calc(100% - 75px);
				display: flex;
				align-items: center;
				.slick-slider{
					max-width: 600px
				}
			}
		}
		//  =/media 
	}
	&__left{
		max-width: 55%;
		flex: 0 0 55%;
	}

	&__center{
		// max-width: 36%;
		// flex: 0 1 36%;
		flex-grow: 1;
		padding-left: 5rem;
		padding-right: 4rem;
		h1{
			font-size: 3rem;

		}
	}

	&__right{
		width: 32rem;
		.buy{
			box-shadow: 0 5px 20px rgba(0, 153, 255, 0.5);
			min-width: 32rem;
			width: 100%;
			&__inner{
				padding: 2.8rem 2rem 2.3rem;
			}
		}
		.current-price{
			font-size: 2.2rem;
			line-height: 1.2;
		}
		.old-price{
			line-height: 1.5;
			font-size: 1.7rem;
			margin-left: 1.2rem;
		}

		.wholesale{
			margin-top: .6rem;
			margin-bottom: 1.5rem;
			&__title{
				color: #000;
				font-size: 1.7rem;
				font-weight: 700;
			}
		}
		.item-wholesale{
			&__row{
				display: flex;
				justify-content: space-between;
				margin-bottom: .3rem;
				position: relative;
				&:after{
					@extend .before;
					border-top: 1px solid #e5e7e7;
					left: 0;
					top: 12px;
					width: 100%;
				}
			}
			&__title{
				span{
					background-color: #fff;
					padding-right: 8px;
					position: relative;
					z-index: 2;
				}
			}
			&__value{
				background-color: #fff; 
				color: $color10;
				font-weight: 700;
				padding-left: 8px;
				position: relative;
				z-index: 2;
			}
		}

		.countmodule{
			margin-left: .8rem;
		}

		.btn{
			&-addtocart{
				font-size: 1.8rem;
				font-weight: 700;
				height: 6rem;
				width: 100%;
				@extend .flex-center;
				.icon{
					margin-right: 8px;
					transition: .3s;
				}
				&:hover,
				&:focus,
				&:active
				{
					.icon{
						transform: translateX(-5px)
					}
				}

				&.incart{
					background-color: #003355;
				}

				@media (max-width: 320px){
					display: block;
					text-align: center;
					.icon{
						display: none;
					}
				}
			}
			&-fav{
				color: $color3;
				display: flex;
				align-items: center;
				margin-left: 2.1rem;
				white-space: nowrap;
				.icon{
					margin-right: 9px;
				}
			}
		}
	}
}


#changeVehicle{
	.smartsearchForm{
		display: block;
		margin-top: 1.1rem;
		.switch{
			margin-bottom: 1.7rem;
		}

		.btn-search{
			border-radius: 5rem;
			height: 5rem;
			margin-top: 2rem;
			width: 13rem;
		}
	}

	.modal{
		&-dialog{
			max-width: 340px;
		}
		&-header{
			padding-top: 2.5rem;
			padding-left: 3.4rem;
			padding-bottom: 0;
		}
		&-title{
			font-size: 2.5rem;
		}
		&-body{
			padding-left: 3.8rem;
			padding-right: 2.8rem;
		}
		@media (max-width: 380px){
			&-dialog{
				max-width: 92%
			}
			&-header,
			&-body{
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
	}
}


// specifications
.specifications{
	margin-top: 2rem;
	.specification{
		&__title{
			@extend .neosans;
			font-weight: 700;
			font-size: 2rem;
			margin-bottom: 1.7rem;
		}
	}
	.item-specification{
		color: $color50;
		font-size: 1.5rem;
		&__row{
			margin-top: .85rem;
			display: flex;
		}
		&__title{			
			flex-shrink: 0;
			position: relative;
			width: 19rem;
			z-index: 1;
			&:after{
				@extend .before;
				border-top: 1px solid #e7eaeb;
				left: 0;
				top: 10px;
				width: 100%;
				z-index: 1;
			}
			span{
				background-color: #fff;
				padding-right: 8px;
				position: relative;
				z-index: 2;
			}
		}
		&__value{
			font-weight: 700;
			flex-grow: 1;
			padding-left: 8px;
		}
	}

	.other-specification{
		display: none;
	}

	.btn-show{
		color: $color3;
		font-weight: 700;
		font-size: 1.5rem;
		margin-top: .8rem;

		&:hover{
			color: $color9;
			.icon{
				filter: brightness(1.2);
			}
		}
	}
}


#successAddtocardModal{
	.modal-header{
		padding-bottom: 0;
	}

	.calc{
		color: #393939;
		font-size: 1.4rem;
		margin-top: .8rem;
	}
	.msg{
		font-size: 1.7rem;
	}
	.price{
		@extend .neosans;
		color: #000;
		font-weight: 700;
		font-size: 1.5rem;
	}

	.modal-cart{
		margin-top: 1.5rem;
	}

	.modal-content{
		min-height: 275px;
		padding-bottom: 2rem;
		&:after{
			background-image: url('../images/bg/3-triangle-middle.png');
			width: 118px;
			height: 272px;
			right: -118px;
		}
	}
}

@media (max-width: 1550px){
	.assembly-brands{
	}
}





/* Based on https://github.com/kenwheeler/slick/issues/187#issuecomment-59123524 */
/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;    /* undo display:none          */
    height: 0;         /* height:0 is also invisible */
    // overflow: hidden;  /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto;      /* let the content decide it  */
}
/* bootstrap hack end */