.inner .card-page{
	background-color: #fff;
	
	// slider nav
	.slider-nav{
		& > div{
			margin-top: 10px;
			margin-bottom: 10px;
		}
		&.slick-initialized{
			& > div{
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		.slick-slide{
			border: 3px solid rgba(255,255,255,0);
			cursor: pointer;
			margin-bottom: 10px;
			margin-top: 10px;
			padding: 3px;
		}

		.slick{
			&-current{
				border-color: #0672ba;
				border-radius: 5px;
			}

			&-arrow{
				background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAYAAAAiJnXPAAAAvklEQVQoU2NkwAZCVzHzyfDxf3ry6SPD6rC/6EoY0QW4S/dLsDD+283A+F+L4T/jtT//mVy/dju+QFaHogmsgenvAaACdSD+CcTsQHzzzz9mB2SNcE1oGm4y/WUI+8fMsApqAIpGsCZ0DTCTcYmDNQmU77n6n4FBC5tTkDUCFV/70OmizcjQsIqN/7vwEwaG/y+ANrihexrJJbsYGBglPnK+lQHbJFN4jPPJkye/sAUvPNSA0SAjI8P2pN/qOwAtR2Q5rY+sSQAAAABJRU5ErkJggg==");
				background-repeat: no-repeat;
				height: 8px;
				margin-left: 28px;
				padding: 0;
				position: relative;
				width: 13px;
			}
			&-prev{
				top: 5px;
			}
			&-next{
				transform: rotate(180deg);
				bottom: 5px;
			}
		}
	}


	// =trustpilot
	.trustpilot{
		background-color: #f5f7f8;
		margin-top: 3rem;
		padding: 3rem 4rem;
		.stars{
			margin-left: 1.8rem;
		}
		img{
			vertical-align: top;
		}
		.rated{
			font-size: 1.7rem;
			line-height: 1.2;
			margin-top: 1rem;
		}
		a{
			&:hover{
				text-decoration: none;
				u{
					text-decoration: none;
				}
			}
		}
	}
	// =/trustpilot
}

.msg-searched{
	@extend .neosans;
	background-color: #ece2d0;
	color: #000;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.2;
	padding: 1.7rem 0;
}


.card{
	&__body{
		margin-top: 2.7rem;

		// =media
		.media{
			position: relative;
			.label{
				@extend .flex-center;
				border-radius: 50%;
				box-shadow: 2px 3px 5px rgba(237, 1, 3, 0.4);
				color: #fff;
				font-size: 1.5rem;
				font-weight: 700;
				height: 50px;
				position: absolute;
				right: 0;
				top: 0;
				width: 50px;
				&-sale{
					background-color: #ed0103;
				}
			}

			&__left{
				align-self: center;
				flex-shrink: 0;
				width: 66px;
			}

			&__right{
				margin-left: 15px;
				width: calc(100% - 75px)
			}
		}
		//  =/media 
	}
	&__left{
		max-width: 42%;
		flex: 0 0 42%;
	}
}