.catalog-page{

}

aside{
	.widget{
		background-color: #fff;
		margin-bottom: 2.5rem;
		&-title{
			@extend .neosans;
			color: #000;
			font-weight: 700;
			font-size: 1.6rem;
		}
		.inner{
			padding: 1.7rem 1.5rem 2rem 2.1rem;
		}
	}
	.filter{
		.inner{
			border-bottom: 1px solid #e9eaec;
			position: relative;
		}

		.list{
			font-size: 1.4rem;
			margin-top: 1.2rem;
			max-height: 150px;
			position: relative;
			.custom-control{
				margin-bottom: 1rem;
				&:nth-last-child(3){
					margin-bottom: 0;
				}
			}
		}

		.ps__rail-y{
			right: 5px !important;
		}
		.ps__thumb-y{
			&:hover,
			&:focus
			{
				background-color: $color9;
			}
		}

		.to-collapse{
			padding: 0;
			position: absolute;
			right: 11px;
			top: 25px;
			img{
				display: block;
				transition: transform .3s;
			}
			&.down{
				img{
					transform: rotate(180deg)
				}
			}
		}

		.param_control{
			background-color: #f3f3f3;
			border-radius: 40px;
			border: none;
			color: #626466;
			font-size: 1.3rem;
			height: 40px;
			line-height: 1.92;
			padding: 0 10px; 
			width: 119px;
			transition: box-shadow .3s;
			&:hover,
			&:focus{
				box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
			}
		}

		.slider{
			margin-top: 1.9rem;
			width: 96%;
			&_controls{
				color: #b7bbbe;
				margin-top: 2rem;
			}
		}
	}
}

.sortbox{
	color: #4c4c4c;
	font-size: 1.4rem;
	margin-top: 1.2rem;
	.sort-label{
		@extend .neosans;
		color: #000;
		font-weight: 700;
	}
	li{
		align-items: center;
		display: flex;
		margin-left: 8px;
		margin-right: 15px;
		position: relative;
		&:first-child{
			margin-right: 0.3rem; 
			margin-left: 0;
		}
	}

	.param-sort{
		align-items: center;
		border-radius: 2rem;
		display: flex;
		height: 2rem;
		line-height: 1;
		padding-left: .5rem;
		padding-right: 2.2rem;
		position: relative;
		&:after{
			@extend .before;
			@include sprite($icon-caret);
			right: 6px;
			top: 7px;
			transition: .3s;
		}
			color: $color9;
		&:hover{
			text-decoration: none;
		}

		&.active{
			background-color: #8c9ba6;
			color: #fff;
			&:after{
				filter: grayscale(1) brightness(15);

			}
			& + .sort-reset{
				display: block;
			}
		}

		&.sort-asc{
			&:after{
				transform: rotate(180deg);
			}
		}

	}

	.sort-reset{
		display: none;
		height: 12px;
		margin-left: 3px;
		padding: 0;
		position: absolute;
		right: -16px;
		top: 5px;
		svg{
			vertical-align: top;
		}
		line{
			stroke-width: 2px;
			stroke: #c91537;
		}
	}
}

.products__list{
	margin-top: 1.5rem;
	.products{
		&__item{
			display: flex;
			flex-direction: column;
			width: 305px;
		}
	}

	.item-products{
		background-color: #fff;
		padding: 0 0 1.7rem;
		position: relative;
		transition: box-shadow .3s;
		&:hover{
			box-shadow: 0 5px 20px rgba(0, 113, 189, 0.15);
			.item-products__pic{
				img{
					transform: scale(1.1)
				}
			}

			& > .additional__panel{
				opacity: 1;
				z-index: 10;
			}
		}
		&__body{
			padding: 0 2.2rem;
			flex-grow: 1;
		}
		&__pic{
			overflow: hidden;
			padding-top: 2.4rem;
			text-align: center;
			height: 200px;
			@extend .flex-center;
			img{
				transition: transform .3s;
				vertical-align: top;
			}
		}
		&__desc{
			color: #41484b;
			margin-top: 2.5rem;
		}

		&__title{
			@extend .neosans;
			font-size: 1.7rem;
			font-weight: 700;
			margin: .5rem 0 0;
			color: #000;
			a{
				&:hover{
					color: $color9;
					text-decoration: none;
				}
			}
		}

		.instock{
			margin-top: 1rem;
		}

		&__subtitle{
			font-size: 1.4rem;
			color: $color10;
			font-style: italic;
			& + .instock{
				margin-top: 0;
			}
		}

		.preorder-text{
			margin-top: .5rem;
		}	


		&__bottom{
			border-top: 1px solid #e6eaec;
			margin: 3rem 2.2rem 0;
			padding-top: 1.4rem;
		}
		.price{
			display: flex;
			flex-direction: column;
		}

		.fav-cart{
			display: flex;
		}
		.btn{
			&-cart{
				@extend .flex-center;
				background-color: $color3;
				border-radius: 50%;
				box-shadow: 0 5px 15px rgba(0, 153, 255, 0.5);
				height: 50px;
				padding: 0;
				transition: background-color .3s;
				width: 50px;
				.icon{
					filter: invert(1);
					margin-right: 0;
					margin-left: -4px;
				}
				&:hover{
					background-color: $color9;
				}				
			}
			&-incart{
				background-color: #778d9b;
				box-shadow: none;
				// cursor: default;
				&:hover{
					background-color: #778d9b;
				}
			}
		}


		.btn-fav{
			margin-right: 1.6rem;
			padding: 0;
		}

		.btn-tooltip{
			@extend .neosans;
			@extend .flex-center;
			background-color: #778d9b;
			border-radius: 50%;
			color: #fff;
			font-weight: 700;
			height: 20px;
			line-height: 1;
			padding: 0;
			position: relative;
			text-align: center;
			transition: background-color .3s;
			width: 20px;
			z-index: 100;
			&:hover{
				background-color: #0099ff;
			}
		}
		.tooltip{
			margin-left: 1rem;
			position: relative;
			top: 2px;
			width: 20px;
			&:hover{
				.tooltip__layout{
					opacity: 1;
					transform: translateY(0);
					z-index: 10;
				}
			}
			&__layout{
				left: 50%;
				margin-left: -10rem;
				opacity: 0;
				padding-top: 26px;
				position: absolute;
				top: 0;
				transform: translateY(-5px);
				transition: .3s;
				z-index: -1;
			}
			&__body{
				background-color: $color47;
				border-radius: 1rem;
				box-shadow: 0 5px 15px rgba(0, 153, 255, 0.5);
				color: $color2;
				padding: 1.5rem 2rem;
				width: 20rem;
			}
			&-title{
				@extend .neosans;
				color: $color2;
				font-size: 1.8rem;
				font-weight: 700;
			}
			table{
				font-size: 1.5rem;
				margin-top: .7rem;
				td{
					padding-bottom: 0.6rem;
					padding-right: 0.8rem;
				}
			}
			.bulk-price{
				color: #ff4242;
				font-weight: 700;
				font-weight: 700;
			}
		}

		.labels{
			display: flex;
			left: 18px;
			position: absolute;
			top: 17px;
			z-index: 10;
			.label{
				@extend .flex-center;
				background: #c91537;
				border-radius: 2.5rem;
				color: #fff;
				cursor: default;
				font-size: 1.4rem;
				height: 2.5rem;
				margin-right: .5rem;
				width: 5rem;
				&:last-child{
					margin-right: 0;
				}
				.icon{
					margin-right: 5px;
				}
			}
		}

		.additional__panel{
			background: #eaecf0;
			position: absolute;
			box-shadow: 0 5px 20px rgba(0, 113, 189, 0.15);
			top: 100%;
			width: 100%;
			left: 0;
			opacity: 0;
			z-index: -1;
			.item{
				min-height: 40px;
				// margin: 0 2rem;
				padding: 0 2rem;
				border-bottom: 1px solid #c9d1d7;
				width: calc(100% - 42px);
				margin-left: 21px;
				font-size: 1.5rem;
				display: flex;
				align-items: center;
				&:last-child{
					border-bottom: none;
				}
				button{
					color: $color3;			
					font-weight: 700;
				}
				.count{
					color: $color10;
				}

			}
		}
	}
}


.instock{
	display: flex;
	font-size: 1.6rem;
	font-weight: 700;
	&-green{
		color: #199922;
	}
	.indicator{
		margin-left: .8rem;
	}
}
.indicator{
	border: 1px solid #bbbbbb;
	height: 24px;
	padding: 3px;
	width: 57px;
	display: flex;
	border-radius: 3px;
	.unit{
		flex-shrink: 0;
		border-radius: 2px;
		height: 16px;
		margin-right: 1px;
		width: 9px;
		&:last-child{
			margin-right: 0;
		}
	}
}

.status{
	&-1{ //In stock
		$color: #199922;
		color: $color;
		.indicator{
			.unit{
				background-color: $color
			}
		}
	}
	&-2{ //In stock 
		$color: #829919;
		color: $color;
		.indicator{
			.unit{
				background-color: $color
			}
		}
	}
	&-3{ //Not in stock
		$color: #991919;
		color: $color;
		.indicator{
			.unit{
				background-color: $color
			}
		}
	}
	&-4{ //Pre-Order
		$color: #bea416;
		color: $color;
		.indicator{
			.unit{
				background-color: $color
			}
		}
	}
}

.preorder-text{
	color: #6c7173;
	font-style: italic;
	font-size: 1.4rem;
}

