.catalog-page{

}

aside{
	.widget{
		background-color: #fff;
		margin-bottom: 2.5rem;
		&-title{
			@extend .neosans;
			color: #000;
			font-weight: 700;
			font-size: 1.6rem;
		}
		.inner{
			padding: 1.7rem 1.5rem 2rem 2.1rem;
		}
	}
	.filter{
		.inner{
			border-bottom: 1px solid #e9eaec;
			position: relative;
		}

		.list{
			font-size: 1.4rem;
			margin-top: 1.2rem;
			max-height: 150px;
			position: relative;
			.custom-control{
				margin-bottom: 1rem;
				&:nth-last-child(3){
					margin-bottom: 0;
				}
			}
		}

		.ps__rail-y{
			right: 5px !important;
		}
		.ps__thumb-y{
			&:hover,
			&:focus
			{
				background-color: $color9;
			}
		}

		.to-collapse{
			padding: 0;
			position: absolute;
			right: 11px;
			top: 25px;
			img{
				display: block;
				transition: transform .3s;
			}
			&.down{
				img{
					transform: rotate(180deg)
				}
			}
		}

		.param_control{
			background-color: #f3f3f3;
			border-radius: 40px;
			border: none;
			color: #626466;
			font-size: 1.3rem;
			height: 40px;
			line-height: 1.92;
			padding: 0 10px; 
			width: 119px;
			transition: box-shadow .3s;
			&:hover,
			&:focus{
				box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
			}
		}

		.slider{
			margin-top: 1.9rem;
			width: 96%;
			&_controls{
				color: #b7bbbe;
				margin-top: 2rem;
			}
		}
	}
}

.sortbox{
	color: #4c4c4c;
	font-size: 1.4rem;
	margin-top: 1.2rem;
	.sort-label{
		@extend .neosans;
		color: #000;
		font-weight: 700;
	}
	li{
		align-items: center;
		display: flex;
		margin-left: 8px;
		margin-right: 15px;
		position: relative;
		&:first-child{
			margin-right: 0.3rem; 
			margin-left: 0;
		}
	}

	.param-sort{
		align-items: center;
		border-radius: 2rem;
		display: flex;
		height: 2rem;
		line-height: 1;
		padding-left: .5rem;
		padding-right: 2.2rem;
		position: relative;
		&:after{
			@extend .before;
			@include sprite($icon-caret);
			right: 6px;
			top: 7px;
			transition: .3s;
		}
			color: $color9;
		&:hover{
			text-decoration: none;
		}

		&.active{
			background-color: #8c9ba6;
			color: #fff;
			&:after{
				filter: grayscale(1) brightness(15);

			}
			& + .sort-reset{
				display: block;
			}
		}

		&.sort-asc{
			&:after{
				transform: rotate(180deg);
			}
		}

	}

	.sort-reset{
		display: none;
		height: 12px;
		margin-left: 3px;
		padding: 0;
		position: absolute;
		right: -16px;
		top: 5px;
		svg{
			vertical-align: top;
		}
		line{
			stroke-width: 2px;
			stroke: #c91537;
		}
	}
}



.item-products{
	&__desc{
		color: #41484b;
		font-style: 1.5rem;
	}
	&__title{
		@extend .neosans;
		color: #000;
		font-size: 1.7rem;
		font-weight: 700;
	}
	&__subtitle{	
		color: $color10;
		font-size: 1.4rem;
		font-style: italic;
	}


	.btn{
		&-cart{
			@extend .flex-center;
			background-color: $color3;
			border-radius: 50%;
			box-shadow: 0 5px 15px rgba(0, 153, 255, 0.5);
			height: 50px;
			padding: 0;
			transition: background-color .3s;
			width: 50px;
			.icon{
				filter: invert(1);
				margin-right: 0;
				margin-left: -4px;
			}
			&:hover{
				background-color: $color9;
			}				
			&.incart{
				background-color: #778d9b;
				box-shadow: none;
				// cursor: default;
				&:hover{
					background-color: #778d9b;
				}
			}
		}
	}
}


.products__list{
	margin-top: 1.5rem;
	.products{
		&__item{
			display: flex;
			flex-direction: column;
			width: 305px;
		}
	}

	.item-products{
		background-color: #fff;
		padding: 0 0 1.7rem;
		position: relative;
		transition: box-shadow .3s;
		&:hover{
			box-shadow: 0 5px 20px rgba(0, 113, 189, 0.15);
			.item-products__pic{
				img{
					transform: scale(1.1)
				}
			}

			& > .additional__panel{
				opacity: 1;
				z-index: 10;
			}

		}
		&__body{
			padding: 0 2.2rem;
			flex-grow: 1;
		}
		&__pic{
			overflow: hidden;
			padding-top: 2.4rem;
			text-align: center;
			height: 200px;
			@extend .flex-center;
			img{
				transition: transform .3s;
				vertical-align: top;
			}
		}
		&__desc{
			margin-top: 2.5rem;
		}

		&__title{
			margin: .5rem 0 0;
			
			a{
				&:hover{
					color: $color9;
					text-decoration: none;
				}
			}
		}

		.instock{
			margin-top: 1rem;
		}

		&__subtitle{
			& + .instock{
				margin-top: 0;
			}
		}

		.preorder-text{
			margin-top: .5rem;
		}	


		&__bottom{
			border-top: 1px solid #e6eaec;
			margin: 3rem 2.2rem 0;
			padding-top: 1.4rem;
		}
		.price{
			display: flex;
			flex-direction: column;
		}



		.fav-cart{
			display: flex;
			align-items: center;
		}
		.btn-fav{
			margin-right: 1.6rem;
			padding: 0;
			&-in{
				@include sprite($icon-infav);
			}
		}
		.to-fav,
		.to-fav-noauth
		{
			@include sprite($icon-tofav);
			&:hover{
				// @include sprite($icon-infav);
			}
		}



		.btn-tooltip{
			@extend .neosans;
			@extend .flex-center;
			background-color: #778d9b;
			border-radius: 50%;
			color: #fff;
			font-weight: 700;
			height: 20px;
			line-height: 1;
			padding: 0;
			position: relative;
			text-align: center;
			transition: background-color .3s;
			width: 20px;
			z-index: 100;
			&:hover{
				background-color: #0099ff;
			}
		}
		.tooltip{
			margin-left: 1rem;
			position: relative;
			top: 2px;
			width: 20px;
			&:hover{
				.tooltip__layout{
					opacity: 1;
					transform: translateY(0);
					z-index: 20;
				}
			}
			&__layout{
				left: 50%;
				margin-left: -10rem;
				opacity: 0;
				padding-top: 26px;
				position: absolute;
				top: 0;
				transform: translateY(-5px);
				transition: transform .3s, opacity .3s;
				z-index: -1;
			}
			&__body{
				background-color: $color47;
				border-radius: 1rem;
				box-shadow: 0 5px 15px rgba(0, 153, 255, 0.5);
				color: $color2;
				padding: 1.5rem 2rem;
				width: 20rem;
			}
			&-title{
				@extend .neosans;
				color: $color2;
				font-size: 1.8rem;
				font-weight: 700;
			}
			table{
				font-size: 1.5rem;
				margin-top: .7rem;
				td{
					padding-bottom: 0.6rem;
					padding-right: 0.8rem;
				}
			}
			.bulk-price{
				color: #ff4242;
				font-weight: 700;
				font-weight: 700;
			}
		}

		.labels{
			display: flex;
			left: 18px;
			position: absolute;
			top: 17px;
			z-index: 10;
			height: 25px;
			.label{
				@extend .flex-center;
				background: #c91537;
				border-radius: 2.5rem;
				color: #fff;
				cursor: default;
				font-size: 1.4rem;
				height: 2.5rem;
				margin-right: .5rem;
				overflow: hidden;
				position: relative;
				width: 5rem;
				&:last-child{
					margin-right: 0;
				}
				.icon{
					margin-right: 5px;
				}

				&:hover{
					overflow: visible;
					& > .label-tooltip{
						opacity: 1;
						z-index: 10;
						transform: translateY(0);
					}
				}

				&-tooltip{
					background-color: #2a2f32;
					box-shadow: 0 2px 5px rgba(0, 153, 255, 0.5);
					left: 50%;
					margin-left: -5.2rem;
					padding: .6rem 1rem;
					position: absolute;
					text-align: center;
					top: calc(100% + 10px);
					width: 10.4rem;
					border-radius: 10px;
					opacity: 0;
					z-index: -1;
					transition: .4s;
					transform: translateY(-5px);
					&:before{
						@extend .before;
						width: 0;
						height: 0;
						border-left: 8px solid transparent;
						border-right: 8px solid transparent;
						border-bottom: 8px solid #2a2f32;
						left: 50%;
						margin-left: -8px;
						margin-top: -8px;
						top: 0;
					}
				}
			}
		}

		// additional panel
		.additional__panel{
			background: #eaecf0;
			box-shadow: 0 5px 20px rgba(0, 113, 189, 0.15);
			left: 0;
			position: absolute;
			top: 100%;
			width: 100%;
			opacity: 0;
			z-index: -1;
			padding: .6rem 0;
			transition: background-color .3s;
			&:hover{
				background-color: $color9;
				color: #fff;
				.item{
					button,
					.count{
						color: #fff !important;					
					}
					button{
						&:before{
							background-color: #fff;
							background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHCAYAAAAxrNxjAAAAbUlEQVQoU2NkYGDgBGIJIL4PxNiAIlDwBSOQWArEUUCcDsSz0FSmAfkzgXgZSGEyEM+BKkBWDFMEkkoBKQSBTCCehqQYxASZBAJZQDwdphBdMcwFYEUgDrJCEB/ZOhQ3oysEKdaEGncdZiyIBgCjGREZelM6mwAAAABJRU5ErkJggg==");
						}
						.icon{
							filter: grayscale(1) brightness(5);
						}
					}
				}
			}
			.item{
				align-items: center;
				border-bottom: 1px solid #c9d1d7;
				display: flex;
				font-size: 1.5rem;
				margin-left: 21px;
				min-height: 40px;
				width: calc(100% - 42px);
				&:last-child{
					border-bottom: none;
				}
				button{
					display: flex;
					align-items: center;
					color: $color3;			
					font-weight: 700;
					transition: .3s;
					position: relative;
					padding-left: 30px;
					.icon{
						margin-right: 5px;
					}

					&:before{
						@extend .before;
						background-color: #778d9b;
						border-radius: 50%;
						height: 20px;
						left: 0;
						top: 2px;
						width: 20px;
						background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHCAYAAAAxrNxjAAAAeUlEQVQoU2P8//8/JwMDgwQjI+N9II0BgPKKQMEXjEDGUiAjCojTgYpnIasEyqUB+TOBeBlIYTKQMQeqAK4YSRFIKoURRAIFM4HUNJhiKA0yCQSygDZNByvEohgmDFYE4sAVQhXD3ATiorgZRSFUsSbYBEbG68geAwAFYC8Qs5IYcwAAAABJRU5ErkJggg==");
						background-repeat: no-repeat;
						background-position: center;
					}
				}
				.count{
					color: $color10;
					margin-left: 5px;
				}
			}
		}
	}
}


.instock{
	display: flex;
	font-size: 1.6rem;
	font-weight: 700;
	&-green{
		color: #199922;
	}
	.indicator{
		margin-left: .8rem;
	}
}
.indicator{
	border: 1px solid #bbbbbb;
	height: 24px;
	padding: 3px;
	width: 57px;
	display: flex;
	border-radius: 3px;
	.unit{
		flex-shrink: 0;
		border-radius: 2px;
		height: 16px;
		margin-right: 1px;
		width: 9px;
		&:last-child{
			margin-right: 0;
		}
	}
}

.status{
	&-1{ //In stock
		$color: #199922;
		color: $color;
		.indicator{
			.unit{
				background-color: $color
			}
		}
	}
	&-2{ //In stock 
		$color: #829919;
		color: $color;
		.indicator{
			.unit{
				background-color: $color
			}
		}
	}
	&-3{ //Not in stock
		$color: #991919;
		color: $color;
		.indicator{
			.unit{
				background-color: $color
			}
		}
	}
	&-4{ //Pre-Order
		$color: #bea416;
		color: $color;
		.indicator{
			.unit{
				background-color: $color
			}
		}
	}
}

.preorder-text{
	color: #6c7173;
	font-style: italic;
	font-size: 1.4rem;
}



.wishlist-info
{
	overflow: visible;
	.close{
		right: 20px;
		top: 20px;
		line{
			stroke: #fff;
		}
	}
}

.wishlist-info{
	// height: 154px;
	left: 50%;
	margin-left: -160px;
	margin-top: -75px;
	position: fixed;
	top: 50%;
	color: #fff;
	width: 321px;
	.modal{
		&-content{
			background-image: url(../images/wish-bg.png);
			background-repeat: no-repeat;
			background-position: right 13px bottom;
			
			box-shadow: 0 5px 20px rgba(0, 153, 255, 0.5);
			padding: 2.4rem 3rem 2.5rem;
			font-size: 1.7rem;
			line-height: 1.47;
			a{
				color: #fff;
			}
		}
		&-title{
			color: #fff;
			font-size: 2.5rem;
			font-weight: 700;
			margin-bottom: 1.6rem;
		}
	}

	&-success{
		.modal{
			&-content{
				background-color: #0672ba;
			}
		}		
	}

	&-wrong{
		.modal{
			&-content{
				background-color: #ba0642;
			}
		}		
	}
}

.show{
	display: block;
}

.modal-v2{
	.close{
		background-color: #8c9ba6;
		border-radius: 50%;
		display: flex;
		height: 40px;
		right: -18px;
		top: -18px;
		width: 40px;

		svg{
			margin: auto;
			line{
				stroke-width: 3px;
				stroke: #fff;
			}
		}
	}
	.modal{
		&-dialog{
			max-width: 960px;
		}
		&-body{
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0;
		}


	}
	.box{
		padding: 1.5rem 2.5rem 1.5rem 2rem;
		&__title{
			@extend .neosans;
			color: #000;
			font-size: 2.2rem;
			font-weight: 500;
			.count{
				color: $color10;
			}
		}		
	}

	.current-price{
		font-size: 1.5rem;
	}
	.old-price{
		font-size: 1.3rem;
	}
}

.products__strlist{
	.item-products{
		border-bottom: 1px solid #c9d1d7;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 1.5rem;
		padding-bottom: 2rem;

		& > div{
			padding-right: 3rem;
			&:last-child{
				padding-right: 0;
			}
		}
		&__pic{
			width: 13rem;
		}

		&__body{
			// flex-grow: 1;
		}

		&__desc{
			font-size: 1.5rem;
		}
		&__title{
			font-size: 1.5rem;
		}
		.preorder-text{
			font-size: 1.3rem;
			margin-top: .3rem;
		}
		.instock{
			display: block;
			width: 21rem;
			flex-shrink: 0;
		}

		&:last-child{
			border-bottom: none;
		}

		.countmodule{
			flex-shrink: 0;
			width: 15rem;
		}

		.price{
			width: 105px;
		}

		&:last-child{
			padding-bottom: 1.5rem;
		}
	}

	&-first{
		padding-top: .2rem !important;
		padding-bottom: 0 !important;
	}
}


#notifyModal{
	.modal{
		&-content{
			background-image: url(../images/bg/notify-bg.png);
			background-repeat: no-repeat;
			background-position: right bottom;
			font-size: 1.5rem;
			min-height: 35rem;
			padding-bottom: 4rem;
		}

		&-dialog{
			width: 48rem;
		}

		&-header{
			padding-bottom: 2.2rem;
		}

		&-body{
			padding-bottom: 3.1rem;
		}

		&-title{
			font-size: 2.5rem;
		}

		&-footer{
			background-color: transparent;
			justify-content: flex-start;
			padding: 0 0 0 3.6rem;
		}
	}

	.settings-link{
		background-color: #dde2e6;
		border-radius: 3rem;
		color: $color3;
		display: inline-block;
		font-size: 1.4rem;
		height: 3rem;
		line-height: 3rem;
		margin-top: .5rem;
		padding: 0 2rem 0 28px;
		position: relative;
		transition: background-color .3s;
		&:before{
			@extend .before;
			@include sprite($icon-settings);
			left: 7px;
			top: 8px;
		}
		&:hover{
			color: $color2;
			background-color: $color3;
			text-decoration: none;
			&:before{
				filter: grayscale(1) invert(1) brightness(5)
			}
		}
	}

	.btn{
		min-width: 105px;
		padding-left: 3rem;
		padding-right: 3rem;
		margin-right: .7rem;
	}
}


#addtocardModal1{
	.modal{
		&-dialog{
			max-width: 440px;
		}
		&-header{
			padding-top: 3rem;
		}
		&-body{
			padding-bottom: 1rem;
		}
		&-content{
			padding-bottom: 3.5rem;
		}
		&-footer{
			background-color: transparent;
			padding: 0 0 0 3rem;
			justify-content: flex-start;
			.btn{
				@extend .flex-center;
				font-size: 1.6rem;
				.icon{
					filter: invert(1);
					margin-right: .8rem;
				}
				&-submit{
					margin-right: 1.7rem;
				}

				&-close{
					min-width: 110px;
				}
			}
		}
	}
	.product{
		&-pic{
			max-width: 10rem;
			margin-right: 3.2rem;
		}
		&-title{
			@extend .neosans;
			color: #000;
			font-size: 1.5rem;
			font-weight: 700;
			margin-bottom: 1.2rem;
		}
	}
	.count-price{
		align-items: center;
		display: flex;
		margin-top: 1.2rem;
		.price{
			@extend .neosans;
			color: #000;
			font-size: 1.5rem;
			font-weight: 700;
			margin-left: 2.5rem;
		}
	}
	.desc{
		flex-grow: 1;
	}
	.remarks{
		color: #6c7173;
		margin-top: 1.6rem;
		p{
			font-style: italic;
		}
		.form-control{
			border-radius: 30px;
			height: 30px;
			margin-right: 1.1rem;
			width: 162px;
		}
		.ok{
			background-color: #778d9b;
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAANCAYAAABLjFUnAAAA3ElEQVQ4T2NkoAD8///fGKh9KRALAXEoI7lmQQ3aBTUIZEwrWYZhMegd0DATsGFASRsgJcrIyLiekEtxGOQG1HuWEWrQYaghC4CCibgMxGcQSA/IMD8gvRHJgH1AA53RDSRkENgwqDfnA+kEJAPuAA1UhfGJMQhuGNTAPUAa2UV7gQa6EGsQimFQA28DaRUkF24Gsq2Roh8Ua+DAxhauGEkD6JK9QIVOWBTjNQjDZUhhhB6GIIOcgS66gC/p4Ey0QBeWADVWA/EbIA4lZBBOlyG5kBloyF98rkGWAwDHv2DpQksQ8gAAAABJRU5ErkJggg==");
			background-position: 49% center;
			background-repeat: no-repeat;
			border-radius: 50%;
			height: 30px;
			width: 30px;
		}
	}
	.preorder-text{
		font-size: 1.3rem;
		margin-top: .3rem;
	}
}