.checkout{
	&__left{
		padding-right: 3.5rem;
		width: 68%;
	}

	&__right{
		width: 32%;
	}
	&__head{
		align-items: center;
		display: flex;
		margin-bottom: 1.4rem;
		.num{
			@extend .flex-center;
			@extend .neosans;
			background-color: $color3;
			border-radius: 50%;
			color: #fff;
			font-size: 2.5rem;
			font-weight: 700;
			margin-right: 1.5rem;
			height: 52px;
			width: 52px;
		}
		.title{
			line-height: 1.2;
			font-size: 2.2rem !important;
		}
		.actions{
			align-items: center;
			display: flex;
			margin-left: .8rem;
			.btn{
				border-radius: 3rem;
				font-size: 1.4rem;	
				height: 3rem;
				margin-left: 1rem;
				padding-left: 1.3rem;
				padding-right: 1.8rem;
				&:hover{
					box-shadow: 0 5px 15px rgba(0, 153, 255, 0.5);
				}
			}
		}
	}

	&__step{
		border-bottom: 1px solid #dadada;
		padding: 3rem 0 1.8rem;

		&-1{
			border-bottom: none;
			padding-bottom: 0;
			.inner{
				background-color: #fff;
				padding: 2rem 3rem;
			}

			.address{
				&__select{
					margin-left: -13px;
				}
			}
			.btn-addaddress{
				border-radius: 4.4rem;
				border: 2px solid $color3;
				font-size: 1.5rem;
				font-weight: 700;
				height: 4.4rem;
				line-height: 1.2;
				margin-left: 4rem;
				padding: 0 1.1rem 0 40px;
			}

			.radio{
				position: relative;
				input {
					opacity: 0;
					position: absolute;
					z-index: -1;
				}
			}

			.radio__text {
				cursor: pointer;
				height: 40px;
				position: relative;
				display: flex;
				align-items: center;
				padding-left: 43px;
				padding-right: 13px;
				border: 2px solid rgba(255,255,255,0);
				&:hover{
					&:before{
						background-color: #0099ff;
					}
				}
			}
			.radio__text:before {
				transition: background-color .3s;
				z-index: 10;
				content: '';
				height: 20px;
				width: 20px;
				left: 10px;
				top: 8px;
				position: absolute;
				transition: .2s;
				background-color: #e8e8e8;
				border-radius: 50%;
			}
			.radio input:checked + .radio__text{
				border: 2px solid #0672ba;
				border-radius: 44px;
				font-weight: 700;
			}

			.radio input:checked + .radio__text:hover:before {
				background-color: transparent;
			}

			.radio input:checked + .radio__text:before {
				border: 6px solid #0672ba;
				background-color: transparent;
			}

		}

		&-2{
			.actions{
				margin-left: 3rem;
			}
		}

		&-3{


		}

		
		&-3,
		&-4{
			.item-method{
				&__title{
					color: #000;
					display: flex;
					align-items: center;
					font-size: 2rem;
					font-weight: 700;
					margin-bottom: .5rem;
				}
				.icon{
					position: relative;
					top: 2px;
				}
				input{
					display: none;
				}
				.row{
					margin-top: 0;
					margin-bottom: 2.5rem;
					&:last-child(){
						margin-bottom: 1rem;
					}
				}
			}

			.radio{
				cursor: pointer;
				display: block;
				margin-bottom: 0;

				input:checked + .radio__text{
					border-bottom-color: $color3;
					box-shadow: 0 5px 15px rgba(0, 153, 255, 0.5);
					&:before{
						background-color: transparent;
						border: 6px solid $color3;
					}
				}
			}

			.radio__text{
				background-color: #fff;
				border-bottom: 5px solid #fff;
				padding: 2rem 1rem 2rem 5rem;
				position: relative;
				transition: box-shadow .3s;
				width: 100%;
				&:before{
					transition: background-color  .3s;
					@extend .before;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background-color: #e8e8e8;
					left: 20px;
					top: 22px;
				}

				&:hover{
					box-shadow: 0 5px 15px rgba(0, 153, 255, 0.5);
					&:before{
						background-color: $color9
					}
				}
				.title{
					font-size: 1.8rem;
					font-weight: 700;
					font-family: "Proxima Nova";
				}
				.estimated{
					color: #3c3c3c;
					margin-top: .2rem;
				}
				.price{
					@extend .neosans;
					font-weight: 700;
					font-size: 1.5rem;
					margin-top: .2rem;
				}
			}			
		}


		&-4{
			.information{
				background-color: #778d9b;
				color: #fff;
				padding: 3.5rem 3rem;
				&__label{
					font-size: 1.5rem;
				}
				&__value{
					font-size: 2.5rem;
					font-weight: 700;
					line-height: 1.2;
				}

				.tooltip-label {
					margin-left: 1rem;
				}

				@media (max-width: 1500px){
					padding-left: 2rem;
					padding-right: 2rem;
					.cell{
						padding-left: 1.3rem;
						padding-right: 1.3rem;
					}
				}
			}
			.cell{
				margin-right: .6rem;
				padding: .8rem 1.8rem;
				&-active{
					background-color: #c91537;
					.information__value{
						font-size: 3rem;
					}
				}
			}

			.tooltip-label-circle{
				background-color: $color3 !important;
			}

			.checkout__body .row{
				margin-top: .8rem;
			}


			.item-method{
				margin-top: 2rem;
				.title{
					font-family: "Proxima Nova";
					font-size: 1.8rem;
				}
				.logos{
					img{
						margin-right: 1rem;
						&:last-child(){
							margin-right: 0;
						}
					}
				}
			}

			.creditcard{
				background-color: #fff;
				margin-top: 2rem;
				padding: 1.8rem 3rem;

				&__head{
					border-bottom: 1px solid #e3e3e3;
					padding-bottom: 1.8rem;
					.title{
						font-size: 2rem;
						font-family: "Proxima Nova";
						margin-right: 1.8rem;
					}
					.logo{
						margin-right: 1.5rem;
					}
					img{
						display: block;
					}

					.btn-del{
						color: $color10;
						font-size: 15px;
						font-weight: 700;
						line-height: 1;
						margin-left: 1.5rem;
					}
				}

				.cell{
					margin-right: 4rem;
					margin-top: 1.3rem;
					padding-right: 0;
					padding-left: 0;
					&:last-child{
						margin-right: 0;
					}
					label{
						margin-bottom: .3rem;
					}
					&-cardnumber{
						width: 280px;
					}
					&-cardexpiry{
						width: 140px;
						.form-control{
							text-transform: uppercase;
						width: 14rem;
						}
					}
					&-cvv{
						width: 175px;
						flex-shrink: 0;
						.form-control{
							width: 7rem;
						}
					}
					&-cardtype{
						flex-grow: 1;
					}		
				}

				.savecard-control{
					margin-top: .8rem;
				}

				@media (max-width: 1550px){
					.cell{
						margin-right: 2.9rem;
					}
				}
				@media (max-width: 1500px){
					.cell-cardtype{
						flex-grow: 0;
					}
				}
			}

		}
	}

	.tooltip-label{
		margin-left: .5rem;
		font-weight: 700;

		color: #fff;
		font-size: 1.5rem;
		padding: 0;

		&-circle{
			background-color: #778d9b;
			border-radius: 50%;		
			height: 20px;
			width: 20px;
			&:hover{
				background-color: $color9 !important
			}
		}

		.tooltip-body{
			font-weight: normal;
		}
	}

	.newaddress-form{
		display: none;
		border-top: 1px solid #e7e8e8;
		margin-top: 1.8rem;
		padding-bottom: 1.5rem;
	}

	.listcard-select{
		width: 31rem;
	}

	.btn-del{

	}
	.checkout__body{
		.newaddress-form .row{
			margin-top: 1.9rem;
		}
	}


	.agree-control{
		margin-top: 3rem;
	}

	.btn-submit{
		border-radius: 6rem;
		font-size: 1.8rem;
		font-weight: 700;
		height: 6rem;
		justify-content: center;
		margin-top: 2rem;
		text-align: center;
		width: 100%;
	}


	// shopping-cart

	.shopping-cart{
		.title{
			font-size: 2.2rem;
		}

		.propdata{
			color: $color19;
			margin-top: .5rem;
			.icon{
				margin-right: 10px;
			}
			&__item{
				display: flex;
				margin-right: 1.4rem;
				b{
					margin-right: .3rem;
				}
			}
		}



		.shopping-cart__list{
			margin-top: 1.5rem;
		}
		.item-cart{
			background-color: #fff;
			color: #535353;
			font-size: 1.3rem;
			margin-bottom: .2rem;
			padding: 2rem 2.2rem 1.6rem;
			position: relative;
			.inner{
				// display: flex;
			}

			.countmodule{
				height: 3rem;
				padding-right: 2rem;
			}

			&__title{
				font-size: 1.4rem;
				font-weight: 700;
				line-height: 1.2;
				padding-right: 2rem;
				width: 10.5rem;
			}

			&__count{
				line-height: 1.2;
				padding-right: 2rem;
				width: 11.5rem;
			}

			.total{
				.price{
					color: #000;
				}
			}

			.btn-del{
				padding: 0;
				position: absolute;
				top: 20px;
				right: 16px;
				.icon{
					transition: transform .3s;
				}
				&:hover{
					.icon{
						transform: rotate(90deg)
					}
				}
			}

			.unitprice{
				margin-top: -18px;
			}

			.remark{
				font-style: italic;
				margin-top: .5rem;
			}
		}

		.calculation{
			$color: #28292d;
			background-color: $color;
			color: #fff;
			padding: 2.2rem 2rem 1.4rem;
			button{
				color: #fff;
			}
			.code{
				&__row{
					margin-bottom: 2rem;
					label{
						flex-shrink: 0;
						width: 15rem;
						padding-right: 1.6rem;
					}
					.form-control{
						height: 3rem;
						flex-grow: 1;
						background-color: #fff;
					}
					.btn-ok{
						border-radius: 3rem;
						font-weight: 700;
						flex-shrink: 0;
						margin-left: 1rem;
						text-align: center;
						width: 5.5rem;
						height: 3rem;
						border-radius: 3rem;
						justify-content: center;
					}
				}
			}


			&__row{
				display: flex;
				font-size: 1.6rem;
				font-weight: 700;
				justify-content: space-between;
				margin-top: 2.5rem;
				margin-bottom: -.8rem;
				position: relative;
				&:after{
					@extend .before;
					border-top: 1px solid #4d4d4d;
					left: 0;
					top: 12px;
					width: 100%;
					z-index: 1;
				}
			}
			&__title{
				background-color: $color;
				padding-right: 1rem;
				position: relative;
				z-index: 10;
			}
			&__value{
				background-color: $color;
				padding-left: 1rem;
				position: relative;
				z-index: 10;
			}

			.total{
				color: $color10;
				font-size: 2.2rem;
				font-weight: 700;
				margin-top: 2.3rem;
			}
		}
	}
}