$color1:#000000;
$color2:#ffffff;
$color3:#0672ba;
$color4:#119af7;
$color5:#0198ff;
$color6:#97feff;
$color7:#4b4f53;
$color8:#f3f3f3;
$color9:#0099ff;
$color10:#c91537;
$color11:#808080;
$color12:#28292d;
$color13:#b4bdc4;
$color14: #010101;
$color15: #f5f7f8;
$color16: #f5f6f8;
$color17: #111b29;
$color18: #5f5f5f;
$color19: #4b4b4b;
$color20: #919191;
$color21: #0672bb;
$color22: #dde2e6;
$color23: #00ffab;
$color24: #9a9a9a;
$color25: #474747;
$color26: #00b67b;
$color27: #00ffac;
$color28: #0571b9;



.pink-color{
	background-color: $color10;
} 


.primary-color{
	background-color: $color9;
} 

.primary-color-hover{
	transition: background-color .3s;
	&:hover{
		background-color: $color9;
	}
}
