$color1:#000000;
$color2:#ffffff;
$color3:#0672ba;
$color4:#119af7;
$color5:#0198ff;
$color6:#97feff;
$color7:#4b4f53;
$color8:#f3f3f3;
$color9:#0099ff;
$color10:#c91537;
$color11:#808080;
$color12:#28292d;
$color13:#b4bdc4;
$color14: #010101;
$color15: #f5f7f8;
$color16: #f5f6f8;
$color17: #111b29;
$color18: #5f5f5f;
$color19: #4b4b4b;
$color20: #919191;
$color21: #0672bb;
$color22: #dde2e6;
$color23: #00ffab;
$color24: #9a9a9a;
$color25: #474747;
$color26: #00b67b;
$color27: #00ffac;
$color28: #0571b9;
$color29: #d7d7d7;
$color30: #c2c9d1;
$color31: #90d3ff;
$color32: #899299;
$color33: #d6d6d6;
$color34: #959a9d;
$color35: #bcc7ce;
$color36: #e5e6e7;
$color37: #e8e8e8;
$color38: #464646;
$color39: #8d8d8d;
$color40: #fffefe;
$color41: #eaecf0;
$color42: #687075;
$color43: #454c50;
$color44: #2899d7;
$color45: #0f77bc;
$color46: #dee0e4;
$color47: #2a2f32;
$color48: #deecdf;
$color49: #168ddc;


.pink-color:not(p)
{
	background-color: $color10;
} 

p.pink-color{
	color: $color10;
}


.primary-color{
	background-color: $color9;
} 

.bg-blue{
	background-color: $color3;	
}

.primary-color-hover{
	transition: background-color .3s;
	&:hover{
		background-color: $color9;
	}
}

.azure-color{color: $color44}
.azure-bg-color{background-color: $color44}

.pale-blue-bg{background-color: $color41}
.moderately-green-bg{background-color: $color48}