.comparison{
	&-info{
		color: #000;
		font-size: 1.7rem;
		line-height: 2.35;
		margin-bottom: 1.2rem;
	}

	&__column{
		&-first{
			.comparison{
				&__cell{
					font-weight: 700;
				}
			}
			img{
				display: block;
			}
		}

		&-head{
			flex-shrink: 0;
			.comparison{
				&__cell{
					border-top: 1px solid $color46;
					padding: .9rem 0;
					&-first{
						padding-top: 0;
					}
					&:last-child{
						border-bottom: 1px solid $color46;
					}
				}
			}
		}

		.btn-del{
			@extend .flex-center;
			background-color: #c91537;
			border-radius: 50%;
			height: 40px;
			padding: 0;
			position: absolute;
			right: 8px;
			top: 11px;
			transition: background-color .3s;
			width: 40px;
			line{
				stroke: #fff;
				stroke-width: 3px;				
			}

			&:hover{
				background-color: #ff1b46;
			}
		}
	}

	&__cell{
		color: #000;
		font-style: 1.5rem;

		&-first{
			padding-top: 0;
		}
		&:first-child{
			border-top: none;
			padding-bottom: 0;
			height: 475px;
		}

		&-first{
			height: 450px;	
		}
	}

	&-arrow{
		position: absolute;
		right: 0;
		top: -30px;
		.slick{
			&-next{
				right: 0;
				.icon{
					transform: rotate(180deg)
				}
			}
			&-prev{
				left: -85px;
			}
		}
	}

	&__body{
		.comparison{
			&__column{
				background-color: #fff;
				margin-left: 1.4rem;
				padding: 0 2.2rem;
				position: relative;
				width: 305px;
				// &-null{
					// background-color: #dfe6ea
				// }
			}

			&__cell{
				padding: 1rem 0 .9rem;
				&-first{
					border-bottom: 1px solid $color46;
				}
			}
		}

		.pic{
			height: 175px;
			padding-top: 2.5rem;
		}

		.detail{
			margin-top: 5rem;			
		}

		.product-title{
			@extend .neosans;
			font-size: 1.7rem;
			font-weight: 700;
			text-transform: uppercase;
		}

		.preorder{
			color: #bea416;
			font-size: 1.6rem;
			font-weight: 700;
			line-height: 1.56;
			margin-top: 1.1rem;
			.form-control{
				background-color: #fff;
				border-radius: 0;
				border: 1px solid #bbbbbb;
				height: 22px;
				margin-left: 1rem;
				padding: 0 .5rem;
				width: 55px;
				font-size: 1.4rem;
				text-align: center;
			}
		}

		.price{
			&-layout{
				border-top: 1px solid $color46;
				margin-top: 1.7rem;
				text-align: center;
			}
			.current-price{
				line-height: 3.33;
			}
			.old-price{
				line-height: 4;
				margin-left: 1.2rem;
			}
		}

		@media (max-width: 950px){
			.comparison__column{
				padding-left: 1rem;
				padding-right: 1rem;
				width: 280px;
			}
		}

		@media (max-width: 850px){
			.comparison__column{
				padding-left: 1rem;
				padding-right: 1rem;
				width: 250px;
			}
		}
	}
}


.current-price{
	color: #000;
	font-family: "Neo Sans Pro";
	font-size: 1.8rem;
	font-weight: 700;
}
.old-price{
	color: #eb5c5c;
	font-size: 1.5rem;
	text-decoration: line-through;
}


@media (max-width: 767px){
	.comparison__layout{
		overflow-y: hidden;
		width: 100%;
		border: 1px solid #dddddd;
		.row{
			width: 1000px;
		}
	}
}

@media (max-width: 576px){
	.comparison__layout{
		.row{
			flex-wrap: nowrap;
		}
		.left{
			flex-shrink: 0;
			width: 200px;
		}
		.right{
			width: 800px;
		}
	}
	.comparison__body .comparison__column{
		margin-left: 0;
		margin-bottom: 15px;
		width: 305px;
	}
	.comparison__column-head .comparison__cell{
		padding-left: 5px;
	}

}