/* =searchbox
---------------------------*/
.searchbox,
.header .vehicle-search,
#searchbysizeModal
{
	.listwrapper {
		height: 250px;
		overflow: hidden;
		position: relative;
		z-index: 10;
		ul{
			max-height: none !important;
			height: auto !important;
			li{
				width: calc(100% - 27px) !important;
			}
		}

		.ps__rail-y{
			width: 3px;
		}

		.ps__thumb-y{
			right: -3px;
		}

		.ms-no-results{
			padding-left: 26px;
			font-size: 1.5rem;
		}
	}
}

.searchbox{
	margin-top: -8rem;
	position: relative;
	.d-grid{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	&__layout{
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);		
	}
	.nav{
		.separator{
			border-left: 1px solid $color33;
			height: 28px;
			width: 1px;
			margin: 0 2.2rem;
		}
		&-link{
			color: $color32;
			font-weight: 700;
			transition: color .3s;
			line-height: 1.1;
			&.active{
				color: $color1;
			}
			&:hover{
				text-decoration: none;
				&:not(.active){
					color: $color9;
				}
			}
		}
	}

	.car-tab-layout,
	.moto-tab-layout,
	.hd-tab-layout
	{
		width: 63rem;
	}


	#year_select,
	#engine_select,
	#engineno_select,

	#year_select2,
	#engine_select2,
	#engineno_select2,

	#engine_select3
	{
		width: 145px;
	}
	.ms-search{
		margin-bottom: 2px;
	}

	.hide-radio{
		&:first-child{
			// display: none !important;
		}
	}
	
	.ms-drop{
		padding: 0 0 13px;
		.ms-search{
			padding-top: 20px;
		}
	}


	 &__panel{
		background-color: #fff;
		padding: 3rem 2.5rem;

		.checkbox input {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}
		.checkbox__text {
			position: relative;
			padding: 0 0 0 70px;
			cursor: pointer;
		}
		.checkbox__text:before {
			background: $color35;
			border-radius: 30px;
			content: '';
			height: 30px;
			left: 0;
			position: absolute;
			top: -4px;
			transition: .2s;
			width: 69px;
		}
		.checkbox__text:after {
			@extend .flex-center;
			background: #FFF;
			border-radius: 10px;
			color: #6a6a6a;
			content: 'OFF';
			font-size: .8rem;
			height: 20px;
			padding-top: 2px;
			position: absolute;
			right: 6px;
			top: 1px;
			transition: .2s;
			width: 33px;
		}
		.checkbox input:checked + .checkbox__text:before {
			background: $color3;
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
		}
		.checkbox input:checked + .checkbox__text:after {
			content: "ON";
			right: 32px;
		}


		// search by Vehicle
		&-vehicle{
			border-right: 1px solid #e8e8e8;
			min-height: 374px;

			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 3;

			.nav{
				&-item{
					font-size: 1.6rem;
					font-weight: 700;
				}
				&-link{
					@extend .flex-center;
					border-radius: 3rem;
					border: 3px solid  #fff;
					height: 3.6rem;
					padding: 0 1.2rem;
					&.active{
						border-color: $color3;
					}
				}
				.separator{
					height: 24px;
					margin: 0 .9rem;
				}
			}

			.nav-top{
				margin-top: 1.2rem;
				width: 63rem;
			}

			.veh-only{
				font-size: 1.5rem;
				.checkbox{
					margin-left: 10px;
					position: relative;
					top: -10px;
				}
			}

			.row,
			.vehicle-control{
				margin-bottom: 1.5rem;
			}

			.btn-search{
				margin-top: -12px;
			}
		}
		&-partnum,
		&-vin{
			.btn{
				margin-left: 1.8rem;
			}
		}

		&-partnum{
			border-bottom: 1px solid #e8e8e8;

			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
		}
		&-vin{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 2;
			grid-row-end: 3;
		}
	}

	&__title{
		color: #000;
		font-family: "Neo Sans Pro";
		font-size: 3rem;
		font-weight: 700;
		line-height: .83;
	}

	.tab-content{
		margin-top: 2.1rem;
	}

	.form-control{
		// background-color: $color8;
		// border-radius: 4rem;
		// border: none;
		// height: 4rem;
		// padding: 0 15px;
		width: 41rem;
		// transition: box-shadow .3s;
		// &:hover,
		// &:focus{
		// 	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
		// }
	}

	.btn-file{
		background-color: #778d9b;
		border-radius: 50%;
		box-shadow: 0 5px 15px rgba(0, 153, 255, 0.5);
		height: 4rem;
		margin-left: 2rem;
		width: 4rem;
		flex-shrink: 0;
		& + .btn-search{
			margin-left: 10px;
		}
	}

	.btn{
		&-search{
			background-position: 13px center;
			background-repeat: no-repeat;
			box-shadow: 0 5px 15px rgba(0, 153, 255, 0.5);
			display: block;
			font-weight: 700;
		}
		&-middle{
			background-image: url(../images/icons/search-middle.png);
			border-radius: 4rem;
			font-size: 1.6rem;
			height: 4rem;
			padding: 0 1.9rem 0 3.7rem;
		}
		&-big{
			background-image: url(../images/icons/search-big.png);
			border-radius: 5rem;
			font-size: 1.8rem;
			height: 5rem;
			padding: 0 2.7rem 0 4.7rem;
		}
	}

	.example{
		color: $color34;
		font-size: 1.3rem;
		margin: .4rem 0 0 4px;
	}
}
/* =/searchbox
---------------------------*/



/* =promo
---------------------------*/
.promo{
	.wrapper{
		background-color: #be3623;
		position: relative;
		&:before{
			@extend .before;
			width: 0;
			height: 0;
			border-top: 160px solid #fff; 
			border-right: 150px solid transparent;
			z-index: 50;
		}
	}
}
/* =/promo
---------------------------*/


.slick-init{
	display: flex;
	&.slick-initialized{
		display: block;
	}	
}

#homeslider{
	@extend .slick-init;
	.layout{
		height: 430px;
		max-width: 1280px;
		margin: 0 auto;
	}

	.item{
		background-size: cover;
		background-repeat: no-repeat;
	}

	.text-color-white{
		color: $color2;
		.title{
			color: currentColor;
		}
	}

	.left{
		flex-shrink: 0;
		width: 37%;
	}

	.right{
		flex-grow: 1;
		padding-left: 130px;
		text-align: center;
		img{
			max-width: 100%;
		}
	}
	.title{
		font-size: 5rem;
		font-family: 'Neo Sans Pro', Verdana, sans-serif;
		font-weight: 700;
		line-height: 1.3;
	}
	.text{
		font-size: 1.7rem;
		margin-top: 1.2rem;
	}

	.more{
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		margin-top: 3rem;
		padding-left: 47px;
	}

	.slick{
		&-arrow{
			border-radius: 50%;
			border: 2px solid $color2;
			height: 60px;
			left: 50%;
			opacity: 0.5;
			position: absolute;
			top: 50%;
			transition: .3s;
			width: 60px;
			z-index: 50;
			padding: 0;
			transition: .3s;
			&:hover{
				background-color: $color2;
				opacity: 1;
				&:before{
					filter: none;
				}
			}
			&:before{
				transition: .3s;
				filter: grayscale(1) brightness(10);
			}
		}

		&-prev{
			margin-left: -800px;
			transform: rotate(180deg);
		}
		&-next{
			margin-left: 740px;
		}
	}

	[data-animation-in] {
		opacity: 0;
	}
}


/* =catalog
---------------------------*/
.catalog{
	padding: 3rem 0 4rem;
	font-size: 1.8rem;
	position: relative;
	z-index: 50;
}


.catalog,
.header .catalog__menu{
	a{
		@extend .flex-center;
		flex-direction: column;
		padding-top: 10px;
		text-align: center;
		&:hover{
			text-decoration: none;
			img{
				transform: translateY(-10px);
			}
		}
	}

	.pic{
		margin-bottom: .2rem;
		min-height: 65px;		
	}

	img{
		transition: .3s;
		vertical-align: top;
	}
}



#catalog-carousel{
	justify-content: space-between;
	padding-left: 60px;
	padding-right: 60px;
	a{
		&:hover{
			color: $color9;
			img{
				filter: brightness(1.4);
			}			
		}
	}
	.slick{
		&-arrow{
			height: 21px;
			// left: 50%;
			position: absolute;
			top: 33px;
			width: 12px;
			z-index: 90;
			&:hover{
				opacity: 1;
				&:before{
					filter: none;
				}
			}
			&:before{
				transition: .3s;
				filter: grayscale(1) brightness(1.6);
			}
		}

		&-prev{
			left: 0;
			// margin-left: -790px;
			transform: rotate(180deg);
		}
		&-next{
			// margin-left: 778px;
			right: 0;
		}
	}
}
/* =/catalog
---------------------------*/


/* =visual
---------------------------*/
.visual{
	margin-top: 3.5rem;
	&__item{
		background-color: $color16;
		background-repeat: no-repeat;
		background-position: right top;
		column-gap: 2.5rem;
		flex-grow: 1;
		font-family: "Neo Sans Pro";
		font-size: 4rem;
		font-weight: 700;
		height: 24rem;
		padding-left: 3.4rem;
		position: relative;
		&:before{
			@extend .before;
			border-right: 125px solid transparent;
			border-top: 125px solid #fff; 
			height: 0;
			left: 0;
			top: 0;
			width: 0;
			z-index: 1;
		}
		&-1{
			background-image: url(../images/bg/visual-1-bg.png);
			@media (max-width: 1199px){
				background-image: url(../images/bg/visual-1-bg-1000.png);
			}
		}
		&-2{
			background-image: url(../images/bg/visual-2-bg.png);
			@media (max-width: 1199px){
				background-image: url(../images/bg/visual-2-bg-1000.png);				
			}
		}
	}

	&__link{
		align-items: center;
		display: flex;
		height: 100%;
		line-height: 1.2;
		position: relative;
		text-decoration-color: $color3;
		text-decoration: underline;
		z-index: 2;
		&:hover{
			color: $color9;
			text-decoration: none;
			img{
				transform: scale(1.01)
			}
		}
		img{
			bottom: 0;
			position: absolute;
			right: 0;
			transform-origin: right bottom;
			transition: transform .3s;
		}
	}
}
/* =/visual
---------------------------*/


/* =advantages
---------------------------*/
.advantages{
	background-color: #28292d;
	color: $color2;
	font-family: "Neo Sans Pro";
	font-size: 1.8rem;
	font-weight: 700;
	margin-top: 6.5rem;
	&-layout{
		min-height: 14rem;
		width: 100%;
	}
}

.advantage{
	&__item{
		display: flex;
		align-items: center;
	}
	&__pic{
		background-color: $color3;
		border-radius: 50%;
		flex-shrink: 0;
		margin-right: 1.7rem;
		height: 70px;
		width: 70px;
	}
}
/* =/advantages
---------------------------*/


/* =lastnews
---------------------------*/
.lastnews{
	background-color: #f5f6f8;
	padding: 6.7rem 0 9rem;
	header{
		color: $color18;
		font-size: 1.5rem;
		p:not(.title){
			line-height: 1.67;
		}
	}
	.title{
		color: $color17;
		line-height: 1.25;
		margin-bottom: 2.2rem;
	}
	
	.news__item{
		width: 31.3rem;
	}
}



.item-news{
	// padding: 20px 0;
	&__link{
		overflow: hidden; 
		background-color: #fff;
		display: block;
		&:hover{
			text-decoration: none;
				// box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
			.item-news{
				&__title{
					color: $color9	
				}
				&__pic{
					img{
						transform: scale(1.05)
					}
				}
			}
		}
	}

	&__desc{
		padding: 2.5rem 2.2rem 2.5rem 2.5rem;
	}

	&__title{
		font-family: "Neo Sans Pro";
		font-size: 1.8rem;
		font-weight: 700;
		transition: color .3s;
	}

	&__pic{
		overflow: hidden;
		img{
			transition: transform .3s;
			width: 100%;
		}
	}

	&__text{
		color: $color19;
		font-size: 1.5rem;
		line-height: 1.6;
		margin-top: .6rem;
	}

	&__date{
		color: $color20;
		margin-top: .8rem;
	}
}
/* =/lastnews
---------------------------*/



/* =reviews
---------------------------*/
.reviews{
	background-color: #133025;
	padding: 7rem 0 12rem; 
	min-height: 583px;

	.title{
		display: flex;
		justify-content: center;
		h1{
			color: $color2;
			// font-size: 4.8rem;
		}
	}

	header{
		color: #fff;
		text-align: center;
		.title{
			display: flex;
			align-items: center;
			img{
				display: block;
			}
			.stars{
				margin-left: 4.5rem;
			}
		}
		h1{
			display: flex;
			align-items: center;
			line-height: 1.5;
			font-weight: 700;
			font-family: "Neo Sans Pro";			
			img{
				margin-left: 1.4rem;
			}
		}
		.rated{
			font-size: 1.7rem;
			margin-top: 1rem;
			a{
				color: #fff;
				&:hover{
					color: $color23;
					text-decoration: none;
					u{
						text-decoration: none;
					}
				}
			}
		}
	}

	&__body{
		margin-top: 3rem;
	}

	.btn-show{
		$h: 5rem;
		@extend .flex-center;
		border-radius: $h;
		display: flex;
		font-size: 1.8rem;
		font-weight: 700;
		height: $h;
		margin: 3.5rem auto 0;
		width: 16rem;
		&:hover{
			box-shadow: 0 5px 15px rgba(0, 255, 172, 0.5);
		}
	}
}

.star-rating--medium{
	display: block;
	height: 20px;
	width: 108px;
	img{
		max-width: 100%;
		width: 100%;
	}
}

.review-card{
	background-color: #fff;
	border-left: 1px solid #000;
	position: relative;
	z-index: 2;
	// width: 530px;
	transition: z-index .3s;
	flex-grow: 1;

	&:hover{
		z-index: 1;
	}
	&:first-child{
		border-left: none;
	}

	&__title{
		color: $color14;
		font-size: 1.6rem;
		padding-top: 2.5rem;
		font-weight: 700;
		font-family: "Neo Sans Pro";
		transition: color .3s;
	}
	&__header{
		display: flex;
		align-items: center;		
	}

	&__info{
		margin-left: 1.2rem;
	}

	&__author{
		font-weight: 700;
		a{
			// color: $color19;			
		}
	}

	&__date{
		color: $color24;
		font-size: 1.3rem;
	}

	&__body{
		color: $color25;
		line-height: 1.7;
		margin-top: .8rem;
	}

	.profile-image{
		border-radius: 50%;
		width: 44px;
		height: 44px;
	}

	.star-rating{
		position: absolute;
		right: 16px;
		top: 16px;
	}

	&__link{
		display: block;
		min-height: 19rem;
		padding: 2rem 2.3rem 2rem 2.7rem;
		position: relative;
		&:hover{
			box-shadow: 0 5px 20px rgba(0, 255, 172, 0.75);
			color: currentColor;
			text-decoration: none;
			.review-card{
				&__title{
					color: $color9;
				}
			}
		}
	}
}
/* =/reviews
---------------------------*/



/* =about
---------------------------*/
.about{
	padding: 4.5rem 0;
	font-size: 1.7rem;
	.subtitle{
		color: $color28;
		font-size: 2.8rem;
		font-family: "Neo Sans Pro";
		font-weight: 700;
		margin-top: .6rem;
	}

	.text{
		line-height: 1.76;
		margin-top: 1.5rem;
	}
}
/* =/about
---------------------------*/



/* =brands
---------------------------*/
.brands{
	border-top: 1px solid $color29;
	padding: 5rem 0 6rem;
	div.slick-slide{
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 75px;
	}
	a{
		display: inline-block;
		padding-top: 10px;
		text-align: center;
		img{
			display: inline;
			vertical-align: top;
			transition: transform .3s;
		}
		&:hover{
			img{
				transform: translateY(-10px)
			}
		}
	}
	img{
		margin-left: auto;
		margin-right: auto;
	}

	.slick{
		&-next{
			right: 0;
		}
		&-prev{
			left: 0;
			transform: rotate(180deg);
		}
	}

	#brands-carousel{
		padding-left: 60px;
		padding-right: 60px;
	}
}

.slick-arrow-round-gray{
	border-radius: 50%;
	border: 2px solid $color30;
	height: 4rem;
	margin-top: -2rem;
	padding: 0;
	position: absolute;
	top: 50%;
	transition: .3s;
	width: 4rem;
	z-index: 50;
	display: flex;
	&:hover,
	&:focus
	{
		background-color: $color30;
		.icon{
			filter: brightness(5);
		}
	}
	.icon{
		margin: auto;
	}
}
/* =/brands
---------------------------*/
