.inner{
	.main{
		background-color: #f5f6f8;
		padding-bottom: 7rem;
	}
}


.main{
	img{
		max-width: 100%;
	}
	ol{
		counter-reset: li;  
		list-style: none;
		li{
			margin: 1rem 0;
			padding-left: 20px;
			position: relative;
			&:before{
				color: $color4;
				content: counter(li, decimal) ".";
				counter-increment: li;
				font-size: 14px;
				left: 0;
				position: absolute;
				top: 0;
				width: 20px;
			}
		}
	}
}


.searchForm,
.smartsearchForm
{
	display: none;
	&.open{
		display: block;
	}
}
.smartsearchForm{
	margin-top: .8rem;	
}

.modal{
	.smartsearch{
		padding: 1.3rem 1.8rem 1.3rem 1.4rem;
	}
}

.smartsearch{
	.ms-drop ul > li.hide-radio label{
		// padding: .9rem 0;
	}
	&__header{
		align-items: center;
		display: flex;
		@extend .neosans;
		.title{
			color: #000;
			font-size: 1.6rem;
		}

		.ms-parent{
			font-size: 1.6rem;
			width: 180px !important;
		}
		.ms-choice{
			background: none;
			color: #0672ba;
			@extend .neosans;
			font-weight: 700;
			height: auto;
			padding-right: 15px;
			position: relative;
			width: auto !important;
			& > span{
				line-height: 1.8;
			}

			& > div{
				background-color: transparent;
				height: 7px;
				right: 1px;
				top: 12px;
				width: 10px;
				&:before{
					transition: transform .3s;					
				}
				&.open{
					&:before{
						transform: rotate(-180deg);
					}
				}
			}

			&:hover,
			&:focus{
				background-color: transparent;
				box-shadow: none !important;
				& > span{
					color: #0099ff;
				}
				div{
					background-color: transparent;
					&:before{
						filter: none;
					}
				}
			}
		}

		.ms-drop{
			box-shadow: 0 0 10px rgba(0,0,0,.25);
			border-radius: 0 0 12px 12px;
			padding: 5px 0 0;
			width: 160px;
			ul > li{
				&.hide-radio{
					&:before,
					&:after{
						display: none;
					}
					&.selected{
						background-color: $color3;
						color: $color2;
					}
				}
				span{
					padding-left: 1.2rem;
					padding-right: 1.2rem;
				}
			}
		}


		.ms-choice{
			margin-left: 16px;
			& > span{
				padding-left: 0;
			}
		}
	}

	form{
		
	}

	.btn-search{
		align-items: center;
		font-size: 1.6rem;
		margin-top: 1.3rem;
	}

	.switch{
		margin-top: .5rem;
		margin-bottom: 1.2rem;
	}

	#vehicleplatenoForm,
	#partnumForm
	{

	}

	.control-item{
		margin-top: 1rem;
		label{
			white-space: nowrap;
		}
		.form-control{
			flex-grow: 1;
			margin-left: 1.7rem;
		}
	}


	.approximation_block{
		margin-top: 1.5rem;
		margin-bottom: 2.5rem;
	}

	.subtype-list{
		justify-content: space-between
	}
	.spec_fields{
		.subtype-item{
			margin-right: 0;
			margin-top: 1rem;
			width: 48%;
		}
		.form-control{
			margin-left: 0;
			width: 100%;
		}
	}

	.type_id_wrapper {
		.ms-parent{
			width: 100% !important;
		}
	}


	.ms-drop.bottom{
		left: 15px;
		top: 100%;
		padding-top: 0;
		ul{
			padding: 0;
		}
	}

	.vehicle-control{
		margin-bottom: 1.5rem;
		width: 100%;
		.ms-drop.bottom{
			left: 0;
		}
	}

	.ms-search{
		margin: 1.5rem 0;
		padding-right: 25px;
	}
	.ms-parent{
		&.year,
		&.engine,
		&.engineno
		{
			width: 150px !important;
		}
	}

}


.checkbox input {
	opacity: 0;
	position: absolute;
	z-index: -1;
}
.checkbox__text {
	cursor: pointer;
	height: 30px;
	margin-left: 10px;
	padding: 0 0 0 70px;
	position: relative;
}
.checkbox__text:before {
	background: $color35;
	border-radius: 30px;
	content: '';
	height: 30px;
	left: 0;
	position: absolute;
	transition: .2s;
	width: 69px;
}
.checkbox__text:after {
	@extend .flex-center;
	background: #FFF;
	border-radius: 10px;
	color: #6a6a6a;
	content: 'OFF';
	font-size: .8rem;
	height: 20px;
	padding-top: 2px;
	position: absolute;
	right: 6px;
	top: 5px;
	transition: .2s;
	width: 33px;
}
.checkbox input:checked + .checkbox__text:before {
	background: $color3;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.checkbox input:checked + .checkbox__text:after {
	content: "ON";
	right: 32px;
}



// =breadcrumbs
.breadcrumbs{
	$color: $color39;
	color: $color;
	padding: 1.4rem 0;
	a{
		color: $color;
	}
	 ul{
	 	display: flex;
	 	flex-wrap: wrap;
	 	li{
	 		margin: 0 .8rem;
	 		&.B_homecrumb{
	 			margin-left: 0;
	 			a{
	 				padding-left: 25px;
	 				position: relative;
	 				&:before{
	 					@extend .before;
	 					@include sprite($icon-home);
	 					left: 0;
	 					top: 1px;
	 				}
	 			}
	 		}
	 	}
	 }
}


.main{
	font-size: 1.5rem;
	h1,h2,h3,h4,h5,h6{
		@extend .neosans;
		font-weight: 700;
		color: #000;
	}
	h1{font-size: 4rem;}
	h2{font-size: 3.5rem;}
	h3{font-size: 3rem;}
	h4{font-size: 2.8rem;}
	h5{font-size: 2.6rem;}
	h6{font-size: 2.4rem;}
}

.content{
	font-size: 1.7rem;
	padding-top: 4rem;

	p{
		line-height: 1.76;
	}

	a{
		color: $color3;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}

	h2,h3,h4,h5,h6{
		margin-top: 3rem;
		margin-bottom: 1.5rem;
	}

	img{
		max-width: 100%;
	}

	img.justifyleft, table.justifyleft {float:left; margin-right:50px;margin-bottom:40px;margin-top: 10px;}
	img.justifyright, table.justifyright {float:right; margin-left:20px;margin-bottom:10px;}
	img.justifycenter, table.justifycenter { display: block; margin-left: auto; margin-right: auto;}

	.text-center{
		text-align: center;
	}
	.text-right{
		text-align: right;
	}

	.alignleft {
		float: left;
		margin: 20px 20px 10px 0;
	}

	.alignright {
		float: right;
		margin: 7px 0 10px 10px;
	}

	.aligncenter {
		clear: both;
		display: block;
		margin: 10px auto;
	}


	blockquote{
		background-color: $color3;
		border-bottom: 5px solid $color3;
		border-top: 5px solid $color3;
		color: $color2;
		display: block;
		@extend .neosans;
		font-size: 2.4rem;
		font-weight: 500;
		margin: 3rem -160px;
		padding: 2.5rem 160px;
		position: relative;
		&:after{
			border-top: 3px solid #fff;
			content: "";
			display: block;
			position: absolute;
			right: 44px;
			top: 40px;
			width: 116px;
		}
		&:before{
			background: url(../images/quote.png) no-repeat;
			content: "";
			display: block;
			height: 25px;
			left: 90px;
			position: absolute;
			top: 30px;
			width: 39px;
			z-index: 2;
		}

		&.bq-blue{
			&:before{
				filter: grayscale(1) brightness(5);
			}
		}
		&.bq-transp{
			background-color: transparent;
			color: $color3;
			&:after{
				display: none;
			}
		}
	}

	strong{
		color: #000;
	}


	// ol
	ol{
		counter-reset:li;
		margin-left: 0;
		list-style: none;
		margin-bottom: 20px;
		& > li{
			position: relative;
			padding-left: 30px;
			margin: 3.4rem 0;
			&:before{
				// background: $color_1;
				color: $color3;
				font-size: 1.7rem;
				$s: 3.1rem;
				border-radius: $s;
				content: counter(li) ")";; /* В качестве данных используем счетчик */
				counter-increment:li; /* Увеличиваем значение счетчика на 1 */
				/* Позиционируем и стилизируем цифры */
				position:absolute;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				top:0px;
				left:0;
				font-weight: 700;
			}
			ol{
				list-style-type: none;
				// counter-reset:li;
				margin-left: 5px;
				li{
					&:before{
						content: counter(li) "."; /* В качестве данных используем счетчик */
						counter-increment:li; /* Увеличиваем значение счетчика на 1 */
					}
				}
			}
		}
	}

	ul{
		list-style: none;
		li{
			margin: 3.7rem 0; 
			position: relative;
			padding-left: 30px;
			&:before{
				@extend .before;
				border-top: 4px solid $color3;
				left: 0;
				top: 10px;
				width: 17px;
			}
			li{
				padding-left: 28px;
				&:before{
					width: 9px;
				}
			}
		}
	}


	table{
		color: #3f3f3f;
		width: 100%;
		th{
			background-color: $color2;
			border-bottom: 5px solid $color3;
			font-size: 1.6rem;
			padding: 1.6rem 2rem;
		}

		td{
			font-size: 1.5rem;
			padding: 1.3rem 2rem;
			strong{
				color: #000;
			}
		}
	}

	@media (max-width: 1700px){
		blockquote{
			margin-left: 0;
			margin-right: 0;
		}
	}

	@media (max-width: 950px){
		img.justifyleft, table.justifyleft {float:none; margin-right:0;}
		img.justifyright, table.justifyright {float:none; margin-left:0;}

		blockquote{
			margin-top: 1rem;
			margin-bottom: 1rem;
			padding-left: 60px;
			padding-right: 40px;
			&:after{
				display: none;
			}
			&:before{
				left: 10px;
			}
		}
	}
	@media (max-width: 767px){
		blockquote{
			font-size: 2rem;
		}


		h1{font-size: 3.8rem;}
		h2{font-size: 3.2rem;}
		h3{font-size: 2.8rem;}
		h4{font-size: 2.6rem;}
		h5{font-size: 2.4rem;}
		h6{font-size: 2.3rem;}

	}

	@media (max-width: 575px){
		font-size: 1.5rem;
		blockquote{
			font-size: 1.8rem;
		}

		h1{font-size: 3.6rem;}
		h2{font-size: 3rem;}
		h3{font-size: 2.6rem;}
		h4{font-size: 2.4rem;}
		h5{font-size: 2.2rem;}
		h6{font-size: 2.1rem;}

	}
	@media (max-width: 350px){
		font-size: 1.5rem;
		blockquote{
			font-size: 1.6rem;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			&:before{
				display: none;
			}
		}

		ul{
			li{
				margin: 2rem 0;
			}
		}

		ol{
			li{
				margin: 2rem 0;
			}
		}

		table{
			th,
			td{
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}

		h1{font-size: 3rem;}
		h2{font-size: 2.5rem;}
		h3{font-size: 2.2rem;}
		h4{font-size: 2rem;}
		h5{font-size: 1.8rem;}
		h6{font-size: 1.6rem;}
	}

}


.readmore{
	border-top: 2px solid #d6dde1;
	padding-top: 4.5rem;
	margin-top: 6rem;
	h1,
	.title{
		color: #000;
		font-size: 3.6rem;
	}
	#lastnews-carousel{
		margin-top: 2.5rem;
	}
	.news__item{
		width: 38rem;
	}	

	@media (max-width: 1199px){
		&.lastnews .news__item{
			width: 26rem;
		}
	}

	@media (max-width: 992px){
		&.lastnews .news__item{
			width: 23rem;
		}
	}


	@media (max-width: 959px){
		&.lastnews .news__item{
			width: 26rem;
		}
	}

	@media (max-width: 820px){
		&.lastnews .news__item{
			width: 24rem;
		}
	}

	@media (max-width: 550px){
		&.lastnews .news__item{
			width: 23rem;
		}
	}


	@media (max-width: 500px){
		&.lastnews{
			.news__item{
				width: 21rem;
			}
			.item-news__desc{
				padding-left: 1.7rem;
				padding-right: 1.7rem;
			}
		}
	}
}