.modal{
	.close{
		padding: 0;
		position: absolute;
		right: 30px;
		top: 30px;
		svg{
			display: block;
		}
		line{
			stroke: #b7b7b7;
			stroke-width: 4px;
		}
	}

	&-header{
		padding: 3.5rem 4rem 3.2rem 3.7rem;
	}

	&-title{
		color: $color1;
		@extend .neosans;
		font-size: 3rem;
		line-height: 0.83;
		line-height: 1.3;
	}

	&-content{
		border-radius: 0;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	}

	&-footer{
		display: block;
	}
	&-body{
		padding: 0 3.9rem 2.8rem 3.6rem;
		label{
			color: $color1;
			display: block;
			font-size: 1.5rem;
		}		
		.asterisk{
			color: $color10;
		}
		.form-group{
			margin-bottom: 1.7rem;
		}
	}	
	&-footer{
		background-color: $color16;
		font-size: 1.7rem;
		padding: 2.3rem 3.9rem 4rem 4rem;
	}

	.btn-submit{
		align-items: center;
		box-shadow: 0 5px 15px rgba(0, 153, 255, 0.5);
		display: flex;
		justify-content: center;
		line-height: 1.39;
		margin: 2rem 0 1.6rem;
		.icon{
			margin-left: -10px;
			transition: transform .3s;
		}
		&:hover{
			.icon{
				transform: translateX(-10px);
			}
		}
	}
}
.modal-content-bg{
	&:before,
	&:after{
		background: url(../images/bg/modal-bg.png) no-repeat;
		@extend .before;
	}
	&:before{
		bottom: 0;
		height: 297px;
		left: -135px;
		width: 135px;
	}
	&:after{
		background-position: right top;
		height: 272px;
		right: -118px;
		top: 0;
		width: 118px;
	}
}


.modal-content-rbg{
	min-height: 154px;
	&:after{
		background: url(../images/bg/modal-bg-2.png) no-repeat;
		@extend .before;
	}
	&:after{
		background-position: right top;
		height: 154px;
		right: -67px;
		top: 0;
		width: 67px;
	}
}



#loginModal,
#registerModal
{
	.modal{
		&-body{
			a{
				color: $color3;
				&:hover{
					color: $color9;
					text-decoration: none;
				}
			}
		}

		&-footer{			
			a{
				color: $color3;
				font-weight: 700;
				&:hover{
					color: $color9;
					text-decoration: none;
				}
			}
			.btn-facebook{
				margin-left: 1.8rem;
			}
		}
	}

	.subtitle{
		color: #000;
		@extend .neosans;
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: .7rem;
	}

	.btn-submit{
		min-width: 170px;
	}
}


#loginModal{
	.modal-dialog{
		max-width: 385px;
	}
	.modal{
		&-body{
			.forgotten-link{
				margin-right: 1rem;
			}
		}	
	}


	.custom-control{
		margin: 2rem 0 0 -.3rem;
	}

	.login-buttons{
		margin-top: 1rem;
	}
}


// Register
#registerModal{
	.modal-dialog{
		max-width: 715px;
	}
	.modal{
		&-header{
			padding-bottom: 1.8rem;
		}
		&-body{
			font-size: 1.5rem;
			padding-bottom: 2.8rem;
			form{
				margin-top: 1.8rem;
			}
		}
		&-footer{
			padding-bottom: 2.6rem;
		}
	}

	.btn-submit{
		margin-right: 2rem;
		margin-top: .8rem;
		min-width: 185px;
	}
}


// Forgot Password
#forgotPasswordModal{
	.modal-dialog{
		max-width: 385px;
	}

	.modal-header{
		padding-bottom: 1.3rem;
	}

	form{
		margin-top: 2rem;
	}
	p{
		color: #545862;
		font-size: 1.5rem;
		line-height: 1.7;
	}

	.btn-submit{
		min-width: 190px;
	}
}


.custom-control {
	position: relative;
	display: block;
	min-height: 1.5rem;
	[type=checkbox]:checked,
	[type=checkbox]:not(:checked) {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}
	&-label{
		position: relative;
		margin-bottom: 0;
		vertical-align: top;
		padding-left: 28px;
		cursor: pointer;
		line-height: 1.4;
		&:before{
			transition: background-color .3s;
			background-color: $color36;
			content: "";
			display: block;
			height: 20px;
			left: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 20px;
		}
		&:after {
			height: 11px;
			width: 14px;
			content: "";
			display: block;
			left: 3px;
			position: absolute;
			top: 5px;
		}
		&:hover{
			&:before{
				background-color: #0099ff;
			}
		}
	}
}


.custom-checkbox{
	.custom-control-label::before {
		border-radius: 3px;
	}
	.custom-control-input:checked~.custom-control-label{
		&:before {
			color: #fff;
			background-color: #0672ba;
		}
		&:after {
			background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAQAAADljHTpAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjCRMPGAp6Km/2AAAAc0lEQVQY03XQMQqDUAyA4d8KvYprwZMIHsC1t3DzGO8CQvFOrm8TBJe/gxXR95oMGT6SkBSSjYYnI+YyqPp+ZLoCHQDrvy4Nglg7WKUkWBrV6OtOO86qRqcrHWOjZ4Rz/15ql5QOxD4lKX4fKmnZ+FwP/gJMS6DpesHpzwAAAABJRU5ErkJggg==");
			background-repeat: no-repeat;
		}
	}

	.custom-control-input:indeterminate~.custom-control-label::before {
		border-color: #007bff;
		background-color: #007bff
	}
} 


// Search by size
#searchbysizeModal{
	.modal-dialog{
		max-width: 650px;
	}
	.ss_type_id{
		width: 270px;
	}
	.ms-no-results{
		padding-left: 25px;
	}
	.ms-parent{
		.placeholder{
			color: #000;
		}
	}

	.hide-radio{
		transition: .3s;
	}




	.btn-submit{
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		margin-top: 3rem;
		.icon{
			margin-right: 5px;
		}
	}
}


.spec_fields{
	margin-top: 2.1rem;
	.subtype{
		margin-bottom: 3.2rem;
	}
	.row{
		margin-top: 2rem;
	}
	label{
		font-size: 1.3rem;
		margin-right: 1.7rem;
	}
	.form-control{
		width: 18rem;
	}

	.subtype{
		&-item{
			margin-right: 1rem;
			margin-top: 1.5rem;
			width: 13rem;
			&:last-child{
				margin-right: 0;
			}
			img{
				display: block;
				height: 80px;
				margin-left: auto;
				margin-right: auto;
			}
			input{
				opacity: 0;
				position: absolute;
				&:checked + label{
					border: 4px solid $color3;
					padding: 0;
					.icon-zoom{
						right: 2px;
						top: 2px;
					}
				}
				&:hover + label{
					border-width: 4px;
					padding: 0;
					.icon-zoom{
						right: 2px;
						top: 2px;
					}
				}
			}
			label{
				cursor: pointer;
				border: 2px solid #ebedf1;
				display: block;
				margin-right: 0 !important;
				padding: 2px;
				position: relative;
			}

			.icon-zoom{
				position: absolute;
				right: 4px;
				top: 4px;
				transition: none;
			}
		}
	}
}




.approximation_block{
	margin-top: 2.6rem;
	.btn-group{
		background-color: $color35;
		border-radius: 3rem;
		font-size: 1rem;
		height: 3rem;
		margin-top: .5rem;
		padding: .5rem .7rem;
		label{
			color: #4f565b;
			cursor: pointer;
			font-size: 1rem;
			line-height: 1;
			padding: .6rem 1rem;
			transition: .3s;
			border-radius: 2rem
		}
		.input_approximation{
			&:checked + label{
				background-color: $color3;
				color: #fff;
			}
		}

		.input_approximation{
			opacity: 0;
			position: absolute;
			&:hover{
				& + label{
					background-color: #8d99a0;
					color: #fff;
				}
			}
		}
	}
}

.modal{
	&-info{
		display: none;
		box-shadow: 0 5px 20px rgba(0, 153, 255, 0.5);
		font-size: 1.7rem;
		left: 50%;
		line-height: 1.47;
		margin-left: -160px;
		min-height: 182px;
		padding: 3rem 4rem 4rem 3.2rem;
		position: fixed;
		top: 50%;
		margin-top: -100px;
		width: 321px;
		z-index: 1060;
		&:after{
			@extend .before;
			background: url(../images/bg/info-modal-bg.png) no-repeat;
			height: 154px;
			right: -67px;
			top: 0;
			width: 67px;
		}
		&.show{
			display: block;
		}
		.title{
			font-size: 2.5rem;
			@extend .neosans;
			font-weight: 700;
			margin-bottom: 2.2rem;
		}
		.close{
			padding: 0;
			position: absolute;
			right: 20px;
			top: 20px;
			line{
				stroke-width: 4px;
				stroke:#fff;
			}
		}
	}
	&-success,
	&-itsmycar{
		color: #fff
	}
	&-itsmycar{
		min-height: 150px;
		padding-bottom: 1.7rem;
	}
}

label.error{
	display: none !important;
}

input.form-control.error{
	border: 1px solid $color10;
}





#mobSearch{
	.modal-dialog{
		width: 300px;
	}
	.close{
		right: 10px;
		top: 10px;
	}
}


#helpvehicle2{
	.modal-dialog{
		max-width: 710px;
		width: 96%;
		font-size: 1.5rem;
	}
	.modal-header{
		padding-bottom: 1rem;
	}
	.vin{
		background-color: $color10;
		color: #fff;
		font-weight: 700;
		font-size: 2rem;
		padding: 2.2rem 2rem;
		line-height: 1.2;
	}

	.description{
		font-size: 1.7rem;
		margin-top: 1rem;
	}

	.subtitle{
		@extend .neosans;
		margin-top: 2rem;
		font-weight: 700;
		font-size: 2.2rem;
	}

	.form-control{
		border-radius: 1rem;
		height: 11rem;
		margin-top: .5rem;
	}

	.message{
		margin-top: 3.5rem;
	}
}