.addvehicle-page .plate
{
	form{
		margin-top: 1rem;
	}	
	.subtab{
		margin: 0 0 .5rem;
	}

}


.addvehicle-page{
	.plate{
		background-color: #fff;
		color: #000;
		padding: 3rem 4rem 4rem;
		width: calc(33.3% - 15px);
		min-height: 58rem;
		&__title{
			@extend .neosans;
			color: #000;
			font-size: 3rem;
			font-weight: 700;
			line-height: 1.17;
			margin-bottom: 2rem;
		}


		li{
			font-size: 1.4rem;
			margin: 0;
			padding-left: 0;
		}

		.listwrapper{
			ul li{
				width: calc(100% - 27px)!important
			}
		}


		.btn-addvehicle{
			padding-left: 2rem;
			margin-top: 1.5rem;
			.icon{
				margin-right: 7px;
			}
		}
		
		.row{
			justify-content: space-between;
		}
		.vehicle{
			&-control{
				margin-top: 1.5rem;
				width: 100%;
				.ms-parent{
					font-size: 1.5rem;
					width: 100% !important;
					li{
						margin: 0;
						padding-left: 0;
					}
				}
			}
			&-year,
			&-body,
			&-engine,
			&-engineno
			{
				width: calc(50% - 7px);
			}
		}

		.veh-only{
			font-size: 1.5rem;
		}

		.ms-parent{
			font-size: 1.4rem;
			width: 100% !important;
		}

		.example{
			color: $color34;
			font-size: 1.3rem;
			margin: .1rem 0 .5rem .5rem;
		}

		#vin_brand_select{
			display: block;
		}

		.form-control{
			font-size: 1.4rem;
		}

		.ownersid{
			margin-top: 1.5rem;
			margin-bottom: 2rem;
			width: 100% !important;
		}


		.terms-conditions{
			font-size: 1.5rem;
			margin: 1.7rem 0 0;
			a{
				color: $color3;
				@extend .tdu;
			}
		}

		// plate 4
		&-wherevin{
			margin-top: 2rem;
			padding-top: 4.3rem;
			padding-bottom: 1rem;
			position: relative;
			width: 100% !important;
			p{
				position: relative;
				z-index: 10;
			}
			p:not(.plate__title){
				color: #585c5f;
				font-size: 2rem;
				font-weight: 700;
				line-height: 1;
			}

			.plate__title{
				margin-bottom: 1rem;
			}
			.pic{
				position: relative;
				top: -60px;
			}
		}

		.placement{
			background-color: #eaecf0;
			color: $color10;
			font-size: 1.7rem;
			font-weight: 700;
			line-height: 1.6;
			padding: 2rem 4rem 2rem 8.8rem;
			position: absolute;
			right: 40px;
			top: 48px;
			width: 315px;
			z-index: 15;
			&:before{
				@extend .flex-center;
				background-color: $color10;
				border-radius: 50%;
				color: #fff;
				content: "?";
				height: 48px;
				left: 22px;
				position: absolute;
				top: 25px;
				width: 48px;
			}
		}

		@media (max-width: 1399px){
			padding-left: 2rem;
			padding-right: 2rem;
			&__title{
				font-size: 2rem;
			}

			.veh-only{
				font-size: 1.4rem;
				margin-top: 1rem;
			}

			.vehicle{
				&-year,
				&-body,
				&-engine,
				&-engineno
				{
					width: 100%;
				}
			}

			.btn{
				&-addvehicle{
					height: 4.5rem;
					border-radius: 4.5rem;
					font-size: 1.7rem;
				}
			}

			&-wherevin{
				min-height: 0;
				padding-bottom: 4rem;
				.pic{
					display: block;
					position: static;
					margin-top: 4rem;
				}
			}
		}

		@media (max-width: 1199px){
			margin-bottom: 2rem;
			width: calc(50% - 14px);

			.placement{
				font-size: 1.6rem;
				line-height: 1.4;
				top: 10px;
				right: 10px;
			}
		}

		@media (max-width: 991px){
			.row{
				margin-left: 0;
				margin-right: 0;
			}
			padding-left: 1.5rem;
			padding-right: 1.5rem;

			&-wherevin{
				margin-top: 0;
			}

			.placement{
				padding-left: 65px;
				padding-right: 15px;
				width: 250px;
				font-size: 14px;
				&:before{
					left: 7px;
				}
			}
		}

		@media (max-width: 576px){
			min-height: 0;
			width: 100%;
			.placement{
				position: relative;
				right: auto;
				width: 100%;
			}

			&-wherevin{
				padding-top: 20px;
			}
		}
		
		@media (max-width: 480px){
			padding-top: 18px;
			padding-bottom: 20px;
			&__title{
				font-size: 18px;
			}

			.btn-addvehicle{
				border-radius: 42px;
				font-size: 16px;
				height: 42px;
				min-width: 150px;
				padding-left: 15px;
			}

			&-wherevin p:not(.plate__title){
				font-size: 15px;
			}
		}
	}
}