.stockrequest__list{
	.tr{
		&-head{
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}
	.td{
		&-1{width: 9%;}
		&-2{width: 17.5%;}
		&-3{width: 17.5%;}
		&-4{width: 23%;}
		&-5{width: 15%;}
		&-6{width: 18%;}
	}

	.tr{
		&-item{
			margin-top: 1rem;
			.inner{
				flex-wrap: wrap;
				padding: 3rem 2.3rem 3rem 3rem;
			}
		}
		.td{
			flex-shrink: 0;
			padding-right: 1rem;
		}

		a{
			text-decoration: none;
			font-weight: 700;
			&:hover{
				color: $color9;
			}
		}
	}

	.reqstatus{
		position: relative;
		padding-left: 27px;
		&:before{
			@extend .before;
			left: 0;
			top: 0;
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}
		&-1{
			&:before{
				background-color: #11bd62;
			}
		}
		&-2{
			&:before{
				background-color: #bea416;
			}
		}
	}

	.support-msg{
		border: 7px solid #e8ebef;
		font-size: 1.4rem;
		margin-top: 2.5rem;
		padding: 1rem 1rem 1.5rem 5rem;
		width: 100%;
		.subtitle{
			background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAJCAYAAADO1CeCAAAA4klEQVQ4T2NkwAcK9guwMf/ez/CfwQCHsg///zE4/p7gdgEkz1qwy4CRiWE/kCmAVT0jw4Vff1kdGXHaSSMLGSY4fsBpKWvhrv2MjAwOuBwF9KEhzIccBdsV/jExn8fpQwaGB7/+sRqCLASZh9VStqJd84FyCTgtZGBI/N3ntgAsT2KIYLWU1hZiWMpetLvgP8P/ftxpi7HhV59rI0yeUBQwMTE6/uhxPYBuHjx4WYt2JQA5oGDFBRb86nNLhEmSFCJoJoItpaeF4OAlKm/1uhnCHEsoCoDRM+F3n3shnhBjAADAUn9JmKwyLAAAAABJRU5ErkJggg==");
			background-repeat: no-repeat;
			background-position: left center; 
			font-weight: 700;
			margin-bottom: .5rem;
			margin-left: -37px;
			padding-left: 37px;
		}

	}
}