.address-entries__list{
	background-color: #eaecf0;
	padding: 3rem;

	.item-entry{
		background-color: #fff;
		transition: box-shadow .3s;
		margin-bottom: 1rem;
		&:last-child(){
			margin-bottom: 0;
		}
		&:hover{
			box-shadow: 0 5px 15px rgba(0, 153, 255, 0.5);
		}

		&__body{
			padding: 2rem;
		}

		.num{
			@extend .flex-center;
			@extend .neosans;
			background-color: #0672ba;
			border-radius: 50%;
			color: #fff;
			font-size: 2.5rem;
			font-weight: 700;
			height: 52px;
			width: 52px;
		}
		&__text{
			flex-grow: 1;
			font-size: 1.5rem;
			line-height: 1.4;
			margin-left: 1.7rem;
		}

		&__right{
			display: flex;
			align-items: center;
		}

		.btn{
			text-decoration: none;
			padding: 0;
			margin-top: 0 !important;
			&-edit{
				align-items: center;
				border-radius: 4rem;
				color: #fff;
				display: flex;
				font-size: 1.5rem;
				font-weight: 700;
				height: 4rem;
				justify-content: center;
				margin-right: 2rem;
				margin-left: 2rem;
				padding-right: 8px;
				width: 8rem;
				.icon{
					margin-right: 6px;
				}
				&:hover{
					box-shadow: 0 5px 10px rgba(0, 153, 255, 0.5);
				}
			}
			&-save,
			&-cancel{
				font-size: 1.5rem;
				font-weight: 700;
				padding: 0 2.5rem;
			}
		}

		.radio{
			position: relative;
		}
		.radio input {
			opacity: 0;
			position: absolute;
			z-index: -1;
		}
		.radio__text {
			cursor: pointer;
			height: 36px;
			position: relative;
			width: 140px;
			&:hover{
				&:before{
					background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACBUlEQVQ4T62VTyinQRjH97WlttQ6ir0oWuUisie11734m1qtIm6cRLY9bA5yEJETN6KI0mKVu9oTKReiRLIrR6K2Vbz7+f72GcZ48Sv71NPM+32+8515Zp6ZN3qRYHEcvwSuwuvxt3iJ0TZpd/F5/HsURVfh8CgEEJPAFP4uaTIPW6PfhKgmuLE7goh1EunDXz0h5sK/6XxFdNgBN4KIDQB2B0JdfK/iSlWm1N/jQwFvENHPwlKCiH2kmfVIG/TbIK0nrRR+OfgYXubFG+DPRQQzAffxPAtOEWhOJ2XGTsJrMu4ebbEEP9GZNvCAttCdHjGt4Js32S/6dcSVgTJTNfzEc2x8owQlJlFZO2SlIvIHmhU8rIQYrBresvHaaEdt/IwEd/hQqciKXBmAH/H9xvCwOYaX2iJ4+TTaMtmBBE/pvDYgG+KZEa8TVueEY3gZxtMZ/LHA5f8QzELs3AQvHktZB5CbRsraLm2bbPexQ6mEsJSQ9pOH4pfNiQ4iKJtFb6XH9GuCsjkEczWcKhtt6hZeYMueYEDrA6negRk7DtBioGq46KGrp5dENZkq4NAQKgVTvfov0r+r58iQdOH12vjWwccPL0XdnAp8JOANw9FDcnsL7Bp9AevBtQ3p2CWkXrzf7ftzH9gWhLb9me8JKmirraWrX4AOyz1T2lNt/hy+kPQL+AvNJOGjvOsjlQAAAABJRU5ErkJggg==");
				}
				&:after{
					background-color: #0099ff;
					color: #fff;
					border-color: #0099ff
				}
			}
		}
		.radio__text:before {
			transition: none !important;
			z-index: 10;
			content: '';
			height: 20px;
			width: 20px;
			left: 9px;
			top: 9px;
			position: absolute;
			transition: .2s;
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAClklEQVQ4T6VVS2gTURS9d0ImFcTEnWgsCEoLbopFV4KbJtGFX/xRoVJ3zcZmouJCRMSFH2bUje4UC4qt4hfUJAURXFUCbpQGxGDTFncmKkheyFzvm08zEya20rd6794z5/7Oe4MQtA5NhNR4bA8gHQTAHob0ObCPAFQCwsditvoCHh1utn+O7YbIydc9FAqNsX1bYLCWcQqbzaH6zV0lL85HGNHyGgFcYsCKRchc9x8mOFc3koZrWCBUs4WrQHS6LVrWRHrXmKlxqQDh7mifQriDg+q+gIjXhJ44I20WoarljvD2oQdUJFRGGvrAh6BMw9nJrUjmbfb1t/x0VBipcYQLE6r6M/aVHetsJ42x4/hSSuZE7nEiQw72i1hV3YxqpjDI07zvGMuiUt3kTi+czfUj4ZNWMJgjpAMNPVW08FIN66OzTLrGzgWPIUdhMhy0zoDphpGQpUAkM7mT0HzltsWTMXPS3vr11Eurr1phBIFuOdU9QB7GNA9Dag1YBr2uDNRMvsIdjncofV4YSatFXadyG0wTZcvkKnOG+SpvovIkwhiDK4ma3LPdDMjO5ScmVKyDPYO64xDLJ0y/Xal2NX45hL87l6zl5xi0drGSnZs1beEQS/8YSm43IT7//6H4ZEPfRaUW98nGxGc8HDtTgnlSaJ9fNrFv7LE1LGXjNPUTHzfaacNdoSdPdCjVZ1az+TscZNgxllnYvZ2u3hSLLb2QSRt7ePTNFlQUqVfPi+RePQcc1vI6s2vebxFh1AR67xLLm6MAbieCG14cPxZGw0hm7QLdZV2j1We5EefZpC6lZMYIprgoKj8uu31f1gMLqAwLfeCzr6rATGS23dH9QAr/AkgOy32mijyEMig0LmZqT4N+AX8B0VwptGhx7dYAAAAASUVORK5CYII=");
			background-repeat: no-repeat;
			background-position: left center;
			// width: 69px;
		}
		.radio__text:after {
			transition: none !important;
			@extend .neosans;
			align-items: center;
			border-radius: 30px;
			border: 3px solid $color3;
			color: $color3;
			content: 'Set it default';
			white-space: nowrap;
			display: flex;
			font-size: 1.4rem !important;
			font-weight: 700;
			height: 36px;
			left: 0;
			padding-left: 34px;
			position: absolute;
			top: 0;
			transition: .2s;
			width: 140px;
		}

		.radio input:checked + .radio__text{
			width: 105px;
		}

		.radio input:checked + .radio__text:hover:before {
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAClklEQVQ4T6VVS2gTURS9d0ImFcTEnWgsCEoLbopFV4KbJtGFX/xRoVJ3zcZmouJCRMSFH2bUje4UC4qt4hfUJAURXFUCbpQGxGDTFncmKkheyFzvm08zEya20rd6794z5/7Oe4MQtA5NhNR4bA8gHQTAHob0ObCPAFQCwsditvoCHh1utn+O7YbIydc9FAqNsX1bYLCWcQqbzaH6zV0lL85HGNHyGgFcYsCKRchc9x8mOFc3koZrWCBUs4WrQHS6LVrWRHrXmKlxqQDh7mifQriDg+q+gIjXhJ44I20WoarljvD2oQdUJFRGGvrAh6BMw9nJrUjmbfb1t/x0VBipcYQLE6r6M/aVHetsJ42x4/hSSuZE7nEiQw72i1hV3YxqpjDI07zvGMuiUt3kTi+czfUj4ZNWMJgjpAMNPVW08FIN66OzTLrGzgWPIUdhMhy0zoDphpGQpUAkM7mT0HzltsWTMXPS3vr11Eurr1phBIFuOdU9QB7GNA9Dag1YBr2uDNRMvsIdjncofV4YSatFXadyG0wTZcvkKnOG+SpvovIkwhiDK4ma3LPdDMjO5ScmVKyDPYO64xDLJ0y/Xal2NX45hL87l6zl5xi0drGSnZs1beEQS/8YSm43IT7//6H4ZEPfRaUW98nGxGc8HDtTgnlSaJ9fNrFv7LE1LGXjNPUTHzfaacNdoSdPdCjVZ1az+TscZNgxllnYvZ2u3hSLLb2QSRt7ePTNFlQUqVfPi+RePQcc1vI6s2vebxFh1AR67xLLm6MAbieCG14cPxZGw0hm7QLdZV2j1We5EefZpC6lZMYIprgoKj8uu31f1gMLqAwLfeCzr6rATGS23dH9QAr/AkgOy32mijyEMig0LmZqT4N+AX8B0VwptGhx7dYAAAAASUVORK5CYII=");
		}

		.radio input:checked + .radio__text:after {
			content: "Default";
			right: 32px;
			color: #000;
			background-color: #eaecf0;
			border-color: #eaecf0;
			width: 105px;
		}

		@media (max-width: 900px){
			position: relative;
			&__body{
				padding-right: 40px;
				padding-left: 12px;
			}
			&__text{
				font-size: 14px;
				margin-left: 10px;
				padding-right: 10px;
			}
			.btn{
				&-del{
					position: absolute;
					right: 10px;
					top: 10px;
				}
				&-edit{
					margin-left: 10px;
					margin-right: 0;
				}
			}

			.edit-address{
				padding-left: 15px;
				padding-right: 15px;
				.postcode-wrapper{
					margin-left: -15px;
					margin-right: -15px;
				}
			}
		}

		@media (max-width: 600px){
			&__body,
			&__right{
				flex-wrap: wrap;
			}
			&__right{
				align-items: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-right: 10px;
				width: 140px;
				.btn{
					margin-left: 0;
					&-edit{
						margin: 10px auto 0 !important;
					}
				}
			}

			&__text{
				width: calc(100% - 215px);
			}
		}

		@media (max-width: 550px){
			&__body{
				padding-right: 10px;
			}
			&__right{
				flex-direction: row;
				margin-right: 0;
				margin-top: 15px;
				width: 100%;
				justify-content: space-around;
				.btn{
					&-edit{
						margin-top: 0 !important;
						margin-left: 0 !important;
						margin-right: 0 !important;
					}
				}
			}
		}

	}
	// #item-entry

	@media (max-width: 900px){
		padding-left: 20px;
		padding-right: 20px;
	}
	@media (max-width: 380px){
		padding-left: 10px;
		padding-right: 10px;
	}
}


.add-address,
.edit-address,
.calculate
{
	.ms-parent{
		font-size: 1.5rem;
		width: 100% !important;
		.listwrapper{
			height: 200px;
			li{
				margin: 0;
				padding-left: 0;
				width: calc(100% - 30px);
			}
		}
	}
}


.myaccount{
	.add-address,
	.edit-address
	{
		background-color: #fff;
		padding: 2.2rem 3rem 4rem;
		h1{
			font-size: 2.2rem;
			margin-bottom: 2.4rem;
		}
		label{
			font-size: 1.5rem;
		}

		.form-control{
			font-size: 1.5rem;
		}

		.row{
			margin-top: 1.4rem;
			@media (min-width: 992px){
				.col-lg-3{
					max-width: 33%;
					flex-basis: 33%;
				}				
			}
			.col-3{
				max-width: 33%;
				flex-basis: 33%;
			}

			@media (max-width: 991px){
				.ms-parent{
					margin-bottom: 10px;
				}
			}
			@media (max-width: 768px){
				margin-top: 0;
				.form-control{
					margin-bottom: 10px;
				}
			}
		}

		.postcode-wrapper{
			background-color: #778d9b;
			color: #fff;
			margin: 2rem -3rem 0;
			padding: 3rem;
			.form-control{
				margin-left: 1.3rem;
				margin-right: 1.5rem;
				width: 40rem;
			}
			.btn-getadress{
				height: 4rem;
				border-radius: 4rem;
				font-weight: 700;
				font-size: 1.5rem;
				margin-right: 0;
				padding-left: 1.3rem;
				padding-right: 2.4rem;
				.icon{
					margin-right: 1rem;
				}
			}
			@media (max-width: 768px){
				margin-bottom: 20px;
			}

			@media (max-width: 500px){
				flex-direction: column;
				.form-control{
					min-width: 230px;
					width: 80% !important;
					margin: 15px 0;
				}
			}
		}

		select{
			display: none;
		}

		.region{
			margin-bottom: 0;
			li{
				label{
					margin-top: 0;
				}
			}
		}

		.default-address{
			font-size: 1.5rem;
			margin-top: 2.3rem;
			.checkbox{
				position: relative;
				top: -4px;
			}
			.checkbox__text{
				margin-left: 15px;
				&:after{
					content: "NO";
					font-size: .8rem;
				}
			}
			.checkbox input:checked+.checkbox__text:before{
				background-color: #35ba06
			}
			.checkbox input:checked+.checkbox__text:after{
				content: "YES";
			}
		}

		.btn-submit{
			font-size: 1.5rem;
			margin-top: 2rem;
			padding-left: 2rem;
			padding-right: 2.7rem;
			.icon{
				margin-right: .8rem;
			}
		}

		@media (max-width: 1199px){
			.postcode-wrapper{
				.form-control{
					width: calc(100%  - 250px)
				}
			}
		}
		@media (max-width: 380px){
			padding-left: 10px;
			padding-right: 10px;
		}

		@media (max-width: 380px){
			.postcode-wrapper{
				margin-left: -10px;
				margin-right: -10px;
			}
			.form-control,
			.ms-parent{
				font-size: 14px;
			}
		}
	}


	.edit-address{
		border-top: 1px solid #eaecf0;
		h1{
			margin-bottom: 1rem;
		}

		.btn{
			border-radius: 5rem;
			height: 5rem;
			margin-right: 1.5rem;
		}

		.actions{
			margin-top: 2.2rem;
		}
	}

}