.filter-orders{
	background-color: #fff;
	font-size: 1.5rem;
	padding: 2.5rem 3rem;
	ul{
		li{
			margin: 0 !important;
			padding-left: 0;
			&:before,
			&:after{
				display: none !important;
			}
			span{
				padding: 0 !important;
			}
			width: calc(100% - 27px)!important
		}
	}

	.ms-parent{
		margin-left: 1.5rem;
		width: 305px !important;
		.listwrapper{
			label{
				padding-left: 15px;
			}
		}
	}

	.left{
		.item{
			align-items: center;
			display: flex;
			margin-right: 2.4rem;
		}
	}

	@media (max-width: 1399px){
		.ms-parent{
			width: 200px !important;
		}
	}

	@media (max-width: 1199px){
		.ms-parent{
			width: 240px !important;
		}
	}


	@media (max-width: 991px){
		.item{
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
			}

			&__title{
				width: 65px;
			}
		}

		.ms-parent{
			width: 320px !important;
		}
	}

	@media (max-width: 520px){
		padding: 1.5rem;
		.left{
			width: 100%;
			.item{
				margin-right: 0;
				width: 100%;
			}
		}

		.ms-parent{
			width: calc(100% - 75px) !important;
		}
	}

	@media (max-width: 380px){
		.left{
			.item{
				display: block;
				&__title{
					font-size: 13px;
				}
				.ms-parent{
					margin-left: 0;
					margin-top: 3px;
					width: 100% !important;
				}
			}
		}
	}
}



.order-items__list{
	.tr{
		.inner{
			// padding-right: 2rem;
			padding-right: 0;
		}
		&-item{
			margin-top: 1rem;
		}
		.td{
			font-size: 1.4rem;
			padding-left: 3rem;
			flex-shrink: 0;
			line-height: 1.2;


			&-1{
				width: 15%
			}
			&-2{
				width: 11%
			}
			&-3{
				width: 9%
			}
			&-4{
				width: 7.6%
			}
			&-5{
				width: 9.5%
			}
			&-6{
				width: 10%
			}
			&-7{
				width: 11%
			}
			&-8{
				width: 10%
			}
			&-9{
				width: 10%
			}

			&-10{
				flex-grow: 1;
				padding-right: 20px;
				.d-flex{
					justify-content: flex-end;					
				}
				.countmodule{
					margin-right: 15px;
				}
			}
			&-25-percents{
				padding-right: 20px;
				flex: 1 0 25%;
			}
			&-33-percents{
				padding-right: 20px;
				flex: 1 0 33%;
			}
			.current-price{
				font-size: 1.4rem;
			}
			.old-price{
				font-size: 1.2rem;
			}

			a{
				text-decoration: none;
				strong{
					color: $color3 ;
				}
			}
		}
	}

	@media (max-width: 1399px){
		.tr{
			.td{
				padding-left: 1rem;
				&-1{
					width: 11%;
				}
				&-2{
					width: 13%;
				}
				&-10{
					padding: 10px;
					.d-flex{
						display: block !important;
					}
				}
				.countmodule{
					margin-bottom: 10px;
					margin-right: 0;
					justify-content: center;
				}
				.btn-cart{
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}

	@media (max-width: 1199px){
		.tr{
			.td{
				&-1{width: 15%;}
				&-2{width: 22%;}
				&-3{width: 16%;}
				&-4{width: 16%;}
				&-5{width: 16%;}
				&-6{width: 15%;}

				&-7{width: 23%;}
				&-8{width: 23%;}
				&-9{width: 23%;}
				&-10{
					width: 31%;
					.d-flex{
						display: flex !important
					}
				}
			}
		}
	}


	@media (max-width: 850px){
		.tr{
			.td{
				&-1{width: 25%;}
				&-2{width: 25%;}
				&-3{width: 25%;}
				&-4{width: 25%;}

				&-5{width: 25%;}
				&-6{width: 25%;}
				&-7{width: 33.3%;}

				&-8{width: 25%;}
				&-9{width: 30%;}
				&-10{
					width: 25%;
					.d-flex{
						display: flex !important;
						flex-shrink: 0 !important;
						justify-content: flex-start;
					}
					.btn-cart{
						flex-shrink: 0;
						margin-left: 20px;
					}
				}

				.countmodule{
					margin-bottom: 0;
				}
			}
		}
	}

	@media (max-width: 480px){
		.tr{
			.td{
				&-1{width: 50%;}
				&-2{width: 50%;}
				&-3{width: 50%;}
				&-4{width: 50%;}

				&-5{width: 50%;}
				&-6{width: 33.3%;}

				&-7{width: 33.3%;}
				&-8{width: 33.3%;}
				&-9{width: 33.3%;}
				&-10{
					width: 25%;
				}
			}
		}
	}

	@media (max-width: 350px){
		.tr{
			.td{
				&-1{width: 50%;}
				&-2{width: 50%;}
				&-3{width: 50%;}
				&-4{width: 50%;}

				&-5{width: 50%;}
				&-6{width: 50%;}

				&-7{width: 50%;}
				&-8{width: 50%;}
				&-9{width: 100%;}
				&-10{
					width: 100%;
				}
			}
		}
	}
}