.wishlist-count{
	@extend .neosans;
	font-weight: 700;
	font-size: 1.4rem;
	margin: 2rem 0;
	.count{
		color: $color10;
	}
}

.wishlist-page{
	.products__strlist .item-products:last-child{
		padding-bottom: 0;
		margin-bottom: 1rem;
	}
	.item-products{
		background-color: #fff;
		border-bottom: none;
		flex-wrap: wrap;
		margin-bottom: 1rem;
		padding-bottom: 0;
		transition: box-shadow .3s;
		&:hover{
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
		}
		&__layout{
			display: flex;
			justify-content: space-between;
			padding-top: .5rem;
			padding-bottom: 1rem;
			width: 100%;
		}

		&__title{
			margin-top: 1rem;
			a{
				color: #000;
				text-decoration: none;
				&:hover{
					color: $color9;
				}
			}
		}

		&__desc{
			font-size: 1.4rem;
			em{
				color: #6c7173;
			}
		}


		.txta{
			background-color: #f5f7f8;
			border-radius: 1rem;
			border: none;
			height: 30px;
			line-height: 1.4;
			overflow: hidden;
			padding-left: 0;
			padding-right: 0;
			padding-top: .4rem;
			resize: none;
			width: 20rem;
			&:valid{
				background-color: transparent;
			}
		}


		&__note{
			color: #3e3e3e;
			font-style: italic;
			font-size: 1.4rem;
			margin-top: 0;
			.btn{
				margin-left: .5rem;
				&-ok{
					background-color: #778d9b;
					background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAANCAYAAABLjFUnAAAA3ElEQVQ4T2NkoAD8///fGKh9KRALAXEoI7lmQQ3aBTUIZEwrWYZhMegd0DATsGFASRsgJcrIyLiekEtxGOQG1HuWEWrQYaghC4CCibgMxGcQSA/IMD8gvRHJgH1AA53RDSRkENgwqDfnA+kEJAPuAA1UhfGJMQhuGNTAPUAa2UV7gQa6EGsQimFQA28DaRUkF24Gsq2Roh8Ua+DAxhauGEkD6JK9QIVOWBTjNQjDZUhhhB6GIIOcgS66gC/p4Ey0QBeWADVWA/EbIA4lZBBOlyG5kBloyF98rkGWAwDHv2DpQksQ8gAAAABJRU5ErkJggg==");
					background-repeat: no-repeat;
					background-position: center;
					position: relative;
					height: 30px;
					width: 30px;
					border-radius: 50%;
					&:before{
						@extend .before;
					}
					&:hover{
						background-color: #0099ff;
					}
				}
			}
		}


		.price{
			margin-top: 10px;
		}
		.current-price{
			font-size: 1.5rem;
		}

		.old-price{
			font-size: 1.2rem;
		}

		.manage{
			display: flex;
		}

		.countmodule{
			height: 30px;
			margin-top: 15px;
		}
		.btn-del{
			align-items: flex-start;
		}

		.btn-cart{
			margin-right: 1.8rem;
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		}

		.btn-del{
			height: 22px;
			margin-top: 12px;
			line{
				stroke: #c91537;
				stroke-width: 4px;
			}
		}

		&__right{
			margin-left: 2rem;
		}


		&__layout,
		.actions
		{
			padding-left: 2rem;
			padding-right: 2rem;
		}
		.actions{
			background-color: #eaecf0;
			font-size: 1.5rem;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
			width: 100%;
			.btn{
				color: $color3;
				font-weight: 700;
				margin-right: 2rem;
				position: relative;
				padding-left: 27px;
				.count{
					color: $color10;
					margin-left: 3px;
				}
				&:before{
					@extend .before;
					background-color: #778d9b;
					background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHCAYAAAAxrNxjAAAAeUlEQVQoU2P8//8/JwMDgwQjI+N9II0BgPKKQMEXjEDGUiAjCojTgYpnIasEyqUB+TOBeBlIYTKQMQeqAK4YSRFIKoURRAIFM4HUNJhiKA0yCQSygDZNByvEohgmDFYE4sAVQhXD3ATiorgZRSFUsSbYBEbG68geAwAFYC8Qs5IYcwAAAABJRU5ErkJggg==");
					background-position: center; 
					background-repeat: no-repeat;
					border-radius: 50%;
					height: 20px;
					left: 0;
					top: 1px;
					width: 20px;
				}

				&:hover{
					&:before{
						background-color: $color9;						
					}
					color: $color9;
					.count{
						color: $color9;
					}
				}
			}
		}

		.instock{
			margin-top: 10px;
		}
	}

	.other-products{
		background-color: #eaecf0;
		width: 100%;
		padding-left: 2rem;
		padding-right: 2rem;
		.item-products{
			&__layout{
				border-top: 1px solid #c9d1d7;
				padding: 1rem 0;
			}
		}
	}
}