.news{
	header{
		background-color: #3a5160;
		color: $color40;
		padding-top: 1.4rem;
		padding-bottom: 10.5rem;
		.subtitle{
			font-size: 1.7rem;
			margin-top: .8rem;
		}
	}
	h1{
		color: $color40;
	}
	.breadcrumbs{
		color: $color40;
		margin-top: 0;
		a{
			color: currentColor;
		}
		.B_homecrumb{
			a:before{
				filter: brightness(1.7);				
			}
		}
	}

	&__list{
		margin-top: -7.5rem;
		.d-grid{
			grid-row-gap: 15px;
			grid-column-gap: 15px;
		}
		.item-news{
			transition: box-shadow .3s;
			&:hover{
				box-shadow: 0 5px 20px rgba(0, 113, 189, 0.15);
			}
		}
	}

	@media (max-width: 767px){
		.news{
			&__item{
				margin:0 1rem 2rem;
				width: 290px;
			}
		}	
		&-grid{
			justify-content: space-around;
		}
	}


	@media (max-width: 575px){
		header{
			padding-bottom: 2rem;
		}
		.news{
			&__list{
				margin-top: 1.5rem;
			}
			&__item{
				margin-left: auto; 
				margin-right: auto; 
			}
		}
		.btn-more{
			max-width: 290px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media (max-width: 320px){
		.btn-more{
			display: block;
			text-align: center;
			.icon{
				display: none;
			}
		}
	}
}

.lastnews,
.news__list{
	.item-news{
		&__link{
			overflow: hidden; 
			background-color: #fff;
			display: block;
			&:hover{
				text-decoration: none;
				.item-news{
					&__title{
						color: $color9	
					}
					&__pic{
						img{
							transform: scale(1.05)
						}
					}
				}
			}
		}

		&__desc{
			padding: 2.5rem 2.2rem 2.5rem 2.5rem;
		}

		&__title{
			@extend .neosans;
			font-size: 1.8rem;
			font-weight: 700;
			transition: color .3s;
		}

		&__pic{
			overflow: hidden;
			border: 1px solid #fff;
			img{
				transition: transform .3s;
				width: 100%;
			}
		}

		&__text{
			color: $color19;
			font-size: 1.5rem;
			line-height: 1.6;
			margin-top: .6rem;
		}

		&__date{
			color: $color20;
			margin-top: .8rem;
		}
	}
}



.content-heading{
	background-color: #1e2427;
	background-image: url(../images/bg/new-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding: 1.2rem 0 4.6rem;
	h1{
		color: #fffefe;
	}
	.date{
		margin: .8rem 0;
	}
	.subtitle{
		font-size: 1.7rem;
	}
	.breadcrumbs{
		color: #acbcc6;
		margin-top: 0;
		a{
			color: currentColor;			
		}
	}

	.btn-back{
		margin-top: 1.5rem;
	}
}