.perfomance-page{
	table{
		width: 90%;
		td{
			padding-top: 0.2rem;
			padding-bottom: 0.2rem;
		}
	}
	.intro{
		background: linear-gradient(to right, #f1862f, #f59b3c);
		color: #fff;
		font-size: 1.7rem;
		margin-bottom: 9rem;
		margin-top: 4rem;
		position: relative;
		.subtitle{
			@extend .neosans; 
			font-size: 3rem;
			font-weight: 500;
		}

		&__body{
			background: url(../images/bg/perfomance-bg.png) no-repeat right top;
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 440px;
			padding-left: 16rem;
			padding-right: 480px;
			position: relative;
			@media (max-width: 991px) {
				background-position: 250px center;
			}
			&:after{
				@extend .before;
				background: url(../images/break-2.png) no-repeat right bottom ;
				bottom: -35px;
				height: 533px;
				right: 30px;
				width: 545px;
				z-index: 999;
			}
			&:before{
				@extend .before;
				border-right: 120px solid transparent;
				border-top: 120px solid #f5f6f8;
				height: 0;
				left: 0;
				top: 0;
				width: 0;
			}
		}

	}

	.subtitle{
		padding-left: 108px;
		margin-bottom: 4rem;
		position: relative;
		&:before{
			@extend .before;
			background: url(../images/tel-big.png) no-repeat center #c91537;
			border-radius: 50%;
			height: 88px;
			left: 0;
			margin-top: -44px;
			top: 50%;
			width: 88px;
		}

	}

	.list-title{
		@extend .neosans;
		font-size: 2rem;
		font-weight: 500;
	}

	li{
		margin: .5rem 0;
	}


	@media (max-width: 1399px){
		table{
			width: 98%;
			td,
			th{
				padding-left: .2rem;
				padding-right: .2rem;
			}
		}
	}


	@media (max-width: 1399px){
		.intro{
			.subtitle{
				font-size: 26px;
			}
			&__body{
				min-height: 0;
				padding-right: 350px;
				padding-top: 30px;
				padding-bottom: 30px;
				&:after{
					background-size: contain;
					width: 460px;
				}
			}
		}

		table{
			td,
			th{
				text-align: center;				
			}
		}
	}

	@media (max-width: 1199px){
		.intro{
			&__body{
				padding-left: 25px;
				&:before{
					display: none;
				}
				&:after{
					height: 400px;
					width: 430px;
					right: 10px;
					top: -10px;
				}
			}
		}
	}

	@media (max-width: 991px){
		table{
			float: none !important;
			margin-bottom: 2rem;
			width: 100%;
		}
		.table-title{
			font-size: 2.6rem;
			text-align: left !important;
		}

		.intro{
			.subtitle{
				font-size: 20px;
				padding-left: 0;
				text-align: center;
				&:before{
					display: none;
				}
			}
			&__body{
				padding-left: 25px;
				padding-right: 70px;
				&:before,
				&:after{
					display: none;
				}
			}
		}

	}
	@media (max-width: 576px){

		.intro{
			&__body{
				padding-right: 25px;
			}
			.subtitle{
				// font-size: 16px;
			}
		}

		.table-title{
			font-size: 2.2rem;
		}
		table{
			.current-price{
				font-size: 1.6rem;
			}
			.old-price{
				font-size: 1.3rem;
			}
		}
	}

	@media (max-width: 480px){
		table{
			th,
			td{
				padding-left: 8px;
				padding-right: 8px;
			}
		}
		.table-title{
			font-size: 2rem;
		}
	}
}

.table-title{
	@extend .neosans;
	color: $color3;
	font-size: 3rem;
	font-weight: 500;
	margin-bottom: 1rem;
	& + table{
		margin-top: 1.7rem;
	}
}