@media (max-width: 1650px){
	#homeslider{
		.slick{
			&-prev{
				margin-left: -730px;
			}
			&-next{
				margin-left: 670px;
			}
		}
	}
	.lastnews{
		.news__item{
			width: 29rem
		}
	}
	.item-news{
		&__title{
			font-size: 1.7rem;
		}
		&__text{
			font-size: 1.4rem;
		}
	}
}



@media (max-width: 1500px){
	#homeslider{
		.slick{
			&-arrow{
				margin-top: -30px;
			}
			&-prev{
				margin-left: -705px;
			}
			&-next{
				margin-left: 645px;
			}
		}
	}

	.lastnews{
		.news__item{
			width: 275px;
		}
	}
}

@media (max-width: 1450px){
	#homeslider{
		.layout{
			max-width: 1000px;
		}
		.title{
			font-size: 4rem;
		}
		.slick{
			&-arrow{
				margin-top: -40px;
			}
			&-prev{
				margin-left: -680px;
			}
			&-next{
				margin-left: 620px;
			}
		}
	}

	.searchbox__title{
		font-size: 2.6rem;
	}

	.catalog{
		font-size: 1.7rem;
	}

	.visual{
		&__item{
			height: 17rem;  
			font-size: 3rem;
		}
		img{
			max-height: 208px;
		}
	}

	.advantages{
		font-size: 1.7rem;
	}

	.main .title,
	.main h1{
		font-size: 4rem;
	}

	.reviews{
		padding-bottom: 7rem;
	}

	.about{
		font-size: 1.6rem;
		.subtitle{
			font-size: 2.6rem;
		}
	}
}



@media (max-width: 1399px){
	#homeslider{
		.slick{
			&-prev{
				margin-left: -650px;
			}
			&-next{
				margin-left: 590px;
			}
		}
	}

	.searchbox{
		.car-tab-layout,
		.moto-tab-layout,
		.hd-tab-layout{
			width: 100%;
		}	

		&__panel{
			&-vehicle{
				.nav-top{
					width: 100%;
				}
			}
		}
		.form-control{
			width: 100%;
		}
	}

	.catalog{
		font-size: 1.6rem;
	}
}


@media (max-width: 1350px){
	#homeslider{
		.slick{
			&-prev{
				margin-left: -580px;
			}
			&-next{
				margin-left: 520px;
			}
		}
	}

	.advantage{
		&__item{
			flex: 0 0 25%;
		}
	}
}

@media (max-width: 1250px){
	.lastnews{
		padding-bottom: 2rem;
	}

	.about{

	}
}


@media (max-width: 1199px){
	#homeslider{
		.layout{
			height: 375px;
			max-width: 850px;
		}
		.left{
			width: 45%;
		}
		.title{
			font-size: 3.5rem;
			margin-top: -5.5rem;
		}
		.text{
			font-size: 1.6rem;
		}
		.slick{
			&-arrow{
				margin-top: -40px;
				height: 40px;
				width: 40px;
				&:before{
					transform: scale(0.6)
				}
			}
			&-prev{
				margin-left: -475px;
			}
			&-next{
				margin-left: 435px;
			}
		}
		.more{
			margin-top: 2rem;
		}
	}

	.searchbox{
		margin-top: -5.3rem;
		&__title{
			font-size: 2.4rem;
		}
		.d-grid{
			grid-template-rows: auto;
		}
		&__panel{
			&-vehicle{
				border-right: none;
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 1;
				grid-row-end: 1;
				min-height: 0;
			}
			&-partnum{
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 2;
				grid-row-end: 2;			
			}
			&-vin{
				grid-column-start: 2;
				grid-column-end: 3;
				grid-row-start: 2;
				grid-row-end: 2;			
			}

			&-partnum,
			&-vin{
				border-top: 1px solid $color37;
			}
			&-partnum{
				border-right: 1px solid $color37;				
			}
		}

		.nav .separator{
			margin: 0 1.4rem;
		}

		.vehicle{
			&-maker,
			&-class,
			&-model,
			&-body
			{
				width: 33.3%;
			}
			&-year
			{
				width: 162px;
			}
			&-engine{
				width: 321px;
			}
		}
	}

	#catalog-carousel{
		padding-left: 15px;
		padding-right: 15px;
	}
}
