@media (max-width: 1399px){
	.header{
		.catalog__wrapper .catalog-btn{
			padding-left: 0;
			text-indent: -9999em;
			width: 5rem; 
			span{
				clip: rect(0 0 0 0);
				height: 1px;
				overflow: hidden;
				position: absolute;
				width: 1px;
			}
			&:before{
				left: 50%;
				margin-left: -9px;
			}
		}
		.shop-cart{
			width: 8.7rem;
		}
	}

	.footer{
		&__menu{
			justify-content: space-around;
			.menu{
				margin-left: 0 !important;			
			}
		}
	}
}


@media (max-width: 1250px){
	.top{
		&__right{
			padding-right: 0;
		}
		.login{
			margin-left: 3rem;
		}
	}

	.header{
		.logo{
			margin-right: 2rem;
		}
	}
	.search{
		padding-left: 1.3rem;
	}

	.top__tel{
		.icon{
			padding-left: 0;
			&:before{
				display: none;
			}
		}
	}
}


@media (max-width: 1199px){
	.main-grid{
		overflow: hidden;
	}
	.top{
		.login{
			margin-right: -2.5rem;
			width: 155px;
			&:before{
				width: 155px;
			}
		}
		&__menu{
			width: 100%;
			li{
				margin-right: 2.5rem;
			}
		}
	}

	.search{
		padding-left: .8rem;
		.dropdown{
			.ms-parent{
				font-size: 1.3rem;
				width: 147px !important;
			}
			.ms-choice{
				width: 147px;
			}
		}
		.form-control{
			padding-left: 165px;
		}
		.vehicle-search{
			padding-left: 165px;
			&-str .vehicle-search-item{
				margin-right: 4px;
				padding-right: 10px;
			}
		}

	}
	.searchbox__panel{
		&-partnum{
			background-position: right -60px bottom
		}
		&-vin{
			background-position: right -70px bottom
		}
	}

	.header{
		.logo{
			margin-right: 1.2rem;
		}
		.shop-cart{
			margin-left: 1rem;
			width: 7.6rem;
			&__count{
				margin-left: .4rem;
			}
		}
		.logo{
			width: 155px;
			img{
				max-width: 100%;
				height: auto;
			}
		}
		.compare{
			margin-left: 1.5rem;
		}

		.catalog__menu{
			font-size: 1.6rem;
			padding-top: 89px;
		}
	}
}

@media (max-width: 1024px){
}

@media (max-width: 991px){
}

@media (max-width: 767px){
}

@media (max-width: 545px){
}
