@media (max-width: 1399px){
	.header{
		.catalog__wrapper .catalog-btn{
			padding-left: 0;
			text-indent: -9999em;
			width: 5rem; 
			span{
				clip: rect(0 0 0 0);
				height: 1px;
				overflow: hidden;
				position: absolute;
				width: 1px;
			}
			&:before{
				left: 50%;
				margin-left: -9px;
			}
		}
		.shop-cart{
			width: 8.7rem;
		}
	}

	.footer{
		&__menu{
			justify-content: space-around;
			.menu{
				margin-left: 0 !important;			
			}
		}
	}
}


@media (max-width: 1250px){
	.top{
		&__right{
			padding-right: 0;
		}
	}

	.header{
		.logo{
			margin-right: 2rem;
		}
	}
	.search{
		padding-left: 1.3rem;
	}

	.top__tel{
		.icon{
			padding-left: 0;
			&:before{
				display: none;
			}
		}
	}
}


@media (max-width: 1199px){
	.top{
		.login{
			margin-left: -1.5rem;
			margin-right: -2.5rem;
			.cust{
				display: none;
			}
		}
		&__menu{
			width: 100%;
			li{
				margin-right: 2.5rem;
			}
		}
	}

	.search{
		padding-left: .8rem;
		.dropdown{
			.ms-parent{
				font-size: 1.3rem;
				width: 147px !important;
			}
			.ms-choice{
				width: 147px;
			}
		}
		.form-control{
			padding-left: 165px;
		}
		.vehicle-search{
			padding-left: 165px;
			&-str .vehicle-search-item{
				margin-right: 4px;
				padding-right: 10px;
			}
		}

	}
	.searchbox__panel{
		&-partnum{
			background-position: right -60px bottom
		}
		&-vin{
			background-position: right -70px bottom
		}
	}

	.header{
		.logo{
			margin-right: 1.2rem;
		}
		.shop-cart{
			margin-left: 1rem;
			width: 7.6rem;
			&__count{
				margin-left: .4rem;
			}
		}
		.logo{
			width: 155px;
			img{
				max-width: 100%;
				height: auto;
			}
		}
		.compare{
			margin-left: 1.5rem;
		}

		.catalog__menu{
			font-size: 1.6rem;
			padding-top: 89px;
		}
	}
}

@media (max-width: 1024px){
	.top .login{
		margin-right: -15px;
		padding-left: 25px;
		width: 180px;
	}
}

@media (max-width: 991px){
	.top .login{
		margin-right: -8px;
	}
	.footer{
		padding-bottom: 3rem;
		.container{
			padding-left: 24px;
			padding-right: 24px;
		}
		.tel{
			margin-bottom: 1.2rem;  
		}
		.payments{
			border-top: 1px solid #4c4c4c;
			margin-top: 1rem;
			padding-top: 3rem;
		}
	}
}


@media (max-width: 940px){
	.top,
	.header{
		display: none;
	}
}


@media (max-width: 767px){
	.main-grid{
		display: block !important;
	}
	.footer{
		padding: 2.7rem 0 1.5rem;
		.copyright{
			display: flex;
			align-items: center;
			.text{
				padding-left: 1.5rem;
			}
		}
		.address{
			margin: .5rem 0 1.5rem;
		}
	}

	#registerModal{
		.modal-dialog{
			max-width: 95%;
		}
		.login-buttons{
			margin-top: 1.5rem;
		}
	}

	#searchbysizeModal .modal-dialog{
		max-width: 95%;
	}
}

@media (max-width: 600px){
	.footer{
		.text{
			p{
				display: inline;
			}
		}
	}
}


@media (max-width: 575px){
	#registerModal{
		.form-group{
			margin-bottom: 0;
			& > div{
				margin-bottom: 1.2rem;
			}
		}
	}
}



@media (max-width: 450px){
	.footer{
		.copyright{
			display: block;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
			.text{
				padding-left: 0;
			}
		}
	}

	#loginModal,
	#forgotPasswordModal{
		.modal-dialog{
			max-width: 95%;
		}
	}
	#loginModal{
		.subtitle{
			font-size: 1.6rem;
		}
	}

	.modal{
		.close{
			right: 20px;
			top: 20px;
		}
		&-header,
		&-body,
		&-footer
		{
			padding-left: 2rem;
			padding-right: 2rem;
		}
		&-footer{
			font-size: 1.5rem;
		}
	}
}


@media (max-width: 350px){
	.btn-google{
		padding-left: 1.6rem;		
	}

	.btn-google,
	.btn-facebook
	{
		font-size: 1.6rem;
	}
}


.mob-header{
	display: none;
	height: 80px;
	.btn-menu{
		background-color: $color10;
		color: #fff;
		@extend .neosans;
		font-size: 1.5rem;
		font-weight: 700;
		height: 80px;
		position: relative;
		padding-right: 1.6rem;
		transition: background-color .3s;
		&.icon{
			padding-left: 43px;
			&:before{
				left: 15px;
				margin-top: -9px;
				top: 50%;
			}
		}
		&:hover{
			background-color: $color3;
		}
	}

	.logo{
		margin-left: .8rem;
		img{
			display: block;
			margin-top: -10px;
		}
	}

	.compare{
		margin-left: 1.8rem;
		margin-top: -5px;
	}

	.tel{
		flex-grow: 1;
		text-align: center;
		@extend .neosans;
		font-size: 1.5rem;
		font-weight: 700;
		margin-left: 1.6rem;
		white-space: nowrap;
		&:hover{
			color: #000;
			text-decoration: none;
		}
	}

	.login{
		flex-grow: 1;
		padding-left: 1.5rem;
		white-space: nowrap;
		&__link,
		.usermenu{
			align-items: center;
			display: flex;
			font-size: 1.5rem;
			font-weight: 700;
			line-height: 1.2;
			min-height: 26px;
			&:hover{
				color: #000;
				text-decoration: none;
			}
			&:before{
				filter: grayscale(1) brightness(.1);
			}
		}

		.usermenu{
			&:after{
				display: none;
			}
		}

		.dropdown{
			position: relative;
			&-menu{
				margin-top: 50px;
				margin-left: -17px;
			}
		}
	}

	.btn-search{
		background-color: #f3f3f3;
		border-radius: 50%;
		height: 50px;
		margin-left: 2rem;
		margin-right: 1.8rem;
		padding: 0;
		width: 50px;
		flex-shrink: 0;
		.icon{
			filter: grayscale(1) brightness(.3);
		}
	}

	.shop-cart {
		background-color: $color3;
		height: 80px;
		width: 80px;
		.icon-littlecart{
			filter: invert(1);
		}
	}

	@media (max-width: 940px){
		display: block !important;
	}
	@media (max-width: 767px){
		.login__link{
			span{
				display: none;
			}
		}
	}

	@media (max-width: 690px){
		.tel{
			display: none;
		}
		.login{
			&__link{
				width: 26px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	@media (max-width: 580px){
		.logo{
			img{
				width: 135px;
			}
		}
		.btn-search{
			margin-left: 1.5rem;
		}
	}

	@media (max-width: 530px){
		.btn-search{
			margin-left: 1.2rem;
		}

		.btn-menu{
			width: 50px;
			span{
				display: none;
			}
			&.icon{
				padding-left: 0;
				&:before{
					left: 50%;
					margin-left: -9px;
				}				
			}
		}

		.shop-cart{
			width: 75px;
		}
	}

	@media (max-width: 480px){
		$h: 70px;
		height: $h;
		.btn-menu,
		.shop-cart{
			height: $h;
		}

		.compare{
			margin-left: 1rem;
		}
		.btn-search{
			margin-right: 1.2rem;
		}

	}

	@media (max-width: 460px){
		$h: 60px;
		height: $h;
		.btn-menu,
		.shop-cart{
			height: $h;
		}
		.logo{
			img{
				width: 120px;
			}
		}

		.login,
		.compare{
			display: none;
		}
	}


	@media (max-width: 340px){
		.shop-cart{
			width: 70px;
		}		
	}
}
@media (min-width: 1400px){
	.d-xxl-none{
		display: none !important;
	}
}