@media (max-width: 1650px){
	#homeslider{
		.slick{
			&-prev{
				margin-left: -730px;
			}
			&-next{
				margin-left: 670px;
			}
		}
	}
	.lastnews{
		.news__item{
			width: 29rem
		}
	}
	.item-news{
		&__title{
			font-size: 1.7rem;
		}
		&__text{
			font-size: 1.4rem;
		}
	}
}

@media (max-width: 1500px){
	#homeslider{
		.slick{
			&-arrow{
				margin-top: -30px;
			}
			&-prev{
				margin-left: -705px;
			}
			&-next{
				margin-left: 645px;
			}
		}
	}

	.lastnews{
		.news__item{
			width: 275px;
		}
	}
}

@media (max-width: 1450px){
	#homeslider{
		.layout{
			max-width: 1000px;
		}
		.title{
			font-size: 4rem;
		}
		.slick{
			&-arrow{
				margin-top: -40px;
			}
			&-prev{
				margin-left: -680px;
			}
			&-next{
				margin-left: 620px;
			}
		}
	}

	.searchbox__title{
		font-size: 2.6rem;
	}

	.catalog{
		font-size: 1.7rem;
	}

	.visual{
		&__item{
			height: 17rem;  
			font-size: 3rem;
		}
		img{
			max-height: 208px;
		}
	}

	.advantages{
		font-size: 1.7rem;
	}

	.main .title,
	.main h1{
		font-size: 4rem;
	}

	.modal-title{
		font-size: 2.8rem;
	}

	.reviews{
		padding-bottom: 7rem;
	}

	.about{
		font-size: 1.6rem;
		.subtitle{
			font-size: 2.6rem;
		}
	}
}

@media (max-width: 1399px){
	#homeslider{
		.slick{
			&-prev{
				margin-left: -650px;
			}
			&-next{
				margin-left: 590px;
			}
		}
	}

	#catalog-carousel{
		padding-left: 30px;
		padding-right: 30px;
	}

	.searchbox{
		.car-tab-layout,
		.moto-tab-layout,
		.hd-tab-layout{
			width: 100%;
		}	

		&__panel{
			&-vehicle{
				.nav-top{
					width: 100%;
				}
			}
		}
		.form-control{
			width: 100%;
		}
	}


	.searchbox{
		.vehicle{
			&-maker,
			&-class,
			&-model
			{
				width: 50%;
			}
			&-year
			{
				width: 162px;
			}
			&-body,
			&-engine,
			&-engineno
			{
				width: 33.3%;
			}
		}
	}

	.ms-parent.engine,
	.ms-parent.engineno
	{
		width: 100% !important;
	}

	.catalog{
		font-size: 1.6rem;
	}
}

@media (max-width: 1350px){
	#homeslider{
		.slick{
			&-prev{
				margin-left: -580px;
			}
			&-next{
				margin-left: 520px;
			}
		}
	}

	.homepage .advantage{
		&__item{
			flex: 0 0 25%;
		}
	}
}

@media (max-width: 1250px){
	.lastnews{
		padding-bottom: 2rem;
	}
	.promo .wrapper:before{
		display: none !important;
	}
}


@media (max-width: 1199px){
	#homeslider{
		.layout{
			height: 375px;
			max-width: 850px;
		}
		.left{
			width: 45%;
		}
		.title{
			font-size: 3.5rem;
			margin-top: -5.5rem;
		}
		.text{
			font-size: 1.6rem;
		}
		.slick{
			&-arrow{
				margin-top: -40px;
				height: 40px;
				width: 40px;
				&:before{
					transform: scale(0.6)
				}
			}
			&-prev{
				margin-left: -475px;
			}
			&-next{
				margin-left: 435px;
			}
		}
		.more{
			margin-top: 2rem;
		}
	}

	.searchbox{
		margin-top: -5.3rem;
		&__title{
			font-size: 2.4rem;
		}
		.d-grid{
			grid-template-rows: auto;
		}
		&__panel{
			&-vehicle{
				border-right: none;
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 1;
				grid-row-end: 1;
				min-height: 0;
			}
			&-partnum{
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 2;
				grid-row-end: 2;			
			}
			&-vin{
				grid-column-start: 2;
				grid-column-end: 3;
				grid-row-start: 2;
				grid-row-end: 2;			
			}

			&-partnum,
			&-vin{
				border-top: 1px solid $color37;
			}
			&-partnum{
				border-right: 1px solid $color37;				
			}
		}

		.nav .separator{
			margin: 0 1.4rem;
		}
	}

	.searchbox{
		.vehicle{
			&-maker,
			&-class,
			&-model,
			&-body
			{
				width: 33.3%;
			}

			&-year,
			&-engine,
			&-engineno
			{
				width: 162px;
			}
		}
	}

	.ms-parent.year,
	.ms-parent.engine,
	.ms-parent.engineno
	{
		width: 100% !important;
	}


	#catalog-carousel{
		padding-left: 15px;
		padding-right: 15px;
	}

	.main .title,
	.main h1{
		font-size: 3.4rem;
	}

	.modal-title{
		font-size: 3.2rem;
	}


	.homepage{
		.advantages{
			font-size: 1.6rem;
			margin-top: 4.2rem;
		}
		.advantage__item{
			padding-right: 1rem;
		}
	}

	.visual{
		img{
			max-height: 175px;
		}
		&__item{
			font-size: 2.6rem;
			height: 14.5rem;
		}
	}

	// news
	.lastnews{
		.news__item{
			width: 23rem
		}
	}
	.item-news{
		&__title{
			font-size: 1.6rem;
		}
	}	
}

@media (max-width: 991px){
	.container{
		max-width: 100%;
	}
	#homeslider{
		.layout{
			height: 320px;
			max-width: 605px;
		}
		.title{
			font-size: 3.2rem;
			margin-top: 0;
		}
		.right{
			padding-left: 20px;
		}
		.slick{
			&-arrow{
				margin-top: -40px;
			}
			&-prev{
				margin-left: 0;
				left: 15px;
			}
			&-next{
				margin-left: 0;
				left: auto;
				right: 15px;
			}
		}
	}

	.searchbox{
		margin-top: 0;
		.container{
			padding-left: 0;
			padding-right: 0;
		}
		&__panel{
			padding-left: 2.2rem;
			padding-right: 2.2rem;
		}
		&__title{
			font-size: 2.2rem;
		}
	}


	#catalog-carousel:not(.slick-initialized){
		display: flex;
		flex-wrap: wrap;
		& > div{
			flex-basis: 25%;
		}
		a{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			font-size: 1.5rem;
			text-align: left;
			.pic{
				flex-shrink: 0;
				min-height: 0;
				max-width: 36px;
				margin-right: 1.5rem;
			}
			img{
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	}

	.visual{
		margin-top: 2rem;
		&__item{
			height: 10.5rem;
			font-size: 2.2rem;
		}
		img{
			max-height: 130px;
		}
	}

	.advantage{
		&__pic{
			background-color: transparent;
			margin-right: 1rem;
			width: 60px;
		}
	}

	.lastnews{
		padding-top: 4rem;
		padding-bottom: 4rem;
		.title{
			text-align: center;
		}
		header{
			p{
				display: none;				
			}
		}
	}

	.main .title, .main h1{
		font-size: 3rem;
	}

	.lastnews .news__item{
		margin-left: auto;
		margin-right: auto;
	}

	.item-news{
		&__desc{
			padding: 2rem;
		}
	}

	.reviews{
		min-height: 0;
		padding-top: 4.2rem;
		.container{
			padding-left: 2.4rem;
			padding-right: 2.4rem;
		}
		.review-card{
			&:last-child{
				display: none;
			}
		}
	}
	
	.homepage{
		.about{
			background-image: url(../images/bg/about-bg-768.png) !important;
			.subtitle{
				font-size: 2.2rem;
			}
		}		
	}

	.brands{
		margin-left: 2.4rem;
		margin-right: 2.4rem;
		.container{
			padding-left: 0;
			padding-right: 0;
		}
	}
}


@media (max-width: 767px){
	.searchbox{
		.vehicle{
			&-maker,
			&-class,
			&-model,
			&-body
			{
				width: 33.3%;
			}

			&-year,
			&-engine,
			&-engineno
			{
				width: 22.23%;
			}
		}
	}

	.about{
		.title,
		.subtitle,
		.text{
			text-align: center;
		}
		.btn{
			margin-left: auto;
			margin-right: auto;
			display: flex;
			width: 170px;
		}
	}
}


@media (max-width: 720px){
	#homeslider{
		.layout{
			height: 230px;
			max-width: 100%;
			padding-left: 3.2rem;
			padding-right: 3.2rem;
		}
		.left{
			width: 50%;
		}
		.text{
			display: none;
		}
		.title{
			font-size: 3rem;
		}

		.slick-dots{
			position: absolute;
			bottom: 10px;
			left: 0;
			right: 0;
			display: flex;
			justify-content: center;
			li{
				margin: 0 .3rem;
			}
			button{
				background-color: #98392b;
				border-radius: 50%;
				height: 15px;
				width: 15px;
				text-indent: -9999em;
			}

			.slick-active{
				button{
					background-color: #fff;
				}
			}
		}
	}

	.searchbox .d-grid{
		display: block;
	}


	#catalog-carousel:not(.slick-initialized){
		> div{
			flex-basis: 33.3%;
			flex-shrink: 0;
			margin-bottom: .6rem;
		}
		justify-content: flex-start;
	}

	.visual{
		&__item{
			height: 13.5rem;
			&-1{
				margin-bottom: 5rem;
			}
		}
		img{
			max-height: 165px;
		}
	}


	.homepage{
		.advantages{
			padding: 3.6rem 0;
		}
		.advantage__item{
			flex-basis: 49%;
			padding-right: 0;
			margin-bottom: .8rem;
		}
	}

	.main .title, .main h1{
		font-size: 2.8rem;
	}

	.modal-title{
		font-size: 2.6rem;
	}

	.reviews{
		padding-bottom: 5rem;
		.title{
			img{
				height: 3.2rem;
			}
		}
		header{
			.stars{
				height: 2.6rem;
				img{
					max-height: 100%;
				}
			}
			.rated{
				font-size: 1.4rem;
			}
			h1{
				flex-wrap: wrap;
				text-align: center;
			}
		}
	}

	.about{
		.subtitle{
			font-size: 2rem;
		}
		.text{
			font-size: 1.4rem;
		}
	}


	.brands #brands-carousel{
		padding-left: 40px;
		padding-right: 40px;
	}


	#searchbysizeModal #spec_fields_id label{
		margin-right: 1.2rem;
	}

	//#/720
}


@media (max-width: 650px){
	.searchbox{
		.vehicle{
			&-maker,
			&-class,
			&-model,
			&-body
			{
				width: 50%;
			}

			&-year,
			&-engine,
			&-engineno
			{
				width: 160px;
			}
		}
	}


	#searchbysizeModal #spec_fields_id{
		label{
			white-space: nowrap;
		}
		.form-control{
			flex-grow: 1;
			width: 100%;
		}
	}
}


@media (max-width: 600px){
	.brands{
		.slick-arrow{
			border: none;
			height: 2rem;
			width: 2rem;
			&:hover,
			&:focus{
				background-color: transparent;
				.icon{
					filter: none;
				}
			}
		}
		#brands-carousel{
			padding-left: 30px;
			padding-right: 30px;
			.slick-slide{
				img{
					max-width: 80%
				}
			}
		}
	}
}


@media (max-width: 575px){
	.review-card{
		border-left: none;
		margin-top: .1rem;
	}
	.reviews .btn-show{
		margin-top: 2rem;
	}

	.searchbox .nav .separator{
		margin: 0 .6rem;
	}

	.modal-dialog{
		margin-left: auto;
		margin-right: auto;
	}

	.modal-content-bg{
		&:before,
		&:after
		{
			display: none;
		}
	}


	#searchbysizeModal #spec_fields_id{
		.row{
			margin-top: 0;
			& > div{
				margin-top: 2rem;
			}
		}
	}

	// #/575
}


@media (max-width: 520px){
	.lastnews{
		padding-top: 3rem;
		padding-bottom: 3.5rem;
		.news__item{
			width: 21rem;
		}
	}
	.item-news{
		&__title{
			font-size: 1.5rem;
		}
		&__desc{
			padding-left: 1.7rem;
			padding-right: 1.7rem;
		}
		&__text{
			font-size: 1.3rem;
		}
		&__date{
			font-size: 1.2rem;
		}
	}
}


@media (max-width: 500px){
	#catalog-carousel:not(.slick-initialized){
		& > div{
			flex-basis: 50%;
		}
	}

	.advantages{
		font-size: 1.5rem;
	}
}



@media (max-width: 480px){
	.searchbox__panel-vehicle{
		.nav-top{
			display: block !important;
		}
		.veh-only{
			margin-top: 1rem;
		}
	}

	.searchbox__title{
		font-size: 2rem;
	}

	.main .title, 
	.main h1{
		font-size: 2.6rem;
	}

	.modal-title{
		font-size: 2.4rem;
	}
	
	.lastnews{
		padding-bottom: 2.7rem;
	}
}


@media (max-width: 420px){
	#homeslider{
		.layout{
			display: block !important;
			height: auto;
			padding-top: 30px;
			padding-bottom: 65px;
		}
		.left{
			width: 100%;
		}
		text-align: center;
	}

	.review-card__title{
		font-size: 1.5rem;
	}

	.reviews__body{
		margin-top: 2rem;
	}


	.searchbox{
		&__panel{
			padding-left: 1.5rem;
			padding-right: 1.2rem;
		}
		.vehicle{
			&-maker,
			&-class,
			&-model,
			&-body
			{
				width: 100%;
			}

			&-year,
			&-engine,
			&-engineno
			{
				width: 50%;
			}
		}


		.searchbox__panel-partnum,
		.searchbox__panel-vin
		{
			.btn-search{
				flex-shrink: 0;
				margin-left: 1.2rem;
				padding: 0;
				width: 4rem;
				.icon{
					margin: auto;
				}
				span{
					display: none !important;
				}
			}
		}
	}


	.ms-parent.year{
		width: 100% !important;
	}

	.catalog{
		padding-bottom: 2rem;
	}

	#catalog-carousel:not(.slick-initialized) a{
		.pic{
			margin-right: .7rem;
		}
	}

	#catalog-carousel{
		padding-left: 0;
		padding-right: 0;
	}	

	.visual{
		&__item{
			height: 90px;
			padding-left: 1.8rem;
			&:before{
				border-right-width: 60px;
				border-top-width: 60px;
			}

			&-1{
				margin-bottom: 3.5rem;
			}
		}
		img{
			max-height: 107px;
		}
	}

	.reviews{
		header{
			.title{
				.stars{
					margin-left: .5rem;
					margin-top: .5rem;
				}
			}
		}
		.container{
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}

	.about{
		padding-top: 2.2rem;
		.title{
			margin-top: 2.8rem;
		}
	}

	.brands{
		margin-left: 2rem;
		margin-right: 2rem;
		padding: 3rem 0;
		#brands-carousel{
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	#lastnews-carousel{
		max-height: 320px;
	}

	//  #/420
}

@media (max-width: 350px){
	#searchbysizeModal{
		.subtype-item{
			margin-right: 0;
			text-align: center;
			width: 100%;
			label{
				margin-left: auto;
				margin-right: auto !important;
				width: 130px;
			}
		}

		.btn-submit{
			margin-left: auto;
			margin-right: auto;
		}

		.approximation_block{
			.btn-group{
				display: flex;
				justify-content: center;
			}
		}
	}
}