.searchresults-page{
	overflow: auto;
	.car-plate{
		background-color: #fff;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
		padding: 2rem 4rem;
		margin-top: .8rem;
		.car{
			&__pic{
				margin-right: 3.8rem;
			}
			&__desc{
				margin-right: 2.2rem;
			}
			&__title{
				@extend .neosans;
				color: $color53;
				font-size: 1.5rem;
				font-weight: 700;
			}
			&__text{
				margin-top: .5rem;
			}
		}

		.actions{
			display: flex;
		}

		.btn{
			font-size: 1.5rem;
			flex-shrink: 0;
			padding-right: 2.5rem;
			padding-left: 1.8rem;
			margin-right: .7rem;
			white-space: nowrap;
			&:last-child(){
				margin-right: 0;
			}
		}
	}

	.servicepack{
		position: relative;
		&__list{
			display: flex;
			margin-top: 2.5rem;
			margin-left: -8px;
			margin-right: -8px;
		}

		&__col{
			padding-left: 8px;
			padding-right: 8px;
			width: 50%;
		}

		color: #fff;
		padding: 2.5rem 3rem 2.8rem;
		transition: background-color .3s;
		background-repeat: no-repeat;

		&__pretitle{
			font-size: 1.4rem;
			font-weight: 700;
			span{
				background-color: #000;
				padding: .5rem 1.1rem;
				border-radius: 2.5rem;
			}
		}
		&__title{
			font-weight: 700;
			font-size: 2.5rem;
			margin-top: 1rem;
			@extend .neosans;
		}
		&-oil{
			background-color: #0672ba;
			background-image: url(../images/bg/oil.png);
			background-position: right 30px top 14px;
			&:hover{
				background-color: #0099ff
			}

			.consist{
				&__title{
					width: 14rem;
				}
				&__field{
					flex-grow: 1;
				}
			}
		}

		&-brakes{
			background-color: #28292d;
			background-image: url(../images/bg/brakes.png);
			background-position: right 30px top 10px;
			&:hover{
				background-color: #0099ff
			}

			.consist{
				&__title{
					flex-shrink: 0;
					width: 13rem;
				}

				&__row{
					&-position{
						.consist{
							&__field{
								opacity: 1 !important;
								&.active{
									a, span{
										align-items: center;
										background-color: #fff;
										border-radius: 3rem;
										color: #030303;
										cursor: default;
										display: flex;
										font-weight: 700;
										height: 3rem;
										padding-left: 1rem;
										padding-right: 1rem;
										text-decoration: none;
									}
								}
							}
						}
					}
				}

				&__field{
					width: 21.5rem;
					a{
						color: #14a1ff;
						font-weight: 700;
						text-decoration: underline;
						&:hover{
							color: #00ff54;
							text-decoration: none;
						}
					}

					&:not(.active){
						opacity: .3;
						.btn{
							cursor: default;
						}
					}

					&.active{

					}
				}
			}

		}

		.btn-makesp{
			background-color: $color10;
			border-radius: 4rem;
			color: #fff;
			font-weight: 700;
			height: 4rem;
			margin-top: 1rem;
			padding: 0 2rem;
			&:hover{
				background-color: #ff1944;
			}
		}

		.consist{
			display: none;
			margin-bottom: -1.5rem;
			&.open{
				display: block;
			}
			&__head{
				align-items: center;
				display: flex;
				margin-top: 1rem;
				.total{
					font-size: 1.7rem;
					font-weight: 700;
				}

				.btn-addtocart{
					border-radius: 4rem;
					font-weight: 700;
					height: 4rem;
					margin-left: 1.4rem;
					padding-left: 1.2rem;
					padding-right: 2rem;
					&:hover{
						background-color: #ff1944;
					}
				}
			}

			// consist body
			&__body{
				margin-top: 1.8rem;
			}

			&__row{
				align-items: center;
				border-top: 1px solid rgba(255,255,255,.2);
				display: flex;
				font-size: 1.5rem;
				padding: 1.35rem 0;
			}

			&__title{
				font-weight: 700;
			}

			&__field{
				display: flex;
				align-items: center;
				&-notavaible{
					color: #83abc6;
					font-weight: 700;
				}
			}

			.btn{
				&-addtopack{
					background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAX0lEQVQ4T2NkwAGY/ge3/GdgzGdk+D/lH+PaSmzKGHFpZvwf8h8m959xDVZ1I1IzNFSrcQUczgBl+N/KCAzVz0AFPKRqBqr/wgi0uR0YnxWkagbGf8eIjCqapG1ichUACKtDCpaQavEAAAAASUVORK5CYII=');
					background-repeat: no-repeat;
					background-position: left 2px;
					color: #fff;
					font-weight: 700;
					line-height: 1.2;
					padding-left: 19px;	
					filter: grayscale(1) brightness(5);
					&:hover{
						color: #00ff54;
						filter: none;
					}
				}

				&-close{
					@extend .flex-center;
					background-color: #fff;
					border-radius: 50%;
					height: 4rem;
					padding: 0;
					position: absolute;
					right: 15px;
					top: 17px;
					width: 4rem;
					line{
						stroke: #c91537;
						stroke-width: 3px;
					}
				}

				&-delete{
					background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAABLcGxfAAABIklEQVQoU2VRS1bCQBDsCj5l646w8DIkK2+guAK/IM8FeAeNC59/n7ISvAThOoQjoE/TVCcTRTPJZDLVVTPd1VA/bAu0JSLvmMW3XEtD68EpwR1RDKG18IKCcwIpgR7mk/tVBeMdxm+IeYxfQre2N+VrscfNNcFvzhMk8YuJ1A/2uTxwVig6k7XqG4rTtBYcC+SOe/BpZ7jKa/ZV6WIePxr0I8jiuSjiXHeCT5IHBbkkcGmMuO66m8dMr7la098b/PCI90QkVB1pwSQGSCZPhei3hpxsNVRIsmItSSueRqBbiJxLH03mai4p3w6S6XOeXuOQZLPZjKBLGyOwKRFpfYKpgf+blzUtP8xj/Ao85YD/LUE6xmxqDSoNrTd6oh6NSIdLKwxtTevvkYEAAAAASUVORK5CYII=');
					background-position: left top;
					background-repeat: no-repeat;
					filter: grayscale(1) brightness(5);
					height: 11px;
					margin-left: 1.2rem;
					flex-shrink: 0;
					width: 12px;
					&:hover{
						filter: none;
					}
				}
			}
		}
	}

	.smartsearch{
		.ms-parent{
			.listwrapper{
				height: auto;
				li{
					width: 100%;
				}
			}
		}
	}

	// filter
	.filter-sort{
		display: flex;
		margin: 3rem 0;
		.category{
			font-weight: 700;
			margin-right: 3rem;
		}
		.ms-parent{
			margin-left: 1rem;
			width: 31rem !important;
		}
		.ms-choice{
			background-color: #fff;
			& > div{
				background-color: #f3f3f3;
			}

			& > span{
				font-size: 1.4rem;
			}

			&:hover{
				& > div:before{
					filter: none;
				}
			}
		}

		.param-sort{
			color: #414141;
			&.active{
				color: #fff;
			}
		}

		.sortbox{
			li{
				// margin-right: 5px;
				// margin-left: 0;
			}
			.custom-control{
				margin-left: 2.3rem;
			}
		}
	}


	.products__list{
		margin-left: 0;
		margin-right: 0;
		grid-column-gap: 20px;

		.hide{
			display: none !important;
		}
		.item-products{
			border: 3px solid rgba(255,255,255,0);
			transition: .3s;
			&.active{
				border-color: #0672ba;
				border-radius: 5px;
			}
			&.inpack{
				border-color: #199922;
				border-radius: 5px;
			}


			.btn{
				&-delfrompack,
				&-addtopack
				{
					@extend .flex-center;
					border-radius: 50%;
					height: 5rem;
					transition: background-color .3s;
					width: 5rem;
				}

				&-delfrompack{
					background-color: #c91537;
					box-shadow: 0 5px 15px rgba(255, 0, 0, 0.5);
					&:hover{
						background-color: #ff0f3d;
					}
				}

				&-addtopack{
					box-shadow: 0 5px 15px rgba(0, 153, 255, 0.5);
					background-color: #0672ba;
					&:hover{
						background-color: #0099ff;
					}
				}
			}


			@media (max-width: 1600px){
				width: 100%;				
			}
		}

		@media (max-width: 1399px){
			grid-template-columns: repeat(2,1fr);
			.item-products{
				max-width: 300px
			}
		}
	}


	.searchresult-plate{
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
		padding: 2.3rem 3rem 2.5rem;
		margin-top: 1.2rem;
		margin-bottom: 3rem;
		.title{
			@extend .neosans;
			color: $color10;
			font-weight: 500;
			font-size: 2.5rem;
		}
		.btn{
			font-size: 1.5rem;
			margin-left: .8rem;	
			padding-left: 2.4rem;
			padding-right: 2.4rem;
		}

		.search-other{
			font-weight: 700;	
			margin-top: .7rem;
			margin-bottom: 1rem;
		}
	}

	.icon-question{
		@extend .flex-center;
		border-radius: 50%;
		border: 2px solid #fff;
		flex-shrink: 0;
		height: 20px;
		line-height: 1;
		margin-right: .8rem;
		padding: 0;
		width: 20px;
	}

	@media (max-width: 1399px){
		.filter-sort{
			display: block;
		}

		.servicepack{
			padding-left: 2rem;
			padding-right: 2rem;
			&__list{
				display: block;
			}
			&__col{
				margin-bottom: 1.5rem;
				margin-left: auto;
				margin-right: auto;
				width: 80%;
			}
		}

		.car-plate{
			padding-left: 2rem;
			padding-right: 2rem;
			.actions{
				display: block;
				text-align: center;
				.btn{
					margin-bottom: 1rem;
					&:last-child(){
						margin-bottom: 0;
					}
				}
			}

			.car{
				&__pic{
					margin-right: 2rem;
				}
				&__desc{
					margin-right: 1.5rem;
				}
			}
		}
	}

	@media (max-width: 991px){
		.searchresult-plate .title{
			font-size: 2.1rem;
		}
	}

	@media (max-width: 950px){
		aside{
			order: 0;
		}

		 .products__list{

		 	.item-products{
		 		width: 30%;
		 		min-width: 250px;
		 	}
		 }
	}

	@media (max-width: 768px){
		.products__list .item-products{
			min-width: 240px;
			&__body{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	@media (max-width: 767px){
		.products__list{
			justify-content: space-around;
		}	
	}

	@media (max-width: 575px){
		.car{
			&-plate{
				text-align: center;
			}
			&__desc{
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}

		.servicepack__col{
			width: 100%;
		}

		.searchresult-plate{
			padding-left: 20px;
			padding-right: 20px;
			.btn{
				display: block;
				margin-top: 10px;
				margin-left: 0;
			}
			.title{
				font-size: 18px;
			}
		}
	}

	@media (max-width: 480px){
		h1{
			font-size: 24px !important;
		}
		
		.servicepack{
			padding-left: 15px;
			padding-right: 15px;
			.consist{
				&__row{
					font-size: 13px;
				}
				&__title{
					width: 95px;
				}
			}

			&-brakes .consist{
				&__field{
					display: block;
					flex-shrink: 0;
					padding-right: 1.5rem;
					width: calc(50% - 4.3rem);
					&:last-child(){
						padding-right: 0;
					}
					.btn{
						text-align: left;
						margin-left: 0;
					}
				}
				&__row{
					&-position{
						.consist__field {
							span{
								text-align: center;
								justify-content: center;
							}
						}
					}
				}
			}
		}

		.sortbox{
			.custom-checkbox{
				margin-left: 0 !important;
				margin-top: 10px;
				width: 100%;
			}
			li{
				margin-left: 0;
			}
		}

		.filter-sort .ms-parent{
			margin-left: 0;
		}

		.products__list .item-products{
			max-width: 100%;
			width: 320px;
		}
	}

	@media (max-width: 450px){
		.sortbox{
			.custom-checkbox{
				width: 200px;
			}
		}
	}

	@media (max-width: 400px){
		.servicepack{
			.btn{
				&-makesp{
					padding-left: 15px;
					padding-right: 15px;
				}
			}
			.consist__head{
				display: block;
				.btn{
					margin-left: 0;
					margin-top: 10px;
				}
				.total{
					font-size: 15px;
				}
			}
			&__title{
				font-size: 22px;
			}
		}
	}


	@media (max-width: 320px){
		.btn-more{
			display: block;
			text-align: center;
			.icon{
				display: none;
			}
		}
	}
}
