// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-9dotted-name: 'icon-9dotted';
$icon-9dotted-x: 99px;
$icon-9dotted-y: 95px;
$icon-9dotted-offset-x: -99px;
$icon-9dotted-offset-y: -95px;
$icon-9dotted-width: 18px;
$icon-9dotted-height: 18px;
$icon-9dotted-total-width: 166px;
$icon-9dotted-total-height: 145px;
$icon-9dotted-image: '../images/sprite.png';
$icon-9dotted: (99px, 95px, -99px, -95px, 18px, 18px, 166px, 145px, '../images/sprite.png', 'icon-9dotted', );
$icon-arrow-down-gray-name: 'icon-arrow-down-gray';
$icon-arrow-down-gray-x: 11px;
$icon-arrow-down-gray-y: 133px;
$icon-arrow-down-gray-offset-x: -11px;
$icon-arrow-down-gray-offset-y: -133px;
$icon-arrow-down-gray-width: 10px;
$icon-arrow-down-gray-height: 12px;
$icon-arrow-down-gray-total-width: 166px;
$icon-arrow-down-gray-total-height: 145px;
$icon-arrow-down-gray-image: '../images/sprite.png';
$icon-arrow-down-gray: (11px, 133px, -11px, -133px, 10px, 12px, 166px, 145px, '../images/sprite.png', 'icon-arrow-down-gray', );
$icon-arrow-left-gray-name: 'icon-arrow-left-gray';
$icon-arrow-left-gray-x: 36px;
$icon-arrow-left-gray-y: 119px;
$icon-arrow-left-gray-offset-x: -36px;
$icon-arrow-left-gray-offset-y: -119px;
$icon-arrow-left-gray-width: 12px;
$icon-arrow-left-gray-height: 10px;
$icon-arrow-left-gray-total-width: 166px;
$icon-arrow-left-gray-total-height: 145px;
$icon-arrow-left-gray-image: '../images/sprite.png';
$icon-arrow-left-gray: (36px, 119px, -36px, -119px, 12px, 10px, 166px, 145px, '../images/sprite.png', 'icon-arrow-left-gray', );
$icon-arrow-right-name: 'icon-arrow-right';
$icon-arrow-right-x: 146px;
$icon-arrow-right-y: 89px;
$icon-arrow-right-offset-x: -146px;
$icon-arrow-right-offset-y: -89px;
$icon-arrow-right-width: 18px;
$icon-arrow-right-height: 13px;
$icon-arrow-right-total-width: 166px;
$icon-arrow-right-total-height: 145px;
$icon-arrow-right-image: '../images/sprite.png';
$icon-arrow-right: (146px, 89px, -146px, -89px, 18px, 13px, 166px, 145px, '../images/sprite.png', 'icon-arrow-right', );
$icon-arrow-right2-name: 'icon-arrow-right2';
$icon-arrow-right2-x: 97px;
$icon-arrow-right2-y: 80px;
$icon-arrow-right2-offset-x: -97px;
$icon-arrow-right2-offset-y: -80px;
$icon-arrow-right2-width: 22px;
$icon-arrow-right2-height: 15px;
$icon-arrow-right2-total-width: 166px;
$icon-arrow-right2-total-height: 145px;
$icon-arrow-right2-image: '../images/sprite.png';
$icon-arrow-right2: (97px, 80px, -97px, -80px, 22px, 15px, 166px, 145px, '../images/sprite.png', 'icon-arrow-right2', );
$icon-arrow-right3-name: 'icon-arrow-right3';
$icon-arrow-right3-x: 0px;
$icon-arrow-right3-y: 133px;
$icon-arrow-right3-offset-x: 0px;
$icon-arrow-right3-offset-y: -133px;
$icon-arrow-right3-width: 11px;
$icon-arrow-right3-height: 12px;
$icon-arrow-right3-total-width: 166px;
$icon-arrow-right3-total-height: 145px;
$icon-arrow-right3-image: '../images/sprite.png';
$icon-arrow-right3: (0px, 133px, 0px, -133px, 11px, 12px, 166px, 145px, '../images/sprite.png', 'icon-arrow-right3', );
$icon-back-blue-name: 'icon-back-blue';
$icon-back-blue-x: 0px;
$icon-back-blue-y: 68px;
$icon-back-blue-offset-x: 0px;
$icon-back-blue-offset-y: -68px;
$icon-back-blue-width: 28px;
$icon-back-blue-height: 27px;
$icon-back-blue-total-width: 166px;
$icon-back-blue-total-height: 145px;
$icon-back-blue-image: '../images/sprite.png';
$icon-back-blue: (0px, 68px, 0px, -68px, 28px, 27px, 166px, 145px, '../images/sprite.png', 'icon-back-blue', );
$icon-bad-name: 'icon-bad';
$icon-bad-x: 124px;
$icon-bad-y: 72px;
$icon-bad-offset-x: -124px;
$icon-bad-offset-y: -72px;
$icon-bad-width: 20px;
$icon-bad-height: 20px;
$icon-bad-total-width: 166px;
$icon-bad-total-height: 145px;
$icon-bad-image: '../images/sprite.png';
$icon-bad: (124px, 72px, -124px, -72px, 20px, 20px, 166px, 145px, '../images/sprite.png', 'icon-bad', );
$icon-badge-1-white-name: 'icon-badge-1-white';
$icon-badge-1-white-x: 56px;
$icon-badge-1-white-y: 30px;
$icon-badge-1-white-offset-x: -56px;
$icon-badge-1-white-offset-y: -30px;
$icon-badge-1-white-width: 12px;
$icon-badge-1-white-height: 12px;
$icon-badge-1-white-total-width: 166px;
$icon-badge-1-white-total-height: 145px;
$icon-badge-1-white-image: '../images/sprite.png';
$icon-badge-1-white: (56px, 30px, -56px, -30px, 12px, 12px, 166px, 145px, '../images/sprite.png', 'icon-badge-1-white', );
$icon-badge-2-white-name: 'icon-badge-2-white';
$icon-badge-2-white-x: 58px;
$icon-badge-2-white-y: 55px;
$icon-badge-2-white-offset-x: -58px;
$icon-badge-2-white-offset-y: -55px;
$icon-badge-2-white-width: 13px;
$icon-badge-2-white-height: 11px;
$icon-badge-2-white-total-width: 166px;
$icon-badge-2-white-total-height: 145px;
$icon-badge-2-white-image: '../images/sprite.png';
$icon-badge-2-white: (58px, 55px, -58px, -55px, 13px, 11px, 166px, 145px, '../images/sprite.png', 'icon-badge-2-white', );
$icon-badge-3-white-name: 'icon-badge-3-white';
$icon-badge-3-white-x: 146px;
$icon-badge-3-white-y: 116px;
$icon-badge-3-white-offset-x: -146px;
$icon-badge-3-white-offset-y: -116px;
$icon-badge-3-white-width: 14px;
$icon-badge-3-white-height: 14px;
$icon-badge-3-white-total-width: 166px;
$icon-badge-3-white-total-height: 145px;
$icon-badge-3-white-image: '../images/sprite.png';
$icon-badge-3-white: (146px, 116px, -146px, -116px, 14px, 14px, 166px, 145px, '../images/sprite.png', 'icon-badge-3-white', );
$icon-badge-4-blue-name: 'icon-badge-4-blue';
$icon-badge-4-blue-x: 58px;
$icon-badge-4-blue-y: 43px;
$icon-badge-4-blue-offset-x: -58px;
$icon-badge-4-blue-offset-y: -43px;
$icon-badge-4-blue-width: 12px;
$icon-badge-4-blue-height: 12px;
$icon-badge-4-blue-total-width: 166px;
$icon-badge-4-blue-total-height: 145px;
$icon-badge-4-blue-image: '../images/sprite.png';
$icon-badge-4-blue: (58px, 43px, -58px, -43px, 12px, 12px, 166px, 145px, '../images/sprite.png', 'icon-badge-4-blue', );
$icon-badge-5-blue-name: 'icon-badge-5-blue';
$icon-badge-5-blue-x: 23px;
$icon-badge-5-blue-y: 119px;
$icon-badge-5-blue-offset-x: -23px;
$icon-badge-5-blue-offset-y: -119px;
$icon-badge-5-blue-width: 13px;
$icon-badge-5-blue-height: 11px;
$icon-badge-5-blue-total-width: 166px;
$icon-badge-5-blue-total-height: 145px;
$icon-badge-5-blue-image: '../images/sprite.png';
$icon-badge-5-blue: (23px, 119px, -23px, -119px, 13px, 11px, 166px, 145px, '../images/sprite.png', 'icon-badge-5-blue', );
$icon-balloon-gray-name: 'icon-balloon-gray';
$icon-balloon-gray-x: 73px;
$icon-balloon-gray-y: 32px;
$icon-balloon-gray-offset-x: -73px;
$icon-balloon-gray-offset-y: -32px;
$icon-balloon-gray-width: 24px;
$icon-balloon-gray-height: 32px;
$icon-balloon-gray-total-width: 166px;
$icon-balloon-gray-total-height: 145px;
$icon-balloon-gray-image: '../images/sprite.png';
$icon-balloon-gray: (73px, 32px, -73px, -32px, 24px, 32px, 166px, 145px, '../images/sprite.png', 'icon-balloon-gray', );
$icon-balloon-name: 'icon-balloon';
$icon-balloon-x: 73px;
$icon-balloon-y: 0px;
$icon-balloon-offset-x: -73px;
$icon-balloon-offset-y: 0px;
$icon-balloon-width: 24px;
$icon-balloon-height: 32px;
$icon-balloon-total-width: 166px;
$icon-balloon-total-height: 145px;
$icon-balloon-image: '../images/sprite.png';
$icon-balloon: (73px, 0px, -73px, 0px, 24px, 32px, 166px, 145px, '../images/sprite.png', 'icon-balloon', );
$icon-camera-name: 'icon-camera';
$icon-camera-x: 146px;
$icon-camera-y: 0px;
$icon-camera-offset-x: -146px;
$icon-camera-offset-y: 0px;
$icon-camera-width: 20px;
$icon-camera-height: 16px;
$icon-camera-total-width: 166px;
$icon-camera-total-height: 145px;
$icon-camera-image: '../images/sprite.png';
$icon-camera: (146px, 0px, -146px, 0px, 20px, 16px, 166px, 145px, '../images/sprite.png', 'icon-camera', );
$icon-caret-name: 'icon-caret';
$icon-caret-x: 48px;
$icon-caret-y: 119px;
$icon-caret-offset-x: -48px;
$icon-caret-offset-y: -119px;
$icon-caret-width: 10px;
$icon-caret-height: 7px;
$icon-caret-total-width: 166px;
$icon-caret-total-height: 145px;
$icon-caret-image: '../images/sprite.png';
$icon-caret: (48px, 119px, -48px, -119px, 10px, 7px, 166px, 145px, '../images/sprite.png', 'icon-caret', );
$icon-cart-blue-name: 'icon-cart-blue';
$icon-cart-blue-x: 0px;
$icon-cart-blue-y: 95px;
$icon-cart-blue-offset-x: 0px;
$icon-cart-blue-offset-y: -95px;
$icon-cart-blue-width: 27px;
$icon-cart-blue-height: 24px;
$icon-cart-blue-total-width: 166px;
$icon-cart-blue-total-height: 145px;
$icon-cart-blue-image: '../images/sprite.png';
$icon-cart-blue: (0px, 95px, 0px, -95px, 27px, 24px, 166px, 145px, '../images/sprite.png', 'icon-cart-blue', );
$icon-clock-blue-name: 'icon-clock-blue';
$icon-clock-blue-x: 0px;
$icon-clock-blue-y: 0px;
$icon-clock-blue-offset-x: 0px;
$icon-clock-blue-offset-y: 0px;
$icon-clock-blue-width: 43px;
$icon-clock-blue-height: 43px;
$icon-clock-blue-total-width: 166px;
$icon-clock-blue-total-height: 145px;
$icon-clock-blue-image: '../images/sprite.png';
$icon-clock-blue: (0px, 0px, 0px, 0px, 43px, 43px, 166px, 145px, '../images/sprite.png', 'icon-clock-blue', );
$icon-clock-gray-name: 'icon-clock-gray';
$icon-clock-gray-x: 28px;
$icon-clock-gray-y: 68px;
$icon-clock-gray-offset-x: -28px;
$icon-clock-gray-offset-y: -68px;
$icon-clock-gray-width: 27px;
$icon-clock-gray-height: 27px;
$icon-clock-gray-total-width: 166px;
$icon-clock-gray-total-height: 145px;
$icon-clock-gray-image: '../images/sprite.png';
$icon-clock-gray: (28px, 68px, -28px, -68px, 27px, 27px, 166px, 145px, '../images/sprite.png', 'icon-clock-gray', );
$icon-compare-name: 'icon-compare';
$icon-compare-x: 124px;
$icon-compare-y: 0px;
$icon-compare-offset-x: -124px;
$icon-compare-offset-y: 0px;
$icon-compare-width: 22px;
$icon-compare-height: 25px;
$icon-compare-total-width: 166px;
$icon-compare-total-height: 145px;
$icon-compare-image: '../images/sprite.png';
$icon-compare: (124px, 0px, -124px, 0px, 22px, 25px, 166px, 145px, '../images/sprite.png', 'icon-compare', );
$icon-fax-gray-name: 'icon-fax-gray';
$icon-fax-gray-x: 97px;
$icon-fax-gray-y: 27px;
$icon-fax-gray-offset-x: -97px;
$icon-fax-gray-offset-y: -27px;
$icon-fax-gray-width: 27px;
$icon-fax-gray-height: 27px;
$icon-fax-gray-total-width: 166px;
$icon-fax-gray-total-height: 145px;
$icon-fax-gray-image: '../images/sprite.png';
$icon-fax-gray: (97px, 27px, -97px, -27px, 27px, 27px, 166px, 145px, '../images/sprite.png', 'icon-fax-gray', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 82px;
$icon-fb-y: 68px;
$icon-fb-offset-x: -82px;
$icon-fb-offset-y: -68px;
$icon-fb-width: 14px;
$icon-fb-height: 26px;
$icon-fb-total-width: 166px;
$icon-fb-total-height: 145px;
$icon-fb-image: '../images/sprite.png';
$icon-fb: (82px, 68px, -82px, -68px, 14px, 26px, 166px, 145px, '../images/sprite.png', 'icon-fb', );
$icon-good-name: 'icon-good';
$icon-good-x: 79px;
$icon-good-y: 95px;
$icon-good-offset-x: -79px;
$icon-good-offset-y: -95px;
$icon-good-width: 20px;
$icon-good-height: 20px;
$icon-good-total-width: 166px;
$icon-good-total-height: 145px;
$icon-good-image: '../images/sprite.png';
$icon-good: (79px, 95px, -79px, -95px, 20px, 20px, 166px, 145px, '../images/sprite.png', 'icon-good', );
$icon-google-name: 'icon-google';
$icon-google-x: 124px;
$icon-google-y: 25px;
$icon-google-offset-x: -124px;
$icon-google-offset-y: -25px;
$icon-google-width: 21px;
$icon-google-height: 22px;
$icon-google-total-width: 166px;
$icon-google-total-height: 145px;
$icon-google-image: '../images/sprite.png';
$icon-google: (124px, 25px, -124px, -25px, 21px, 22px, 166px, 145px, '../images/sprite.png', 'icon-google', );
$icon-home-name: 'icon-home';
$icon-home-x: 146px;
$icon-home-y: 75px;
$icon-home-offset-x: -146px;
$icon-home-offset-y: -75px;
$icon-home-width: 17px;
$icon-home-height: 14px;
$icon-home-total-width: 166px;
$icon-home-total-height: 145px;
$icon-home-image: '../images/sprite.png';
$icon-home: (146px, 75px, -146px, -75px, 17px, 14px, 166px, 145px, '../images/sprite.png', 'icon-home', );
$icon-infav-name: 'icon-infav';
$icon-infav-x: 27px;
$icon-infav-y: 95px;
$icon-infav-offset-x: -27px;
$icon-infav-offset-y: -95px;
$icon-infav-width: 26px;
$icon-infav-height: 23px;
$icon-infav-total-width: 166px;
$icon-infav-total-height: 145px;
$icon-infav-image: '../images/sprite.png';
$icon-infav: (27px, 95px, -27px, -95px, 26px, 23px, 166px, 145px, '../images/sprite.png', 'icon-infav', );
$icon-letter-name: 'icon-letter';
$icon-letter-x: 0px;
$icon-letter-y: 119px;
$icon-letter-offset-x: 0px;
$icon-letter-offset-y: -119px;
$icon-letter-width: 23px;
$icon-letter-height: 14px;
$icon-letter-total-width: 166px;
$icon-letter-total-height: 145px;
$icon-letter-image: '../images/sprite.png';
$icon-letter: (0px, 119px, 0px, -119px, 23px, 14px, 166px, 145px, '../images/sprite.png', 'icon-letter', );
$icon-list-blue-name: 'icon-list-blue';
$icon-list-blue-x: 0px;
$icon-list-blue-y: 43px;
$icon-list-blue-offset-x: 0px;
$icon-list-blue-offset-y: -43px;
$icon-list-blue-width: 31px;
$icon-list-blue-height: 25px;
$icon-list-blue-total-width: 166px;
$icon-list-blue-total-height: 145px;
$icon-list-blue-image: '../images/sprite.png';
$icon-list-blue: (0px, 43px, 0px, -43px, 31px, 25px, 166px, 145px, '../images/sprite.png', 'icon-list-blue', );
$icon-littlecart-name: 'icon-littlecart';
$icon-littlecart-x: 31px;
$icon-littlecart-y: 43px;
$icon-littlecart-offset-x: -31px;
$icon-littlecart-offset-y: -43px;
$icon-littlecart-width: 27px;
$icon-littlecart-height: 24px;
$icon-littlecart-total-width: 166px;
$icon-littlecart-total-height: 145px;
$icon-littlecart-image: '../images/sprite.png';
$icon-littlecart: (31px, 43px, -31px, -43px, 27px, 24px, 166px, 145px, '../images/sprite.png', 'icon-littlecart', );
$icon-online-gray-name: 'icon-online-gray';
$icon-online-gray-x: 43px;
$icon-online-gray-y: 0px;
$icon-online-gray-offset-x: -43px;
$icon-online-gray-offset-y: 0px;
$icon-online-gray-width: 30px;
$icon-online-gray-height: 30px;
$icon-online-gray-total-width: 166px;
$icon-online-gray-total-height: 145px;
$icon-online-gray-image: '../images/sprite.png';
$icon-online-gray: (43px, 0px, -43px, 0px, 30px, 30px, 166px, 145px, '../images/sprite.png', 'icon-online-gray', );
$icon-search-big-name: 'icon-search-big';
$icon-search-big-x: 97px;
$icon-search-big-y: 0px;
$icon-search-big-offset-x: -97px;
$icon-search-big-offset-y: 0px;
$icon-search-big-width: 27px;
$icon-search-big-height: 27px;
$icon-search-big-total-width: 166px;
$icon-search-big-total-height: 145px;
$icon-search-big-image: '../images/sprite.png';
$icon-search-big: (97px, 0px, -97px, 0px, 27px, 27px, 166px, 145px, '../images/sprite.png', 'icon-search-big', );
$icon-search-middle-name: 'icon-search-middle';
$icon-search-middle-x: 146px;
$icon-search-middle-y: 16px;
$icon-search-middle-offset-x: -146px;
$icon-search-middle-offset-y: -16px;
$icon-search-middle-width: 17px;
$icon-search-middle-height: 17px;
$icon-search-middle-total-width: 166px;
$icon-search-middle-total-height: 145px;
$icon-search-middle-image: '../images/sprite.png';
$icon-search-middle: (146px, 16px, -146px, -16px, 17px, 17px, 166px, 145px, '../images/sprite.png', 'icon-search-middle', );
$icon-search-name: 'icon-search';
$icon-search-x: 55px;
$icon-search-y: 68px;
$icon-search-offset-x: -55px;
$icon-search-offset-y: -68px;
$icon-search-width: 27px;
$icon-search-height: 27px;
$icon-search-total-width: 166px;
$icon-search-total-height: 145px;
$icon-search-image: '../images/sprite.png';
$icon-search: (55px, 68px, -55px, -68px, 27px, 27px, 166px, 145px, '../images/sprite.png', 'icon-search', );
$icon-settings-name: 'icon-settings';
$icon-settings-x: 146px;
$icon-settings-y: 102px;
$icon-settings-offset-x: -146px;
$icon-settings-offset-y: -102px;
$icon-settings-width: 15px;
$icon-settings-height: 14px;
$icon-settings-total-width: 166px;
$icon-settings-total-height: 145px;
$icon-settings-image: '../images/sprite.png';
$icon-settings: (146px, 102px, -146px, -102px, 15px, 14px, 166px, 145px, '../images/sprite.png', 'icon-settings', );
$icon-slider-arrow-blue-name: 'icon-slider-arrow-blue';
$icon-slider-arrow-blue-x: 158px;
$icon-slider-arrow-blue-y: 33px;
$icon-slider-arrow-blue-offset-x: -158px;
$icon-slider-arrow-blue-offset-y: -33px;
$icon-slider-arrow-blue-width: 8px;
$icon-slider-arrow-blue-height: 13px;
$icon-slider-arrow-blue-total-width: 166px;
$icon-slider-arrow-blue-total-height: 145px;
$icon-slider-arrow-blue-image: '../images/sprite.png';
$icon-slider-arrow-blue: (158px, 33px, -158px, -33px, 8px, 13px, 166px, 145px, '../images/sprite.png', 'icon-slider-arrow-blue', );
$icon-slider-arrow-gray-name: 'icon-slider-arrow-gray';
$icon-slider-arrow-gray-x: 146px;
$icon-slider-arrow-gray-y: 54px;
$icon-slider-arrow-gray-offset-x: -146px;
$icon-slider-arrow-gray-offset-y: -54px;
$icon-slider-arrow-gray-width: 12px;
$icon-slider-arrow-gray-height: 21px;
$icon-slider-arrow-gray-total-width: 166px;
$icon-slider-arrow-gray-total-height: 145px;
$icon-slider-arrow-gray-image: '../images/sprite.png';
$icon-slider-arrow-gray: (146px, 54px, -146px, -54px, 12px, 21px, 166px, 145px, '../images/sprite.png', 'icon-slider-arrow-gray', );
$icon-slider-arrow-name: 'icon-slider-arrow';
$icon-slider-arrow-x: 146px;
$icon-slider-arrow-y: 33px;
$icon-slider-arrow-offset-x: -146px;
$icon-slider-arrow-offset-y: -33px;
$icon-slider-arrow-width: 12px;
$icon-slider-arrow-height: 21px;
$icon-slider-arrow-total-width: 166px;
$icon-slider-arrow-total-height: 145px;
$icon-slider-arrow-image: '../images/sprite.png';
$icon-slider-arrow: (146px, 33px, -146px, -33px, 12px, 21px, 166px, 145px, '../images/sprite.png', 'icon-slider-arrow', );
$icon-tel-gray-name: 'icon-tel-gray';
$icon-tel-gray-x: 124px;
$icon-tel-gray-y: 47px;
$icon-tel-gray-offset-x: -124px;
$icon-tel-gray-offset-y: -47px;
$icon-tel-gray-width: 16px;
$icon-tel-gray-height: 25px;
$icon-tel-gray-total-width: 166px;
$icon-tel-gray-total-height: 145px;
$icon-tel-gray-image: '../images/sprite.png';
$icon-tel-gray: (124px, 47px, -124px, -47px, 16px, 25px, 166px, 145px, '../images/sprite.png', 'icon-tel-gray', );
$icon-tel-name: 'icon-tel';
$icon-tel-x: 124px;
$icon-tel-y: 92px;
$icon-tel-offset-x: -124px;
$icon-tel-offset-y: -92px;
$icon-tel-width: 16px;
$icon-tel-height: 25px;
$icon-tel-total-width: 166px;
$icon-tel-total-height: 145px;
$icon-tel-image: '../images/sprite.png';
$icon-tel: (124px, 92px, -124px, -92px, 16px, 25px, 166px, 145px, '../images/sprite.png', 'icon-tel', );
$icon-tofav-name: 'icon-tofav';
$icon-tofav-x: 53px;
$icon-tofav-y: 95px;
$icon-tofav-offset-x: -53px;
$icon-tofav-offset-y: -95px;
$icon-tofav-width: 26px;
$icon-tofav-height: 23px;
$icon-tofav-total-width: 166px;
$icon-tofav-total-height: 145px;
$icon-tofav-image: '../images/sprite.png';
$icon-tofav: (53px, 95px, -53px, -95px, 26px, 23px, 166px, 145px, '../images/sprite.png', 'icon-tofav', );
$icon-user-name: 'icon-user';
$icon-user-x: 97px;
$icon-user-y: 54px;
$icon-user-offset-x: -97px;
$icon-user-offset-y: -54px;
$icon-user-width: 26px;
$icon-user-height: 26px;
$icon-user-total-width: 166px;
$icon-user-total-height: 145px;
$icon-user-image: '../images/sprite.png';
$icon-user: (97px, 54px, -97px, -54px, 26px, 26px, 166px, 145px, '../images/sprite.png', 'icon-user', );
$icon-zoom-name: 'icon-zoom';
$icon-zoom-x: 43px;
$icon-zoom-y: 30px;
$icon-zoom-offset-x: -43px;
$icon-zoom-offset-y: -30px;
$icon-zoom-width: 13px;
$icon-zoom-height: 13px;
$icon-zoom-total-width: 166px;
$icon-zoom-total-height: 145px;
$icon-zoom-image: '../images/sprite.png';
$icon-zoom: (43px, 30px, -43px, -30px, 13px, 13px, 166px, 145px, '../images/sprite.png', 'icon-zoom', );
$spritesheet-width: 166px;
$spritesheet-height: 145px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-9dotted, $icon-arrow-down-gray, $icon-arrow-left-gray, $icon-arrow-right, $icon-arrow-right2, $icon-arrow-right3, $icon-back-blue, $icon-bad, $icon-badge-1-white, $icon-badge-2-white, $icon-badge-3-white, $icon-badge-4-blue, $icon-badge-5-blue, $icon-balloon-gray, $icon-balloon, $icon-camera, $icon-caret, $icon-cart-blue, $icon-clock-blue, $icon-clock-gray, $icon-compare, $icon-fax-gray, $icon-fb, $icon-good, $icon-google, $icon-home, $icon-infav, $icon-letter, $icon-list-blue, $icon-littlecart, $icon-online-gray, $icon-search-big, $icon-search-middle, $icon-search, $icon-settings, $icon-slider-arrow-blue, $icon-slider-arrow-gray, $icon-slider-arrow, $icon-tel-gray, $icon-tel, $icon-tofav, $icon-user, $icon-zoom, );
$spritesheet: (166px, 145px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
