// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-9dotted-name: 'icon-9dotted';
$icon-9dotted-x: 0px;
$icon-9dotted-y: 71px;
$icon-9dotted-offset-x: 0px;
$icon-9dotted-offset-y: -71px;
$icon-9dotted-width: 18px;
$icon-9dotted-height: 18px;
$icon-9dotted-total-width: 110px;
$icon-9dotted-total-height: 89px;
$icon-9dotted-image: '../images/sprite.png';
$icon-9dotted: (0px, 71px, 0px, -71px, 18px, 18px, 110px, 89px, '../images/sprite.png', 'icon-9dotted', );
$icon-arrow-right-name: 'icon-arrow-right';
$icon-arrow-right-x: 22px;
$icon-arrow-right-y: 56px;
$icon-arrow-right-offset-x: -22px;
$icon-arrow-right-offset-y: -56px;
$icon-arrow-right-width: 18px;
$icon-arrow-right-height: 13px;
$icon-arrow-right-total-width: 110px;
$icon-arrow-right-total-height: 89px;
$icon-arrow-right-image: '../images/sprite.png';
$icon-arrow-right: (22px, 56px, -22px, -56px, 18px, 13px, 110px, 89px, '../images/sprite.png', 'icon-arrow-right', );
$icon-arrow-right2-name: 'icon-arrow-right2';
$icon-arrow-right2-x: 0px;
$icon-arrow-right2-y: 56px;
$icon-arrow-right2-offset-x: 0px;
$icon-arrow-right2-offset-y: -56px;
$icon-arrow-right2-width: 22px;
$icon-arrow-right2-height: 15px;
$icon-arrow-right2-total-width: 110px;
$icon-arrow-right2-total-height: 89px;
$icon-arrow-right2-image: '../images/sprite.png';
$icon-arrow-right2: (0px, 56px, 0px, -56px, 22px, 15px, 110px, 89px, '../images/sprite.png', 'icon-arrow-right2', );
$icon-arrow-right3-name: 'icon-arrow-right3';
$icon-arrow-right3-x: 93px;
$icon-arrow-right3-y: 72px;
$icon-arrow-right3-offset-x: -93px;
$icon-arrow-right3-offset-y: -72px;
$icon-arrow-right3-width: 11px;
$icon-arrow-right3-height: 12px;
$icon-arrow-right3-total-width: 110px;
$icon-arrow-right3-total-height: 89px;
$icon-arrow-right3-image: '../images/sprite.png';
$icon-arrow-right3: (93px, 72px, -93px, -72px, 11px, 12px, 110px, 89px, '../images/sprite.png', 'icon-arrow-right3', );
$icon-balloon-name: 'icon-balloon';
$icon-balloon-x: 0px;
$icon-balloon-y: 0px;
$icon-balloon-offset-x: 0px;
$icon-balloon-offset-y: 0px;
$icon-balloon-width: 24px;
$icon-balloon-height: 32px;
$icon-balloon-total-width: 110px;
$icon-balloon-total-height: 89px;
$icon-balloon-image: '../images/sprite.png';
$icon-balloon: (0px, 0px, 0px, 0px, 24px, 32px, 110px, 89px, '../images/sprite.png', 'icon-balloon', );
$icon-camera-name: 'icon-camera';
$icon-camera-x: 18px;
$icon-camera-y: 71px;
$icon-camera-offset-x: -18px;
$icon-camera-offset-y: -71px;
$icon-camera-width: 20px;
$icon-camera-height: 16px;
$icon-camera-total-width: 110px;
$icon-camera-total-height: 89px;
$icon-camera-image: '../images/sprite.png';
$icon-camera: (18px, 71px, -18px, -71px, 20px, 16px, 110px, 89px, '../images/sprite.png', 'icon-camera', );
$icon-caret-name: 'icon-caret';
$icon-caret-x: 40px;
$icon-caret-y: 56px;
$icon-caret-offset-x: -40px;
$icon-caret-offset-y: -56px;
$icon-caret-width: 10px;
$icon-caret-height: 7px;
$icon-caret-total-width: 110px;
$icon-caret-total-height: 89px;
$icon-caret-image: '../images/sprite.png';
$icon-caret: (40px, 56px, -40px, -56px, 10px, 7px, 110px, 89px, '../images/sprite.png', 'icon-caret', );
$icon-cart-blue-name: 'icon-cart-blue';
$icon-cart-blue-x: 0px;
$icon-cart-blue-y: 32px;
$icon-cart-blue-offset-x: 0px;
$icon-cart-blue-offset-y: -32px;
$icon-cart-blue-width: 27px;
$icon-cart-blue-height: 24px;
$icon-cart-blue-total-width: 110px;
$icon-cart-blue-total-height: 89px;
$icon-cart-blue-image: '../images/sprite.png';
$icon-cart-blue: (0px, 32px, 0px, -32px, 27px, 24px, 110px, 89px, '../images/sprite.png', 'icon-cart-blue', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 77px;
$icon-fb-y: 25px;
$icon-fb-offset-x: -77px;
$icon-fb-offset-y: -25px;
$icon-fb-width: 14px;
$icon-fb-height: 26px;
$icon-fb-total-width: 110px;
$icon-fb-total-height: 89px;
$icon-fb-image: '../images/sprite.png';
$icon-fb: (77px, 25px, -77px, -25px, 14px, 26px, 110px, 89px, '../images/sprite.png', 'icon-fb', );
$icon-google-name: 'icon-google';
$icon-google-x: 54px;
$icon-google-y: 32px;
$icon-google-offset-x: -54px;
$icon-google-offset-y: -32px;
$icon-google-width: 21px;
$icon-google-height: 22px;
$icon-google-total-width: 110px;
$icon-google-total-height: 89px;
$icon-google-image: '../images/sprite.png';
$icon-google: (54px, 32px, -54px, -32px, 21px, 22px, 110px, 89px, '../images/sprite.png', 'icon-google', );
$icon-littlecart-name: 'icon-littlecart';
$icon-littlecart-x: 27px;
$icon-littlecart-y: 32px;
$icon-littlecart-offset-x: -27px;
$icon-littlecart-offset-y: -32px;
$icon-littlecart-width: 27px;
$icon-littlecart-height: 24px;
$icon-littlecart-total-width: 110px;
$icon-littlecart-total-height: 89px;
$icon-littlecart-image: '../images/sprite.png';
$icon-littlecart: (27px, 32px, -27px, -32px, 27px, 24px, 110px, 89px, '../images/sprite.png', 'icon-littlecart', );
$icon-search-middle-name: 'icon-search-middle';
$icon-search-middle-x: 93px;
$icon-search-middle-y: 0px;
$icon-search-middle-offset-x: -93px;
$icon-search-middle-offset-y: 0px;
$icon-search-middle-width: 17px;
$icon-search-middle-height: 17px;
$icon-search-middle-total-width: 110px;
$icon-search-middle-total-height: 89px;
$icon-search-middle-image: '../images/sprite.png';
$icon-search-middle: (93px, 0px, -93px, 0px, 17px, 17px, 110px, 89px, '../images/sprite.png', 'icon-search-middle', );
$icon-search-name: 'icon-search';
$icon-search-x: 24px;
$icon-search-y: 0px;
$icon-search-offset-x: -24px;
$icon-search-offset-y: 0px;
$icon-search-width: 27px;
$icon-search-height: 27px;
$icon-search-total-width: 110px;
$icon-search-total-height: 89px;
$icon-search-image: '../images/sprite.png';
$icon-search: (24px, 0px, -24px, 0px, 27px, 27px, 110px, 89px, '../images/sprite.png', 'icon-search', );
$icon-slider-arrow-gray-name: 'icon-slider-arrow-gray';
$icon-slider-arrow-gray-x: 93px;
$icon-slider-arrow-gray-y: 17px;
$icon-slider-arrow-gray-offset-x: -93px;
$icon-slider-arrow-gray-offset-y: -17px;
$icon-slider-arrow-gray-width: 12px;
$icon-slider-arrow-gray-height: 21px;
$icon-slider-arrow-gray-total-width: 110px;
$icon-slider-arrow-gray-total-height: 89px;
$icon-slider-arrow-gray-image: '../images/sprite.png';
$icon-slider-arrow-gray: (93px, 17px, -93px, -17px, 12px, 21px, 110px, 89px, '../images/sprite.png', 'icon-slider-arrow-gray', );
$icon-slider-arrow-name: 'icon-slider-arrow';
$icon-slider-arrow-x: 93px;
$icon-slider-arrow-y: 38px;
$icon-slider-arrow-offset-x: -93px;
$icon-slider-arrow-offset-y: -38px;
$icon-slider-arrow-width: 12px;
$icon-slider-arrow-height: 21px;
$icon-slider-arrow-total-width: 110px;
$icon-slider-arrow-total-height: 89px;
$icon-slider-arrow-image: '../images/sprite.png';
$icon-slider-arrow: (93px, 38px, -93px, -38px, 12px, 21px, 110px, 89px, '../images/sprite.png', 'icon-slider-arrow', );
$icon-tel-name: 'icon-tel';
$icon-tel-x: 77px;
$icon-tel-y: 0px;
$icon-tel-offset-x: -77px;
$icon-tel-offset-y: 0px;
$icon-tel-width: 16px;
$icon-tel-height: 25px;
$icon-tel-total-width: 110px;
$icon-tel-total-height: 89px;
$icon-tel-image: '../images/sprite.png';
$icon-tel: (77px, 0px, -77px, 0px, 16px, 25px, 110px, 89px, '../images/sprite.png', 'icon-tel', );
$icon-user-name: 'icon-user';
$icon-user-x: 51px;
$icon-user-y: 0px;
$icon-user-offset-x: -51px;
$icon-user-offset-y: 0px;
$icon-user-width: 26px;
$icon-user-height: 26px;
$icon-user-total-width: 110px;
$icon-user-total-height: 89px;
$icon-user-image: '../images/sprite.png';
$icon-user: (51px, 0px, -51px, 0px, 26px, 26px, 110px, 89px, '../images/sprite.png', 'icon-user', );
$icon-zoom-name: 'icon-zoom';
$icon-zoom-x: 93px;
$icon-zoom-y: 59px;
$icon-zoom-offset-x: -93px;
$icon-zoom-offset-y: -59px;
$icon-zoom-width: 13px;
$icon-zoom-height: 13px;
$icon-zoom-total-width: 110px;
$icon-zoom-total-height: 89px;
$icon-zoom-image: '../images/sprite.png';
$icon-zoom: (93px, 59px, -93px, -59px, 13px, 13px, 110px, 89px, '../images/sprite.png', 'icon-zoom', );
$spritesheet-width: 110px;
$spritesheet-height: 89px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-9dotted, $icon-arrow-right, $icon-arrow-right2, $icon-arrow-right3, $icon-balloon, $icon-camera, $icon-caret, $icon-cart-blue, $icon-fb, $icon-google, $icon-littlecart, $icon-search-middle, $icon-search, $icon-slider-arrow-gray, $icon-slider-arrow, $icon-tel, $icon-user, $icon-zoom, );
$spritesheet: (110px, 89px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
