// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-9dotted-name: 'icon-9dotted';
$icon-9dotted-x: 16px;
$icon-9dotted-y: 88px;
$icon-9dotted-offset-x: -16px;
$icon-9dotted-offset-y: -88px;
$icon-9dotted-width: 18px;
$icon-9dotted-height: 18px;
$icon-9dotted-total-width: 148px;
$icon-9dotted-total-height: 146px;
$icon-9dotted-image: '../images/sprite.png';
$icon-9dotted: (16px, 88px, -16px, -88px, 18px, 18px, 148px, 146px, '../images/sprite.png', 'icon-9dotted', );
$icon-arrow-down-gray-name: 'icon-arrow-down-gray';
$icon-arrow-down-gray-x: 31px;
$icon-arrow-down-gray-y: 113px;
$icon-arrow-down-gray-offset-x: -31px;
$icon-arrow-down-gray-offset-y: -113px;
$icon-arrow-down-gray-width: 10px;
$icon-arrow-down-gray-height: 12px;
$icon-arrow-down-gray-total-width: 148px;
$icon-arrow-down-gray-total-height: 146px;
$icon-arrow-down-gray-image: '../images/sprite.png';
$icon-arrow-down-gray: (31px, 113px, -31px, -113px, 10px, 12px, 148px, 146px, '../images/sprite.png', 'icon-arrow-down-gray', );
$icon-arrow-left-gray-name: 'icon-arrow-left-gray';
$icon-arrow-left-gray-x: 41px;
$icon-arrow-left-gray-y: 113px;
$icon-arrow-left-gray-offset-x: -41px;
$icon-arrow-left-gray-offset-y: -113px;
$icon-arrow-left-gray-width: 12px;
$icon-arrow-left-gray-height: 10px;
$icon-arrow-left-gray-total-width: 148px;
$icon-arrow-left-gray-total-height: 146px;
$icon-arrow-left-gray-image: '../images/sprite.png';
$icon-arrow-left-gray: (41px, 113px, -41px, -113px, 12px, 10px, 148px, 146px, '../images/sprite.png', 'icon-arrow-left-gray', );
$icon-arrow-right-name: 'icon-arrow-right';
$icon-arrow-right-x: 74px;
$icon-arrow-right-y: 88px;
$icon-arrow-right-offset-x: -74px;
$icon-arrow-right-offset-y: -88px;
$icon-arrow-right-width: 18px;
$icon-arrow-right-height: 13px;
$icon-arrow-right-total-width: 148px;
$icon-arrow-right-total-height: 146px;
$icon-arrow-right-image: '../images/sprite.png';
$icon-arrow-right: (74px, 88px, -74px, -88px, 18px, 13px, 148px, 146px, '../images/sprite.png', 'icon-arrow-right', );
$icon-arrow-right2-name: 'icon-arrow-right2';
$icon-arrow-right2-x: 108px;
$icon-arrow-right2-y: 70px;
$icon-arrow-right2-offset-x: -108px;
$icon-arrow-right2-offset-y: -70px;
$icon-arrow-right2-width: 22px;
$icon-arrow-right2-height: 15px;
$icon-arrow-right2-total-width: 148px;
$icon-arrow-right2-total-height: 146px;
$icon-arrow-right2-image: '../images/sprite.png';
$icon-arrow-right2: (108px, 70px, -108px, -70px, 22px, 15px, 148px, 146px, '../images/sprite.png', 'icon-arrow-right2', );
$icon-arrow-right3-name: 'icon-arrow-right3';
$icon-arrow-right3-x: 20px;
$icon-arrow-right3-y: 113px;
$icon-arrow-right3-offset-x: -20px;
$icon-arrow-right3-offset-y: -113px;
$icon-arrow-right3-width: 11px;
$icon-arrow-right3-height: 12px;
$icon-arrow-right3-total-width: 148px;
$icon-arrow-right3-total-height: 146px;
$icon-arrow-right3-image: '../images/sprite.png';
$icon-arrow-right3: (20px, 113px, -20px, -113px, 11px, 12px, 148px, 146px, '../images/sprite.png', 'icon-arrow-right3', );
$icon-balloon-gray-name: 'icon-balloon-gray';
$icon-balloon-gray-x: 0px;
$icon-balloon-gray-y: 30px;
$icon-balloon-gray-offset-x: 0px;
$icon-balloon-gray-offset-y: -30px;
$icon-balloon-gray-width: 24px;
$icon-balloon-gray-height: 32px;
$icon-balloon-gray-total-width: 148px;
$icon-balloon-gray-total-height: 146px;
$icon-balloon-gray-image: '../images/sprite.png';
$icon-balloon-gray: (0px, 30px, 0px, -30px, 24px, 32px, 148px, 146px, '../images/sprite.png', 'icon-balloon-gray', );
$icon-balloon-name: 'icon-balloon';
$icon-balloon-x: 30px;
$icon-balloon-y: 0px;
$icon-balloon-offset-x: -30px;
$icon-balloon-offset-y: 0px;
$icon-balloon-width: 24px;
$icon-balloon-height: 32px;
$icon-balloon-total-width: 148px;
$icon-balloon-total-height: 146px;
$icon-balloon-image: '../images/sprite.png';
$icon-balloon: (30px, 0px, -30px, 0px, 24px, 32px, 148px, 146px, '../images/sprite.png', 'icon-balloon', );
$icon-camera-name: 'icon-camera';
$icon-camera-x: 0px;
$icon-camera-y: 113px;
$icon-camera-offset-x: 0px;
$icon-camera-offset-y: -113px;
$icon-camera-width: 20px;
$icon-camera-height: 16px;
$icon-camera-total-width: 148px;
$icon-camera-total-height: 146px;
$icon-camera-image: '../images/sprite.png';
$icon-camera: (0px, 113px, 0px, -113px, 20px, 16px, 148px, 146px, '../images/sprite.png', 'icon-camera', );
$icon-caret-name: 'icon-caret';
$icon-caret-x: 81px;
$icon-caret-y: 54px;
$icon-caret-offset-x: -81px;
$icon-caret-offset-y: -54px;
$icon-caret-width: 10px;
$icon-caret-height: 7px;
$icon-caret-total-width: 148px;
$icon-caret-total-height: 146px;
$icon-caret-image: '../images/sprite.png';
$icon-caret: (81px, 54px, -81px, -54px, 10px, 7px, 148px, 146px, '../images/sprite.png', 'icon-caret', );
$icon-cart-blue-name: 'icon-cart-blue';
$icon-cart-blue-x: 26px;
$icon-cart-blue-y: 62px;
$icon-cart-blue-offset-x: -26px;
$icon-cart-blue-offset-y: -62px;
$icon-cart-blue-width: 27px;
$icon-cart-blue-height: 24px;
$icon-cart-blue-total-width: 148px;
$icon-cart-blue-total-height: 146px;
$icon-cart-blue-image: '../images/sprite.png';
$icon-cart-blue: (26px, 62px, -26px, -62px, 27px, 24px, 148px, 146px, '../images/sprite.png', 'icon-cart-blue', );
$icon-clock-gray-name: 'icon-clock-gray';
$icon-clock-gray-x: 54px;
$icon-clock-gray-y: 0px;
$icon-clock-gray-offset-x: -54px;
$icon-clock-gray-offset-y: 0px;
$icon-clock-gray-width: 27px;
$icon-clock-gray-height: 27px;
$icon-clock-gray-total-width: 148px;
$icon-clock-gray-total-height: 146px;
$icon-clock-gray-image: '../images/sprite.png';
$icon-clock-gray: (54px, 0px, -54px, 0px, 27px, 27px, 148px, 146px, '../images/sprite.png', 'icon-clock-gray', );
$icon-compare-name: 'icon-compare';
$icon-compare-x: 108px;
$icon-compare-y: 23px;
$icon-compare-offset-x: -108px;
$icon-compare-offset-y: -23px;
$icon-compare-width: 22px;
$icon-compare-height: 25px;
$icon-compare-total-width: 148px;
$icon-compare-total-height: 146px;
$icon-compare-image: '../images/sprite.png';
$icon-compare: (108px, 23px, -108px, -23px, 22px, 25px, 148px, 146px, '../images/sprite.png', 'icon-compare', );
$icon-fax-gray-name: 'icon-fax-gray';
$icon-fax-gray-x: 81px;
$icon-fax-gray-y: 0px;
$icon-fax-gray-offset-x: -81px;
$icon-fax-gray-offset-y: 0px;
$icon-fax-gray-width: 27px;
$icon-fax-gray-height: 27px;
$icon-fax-gray-total-width: 148px;
$icon-fax-gray-total-height: 146px;
$icon-fax-gray-image: '../images/sprite.png';
$icon-fax-gray: (81px, 0px, -81px, 0px, 27px, 27px, 148px, 146px, '../images/sprite.png', 'icon-fax-gray', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 134px;
$icon-fb-y: 0px;
$icon-fb-offset-x: -134px;
$icon-fb-offset-y: 0px;
$icon-fb-width: 14px;
$icon-fb-height: 26px;
$icon-fb-total-width: 148px;
$icon-fb-total-height: 146px;
$icon-fb-image: '../images/sprite.png';
$icon-fb: (134px, 0px, -134px, 0px, 14px, 26px, 148px, 146px, '../images/sprite.png', 'icon-fb', );
$icon-google-name: 'icon-google';
$icon-google-x: 108px;
$icon-google-y: 48px;
$icon-google-offset-x: -108px;
$icon-google-offset-y: -48px;
$icon-google-width: 21px;
$icon-google-height: 22px;
$icon-google-total-width: 148px;
$icon-google-total-height: 146px;
$icon-google-image: '../images/sprite.png';
$icon-google: (108px, 48px, -108px, -48px, 21px, 22px, 148px, 146px, '../images/sprite.png', 'icon-google', );
$icon-home-name: 'icon-home';
$icon-home-x: 57px;
$icon-home-y: 88px;
$icon-home-offset-x: -57px;
$icon-home-offset-y: -88px;
$icon-home-width: 17px;
$icon-home-height: 14px;
$icon-home-total-width: 148px;
$icon-home-total-height: 146px;
$icon-home-image: '../images/sprite.png';
$icon-home: (57px, 88px, -57px, -88px, 17px, 14px, 148px, 146px, '../images/sprite.png', 'icon-home', );
$icon-icon-1-white-name: 'icon-icon-1-white';
$icon-icon-1-white-x: 92px;
$icon-icon-1-white-y: 88px;
$icon-icon-1-white-offset-x: -92px;
$icon-icon-1-white-offset-y: -88px;
$icon-icon-1-white-width: 12px;
$icon-icon-1-white-height: 12px;
$icon-icon-1-white-total-width: 148px;
$icon-icon-1-white-total-height: 146px;
$icon-icon-1-white-image: '../images/sprite.png';
$icon-icon-1-white: (92px, 88px, -92px, -88px, 12px, 12px, 148px, 146px, '../images/sprite.png', 'icon-icon-1-white', );
$icon-icon-2-white-name: 'icon-icon-2-white';
$icon-icon-2-white-x: 117px;
$icon-icon-2-white-y: 88px;
$icon-icon-2-white-offset-x: -117px;
$icon-icon-2-white-offset-y: -88px;
$icon-icon-2-white-width: 13px;
$icon-icon-2-white-height: 11px;
$icon-icon-2-white-total-width: 148px;
$icon-icon-2-white-total-height: 146px;
$icon-icon-2-white-image: '../images/sprite.png';
$icon-icon-2-white: (117px, 88px, -117px, -88px, 13px, 11px, 148px, 146px, '../images/sprite.png', 'icon-icon-2-white', );
$icon-icon-3-white-name: 'icon-icon-3-white';
$icon-icon-3-white-x: 134px;
$icon-icon-3-white-y: 68px;
$icon-icon-3-white-offset-x: -134px;
$icon-icon-3-white-offset-y: -68px;
$icon-icon-3-white-width: 14px;
$icon-icon-3-white-height: 14px;
$icon-icon-3-white-total-width: 148px;
$icon-icon-3-white-total-height: 146px;
$icon-icon-3-white-image: '../images/sprite.png';
$icon-icon-3-white: (134px, 68px, -134px, -68px, 14px, 14px, 148px, 146px, '../images/sprite.png', 'icon-icon-3-white', );
$icon-icon-4-blue-name: 'icon-icon-4-blue';
$icon-icon-4-blue-x: 134px;
$icon-icon-4-blue-y: 95px;
$icon-icon-4-blue-offset-x: -134px;
$icon-icon-4-blue-offset-y: -95px;
$icon-icon-4-blue-width: 12px;
$icon-icon-4-blue-height: 12px;
$icon-icon-4-blue-total-width: 148px;
$icon-icon-4-blue-total-height: 146px;
$icon-icon-4-blue-image: '../images/sprite.png';
$icon-icon-4-blue: (134px, 95px, -134px, -95px, 12px, 12px, 148px, 146px, '../images/sprite.png', 'icon-icon-4-blue', );
$icon-icon-5-blue-name: 'icon-icon-5-blue';
$icon-icon-5-blue-x: 104px;
$icon-icon-5-blue-y: 88px;
$icon-icon-5-blue-offset-x: -104px;
$icon-icon-5-blue-offset-y: -88px;
$icon-icon-5-blue-width: 13px;
$icon-icon-5-blue-height: 11px;
$icon-icon-5-blue-total-width: 148px;
$icon-icon-5-blue-total-height: 146px;
$icon-icon-5-blue-image: '../images/sprite.png';
$icon-icon-5-blue: (104px, 88px, -104px, -88px, 13px, 11px, 148px, 146px, '../images/sprite.png', 'icon-icon-5-blue', );
$icon-infav-name: 'icon-infav';
$icon-infav-x: 108px;
$icon-infav-y: 0px;
$icon-infav-offset-x: -108px;
$icon-infav-offset-y: 0px;
$icon-infav-width: 26px;
$icon-infav-height: 23px;
$icon-infav-total-width: 148px;
$icon-infav-total-height: 146px;
$icon-infav-image: '../images/sprite.png';
$icon-infav: (108px, 0px, -108px, 0px, 26px, 23px, 148px, 146px, '../images/sprite.png', 'icon-infav', );
$icon-letter-name: 'icon-letter';
$icon-letter-x: 34px;
$icon-letter-y: 88px;
$icon-letter-offset-x: -34px;
$icon-letter-offset-y: -88px;
$icon-letter-width: 23px;
$icon-letter-height: 14px;
$icon-letter-total-width: 148px;
$icon-letter-total-height: 146px;
$icon-letter-image: '../images/sprite.png';
$icon-letter: (34px, 88px, -34px, -88px, 23px, 14px, 148px, 146px, '../images/sprite.png', 'icon-letter', );
$icon-littlecart-name: 'icon-littlecart';
$icon-littlecart-x: 53px;
$icon-littlecart-y: 62px;
$icon-littlecart-offset-x: -53px;
$icon-littlecart-offset-y: -62px;
$icon-littlecart-width: 27px;
$icon-littlecart-height: 24px;
$icon-littlecart-total-width: 148px;
$icon-littlecart-total-height: 146px;
$icon-littlecart-image: '../images/sprite.png';
$icon-littlecart: (53px, 62px, -53px, -62px, 27px, 24px, 148px, 146px, '../images/sprite.png', 'icon-littlecart', );
$icon-online-gray-name: 'icon-online-gray';
$icon-online-gray-x: 0px;
$icon-online-gray-y: 0px;
$icon-online-gray-offset-x: 0px;
$icon-online-gray-offset-y: 0px;
$icon-online-gray-width: 30px;
$icon-online-gray-height: 30px;
$icon-online-gray-total-width: 148px;
$icon-online-gray-total-height: 146px;
$icon-online-gray-image: '../images/sprite.png';
$icon-online-gray: (0px, 0px, 0px, 0px, 30px, 30px, 148px, 146px, '../images/sprite.png', 'icon-online-gray', );
$icon-search-big-name: 'icon-search-big';
$icon-search-big-x: 81px;
$icon-search-big-y: 27px;
$icon-search-big-offset-x: -81px;
$icon-search-big-offset-y: -27px;
$icon-search-big-width: 27px;
$icon-search-big-height: 27px;
$icon-search-big-total-width: 148px;
$icon-search-big-total-height: 146px;
$icon-search-big-image: '../images/sprite.png';
$icon-search-big: (81px, 27px, -81px, -27px, 27px, 27px, 148px, 146px, '../images/sprite.png', 'icon-search-big', );
$icon-search-middle-name: 'icon-search-middle';
$icon-search-middle-x: 0px;
$icon-search-middle-y: 129px;
$icon-search-middle-offset-x: 0px;
$icon-search-middle-offset-y: -129px;
$icon-search-middle-width: 17px;
$icon-search-middle-height: 17px;
$icon-search-middle-total-width: 148px;
$icon-search-middle-total-height: 146px;
$icon-search-middle-image: '../images/sprite.png';
$icon-search-middle: (0px, 129px, 0px, -129px, 17px, 17px, 148px, 146px, '../images/sprite.png', 'icon-search-middle', );
$icon-search-name: 'icon-search';
$icon-search-x: 54px;
$icon-search-y: 27px;
$icon-search-offset-x: -54px;
$icon-search-offset-y: -27px;
$icon-search-width: 27px;
$icon-search-height: 27px;
$icon-search-total-width: 148px;
$icon-search-total-height: 146px;
$icon-search-image: '../images/sprite.png';
$icon-search: (54px, 27px, -54px, -27px, 27px, 27px, 148px, 146px, '../images/sprite.png', 'icon-search', );
$icon-slider-arrow-blue-name: 'icon-slider-arrow-blue';
$icon-slider-arrow-blue-x: 46px;
$icon-slider-arrow-blue-y: 32px;
$icon-slider-arrow-blue-offset-x: -46px;
$icon-slider-arrow-blue-offset-y: -32px;
$icon-slider-arrow-blue-width: 8px;
$icon-slider-arrow-blue-height: 13px;
$icon-slider-arrow-blue-total-width: 148px;
$icon-slider-arrow-blue-total-height: 146px;
$icon-slider-arrow-blue-image: '../images/sprite.png';
$icon-slider-arrow-blue: (46px, 32px, -46px, -32px, 8px, 13px, 148px, 146px, '../images/sprite.png', 'icon-slider-arrow-blue', );
$icon-slider-arrow-gray-name: 'icon-slider-arrow-gray';
$icon-slider-arrow-gray-x: 134px;
$icon-slider-arrow-gray-y: 26px;
$icon-slider-arrow-gray-offset-x: -134px;
$icon-slider-arrow-gray-offset-y: -26px;
$icon-slider-arrow-gray-width: 12px;
$icon-slider-arrow-gray-height: 21px;
$icon-slider-arrow-gray-total-width: 148px;
$icon-slider-arrow-gray-total-height: 146px;
$icon-slider-arrow-gray-image: '../images/sprite.png';
$icon-slider-arrow-gray: (134px, 26px, -134px, -26px, 12px, 21px, 148px, 146px, '../images/sprite.png', 'icon-slider-arrow-gray', );
$icon-slider-arrow-name: 'icon-slider-arrow';
$icon-slider-arrow-x: 134px;
$icon-slider-arrow-y: 47px;
$icon-slider-arrow-offset-x: -134px;
$icon-slider-arrow-offset-y: -47px;
$icon-slider-arrow-width: 12px;
$icon-slider-arrow-height: 21px;
$icon-slider-arrow-total-width: 148px;
$icon-slider-arrow-total-height: 146px;
$icon-slider-arrow-image: '../images/sprite.png';
$icon-slider-arrow: (134px, 47px, -134px, -47px, 12px, 21px, 148px, 146px, '../images/sprite.png', 'icon-slider-arrow', );
$icon-tel-gray-name: 'icon-tel-gray';
$icon-tel-gray-x: 0px;
$icon-tel-gray-y: 88px;
$icon-tel-gray-offset-x: 0px;
$icon-tel-gray-offset-y: -88px;
$icon-tel-gray-width: 16px;
$icon-tel-gray-height: 25px;
$icon-tel-gray-total-width: 148px;
$icon-tel-gray-total-height: 146px;
$icon-tel-gray-image: '../images/sprite.png';
$icon-tel-gray: (0px, 88px, 0px, -88px, 16px, 25px, 148px, 146px, '../images/sprite.png', 'icon-tel-gray', );
$icon-tel-name: 'icon-tel';
$icon-tel-x: 30px;
$icon-tel-y: 32px;
$icon-tel-offset-x: -30px;
$icon-tel-offset-y: -32px;
$icon-tel-width: 16px;
$icon-tel-height: 25px;
$icon-tel-total-width: 148px;
$icon-tel-total-height: 146px;
$icon-tel-image: '../images/sprite.png';
$icon-tel: (30px, 32px, -30px, -32px, 16px, 25px, 148px, 146px, '../images/sprite.png', 'icon-tel', );
$icon-tofav-name: 'icon-tofav';
$icon-tofav-x: 80px;
$icon-tofav-y: 62px;
$icon-tofav-offset-x: -80px;
$icon-tofav-offset-y: -62px;
$icon-tofav-width: 26px;
$icon-tofav-height: 23px;
$icon-tofav-total-width: 148px;
$icon-tofav-total-height: 146px;
$icon-tofav-image: '../images/sprite.png';
$icon-tofav: (80px, 62px, -80px, -62px, 26px, 23px, 148px, 146px, '../images/sprite.png', 'icon-tofav', );
$icon-user-name: 'icon-user';
$icon-user-x: 0px;
$icon-user-y: 62px;
$icon-user-offset-x: 0px;
$icon-user-offset-y: -62px;
$icon-user-width: 26px;
$icon-user-height: 26px;
$icon-user-total-width: 148px;
$icon-user-total-height: 146px;
$icon-user-image: '../images/sprite.png';
$icon-user: (0px, 62px, 0px, -62px, 26px, 26px, 148px, 146px, '../images/sprite.png', 'icon-user', );
$icon-zoom-name: 'icon-zoom';
$icon-zoom-x: 134px;
$icon-zoom-y: 82px;
$icon-zoom-offset-x: -134px;
$icon-zoom-offset-y: -82px;
$icon-zoom-width: 13px;
$icon-zoom-height: 13px;
$icon-zoom-total-width: 148px;
$icon-zoom-total-height: 146px;
$icon-zoom-image: '../images/sprite.png';
$icon-zoom: (134px, 82px, -134px, -82px, 13px, 13px, 148px, 146px, '../images/sprite.png', 'icon-zoom', );
$spritesheet-width: 148px;
$spritesheet-height: 146px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-9dotted, $icon-arrow-down-gray, $icon-arrow-left-gray, $icon-arrow-right, $icon-arrow-right2, $icon-arrow-right3, $icon-balloon-gray, $icon-balloon, $icon-camera, $icon-caret, $icon-cart-blue, $icon-clock-gray, $icon-compare, $icon-fax-gray, $icon-fb, $icon-google, $icon-home, $icon-icon-1-white, $icon-icon-2-white, $icon-icon-3-white, $icon-icon-4-blue, $icon-icon-5-blue, $icon-infav, $icon-letter, $icon-littlecart, $icon-online-gray, $icon-search-big, $icon-search-middle, $icon-search, $icon-slider-arrow-blue, $icon-slider-arrow-gray, $icon-slider-arrow, $icon-tel-gray, $icon-tel, $icon-tofav, $icon-user, $icon-zoom, );
$spritesheet: (148px, 146px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
